@import "../../components/mixins/settings";
@import "../../components/mixins/utilities.states";

/* bootstrap mixins */
@import "../../bootstrap/scss/mixins/_buttons";
@import "../../vars";

@mixin hs-button {
  display: inline-block;
  font-family: $hs-button-font-family;
  font-weight: $hs-button-font-weight;
  color: $body-color;
  text-align: center;
  text-decoration: if($link-decoration == none, null, none);
  white-space: $hs-button-white-space;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: $hs-button-border-width solid transparent;
}

@mixin card-button-color($hs-button-background-color: $hs-button-background-color, $hs-theme-color-text: $hs-button-color) {
  color: $hs-theme-color-text;
  background-color: $hs-button-background-color;
  border: $hs-button-border;

  &.hs-card-button--active {
    background-color: darken($hs-button-background-color, $hs-theme-color-text-tint);
  }

  &:not(:disabled):not([disabled]) {
    &:not(:active) {
      &:hover {
        background-color: lighten($hs-button-background-color, $hs-theme-color-text-tint);
      }
    }

    &:focus {
      border-color: $hs-button-focus-border-color;
      box-shadow: $hs-button-focus-box-shadow;
    }

    &:active {
      background-color: darken($hs-button-background-color, $hs-theme-color-text-tint);
    }
  }
}

@mixin hs-card-button--ghost($hs-theme-color-text: $hs-button-ghost-color, $hs-theme-color-text-hover: $hs-button-ghost-hover-color) {
  color: $hs-theme-color-text;
  background-color: transparent;
  border: $hs-button-ghost-border-width $hs-button-ghost-border-style $hs-theme-color-text;

  &.hs-card-button--active {
    color: $hs-theme-color-text-hover;
    background-color: darken($hs-theme-color-text, $hs-theme-color-text-tint);
    border-color: darken($hs-theme-color-text, $hs-theme-color-text-tint);
  }

  &:not(:disabled):not([disabled]) {
    &:not(:active) {
      &:hover {
        color: $hs-theme-color-text-hover;
        background-color: $hs-theme-color-text;
      }
    }

    &:focus {
      border-color: $hs-button-focus-border-color;
      box-shadow: $hs-button-focus-box-shadow;
    }

    &:active {
      color: $hs-theme-color-text-hover;
      background-color: darken($hs-theme-color-text, $hs-theme-color-text-tint);
      border-color: darken($hs-theme-color-text, $hs-theme-color-text-tint);
    }
  }
}
