@import 'settings';
@import 'utilities.visibility';

@mixin grid {
  @include display-flex;
}

@mixin grid--wrap {
  flex-wrap: wrap;
}

@mixin grid--top {
  align-items: flex-start;
}

@mixin grid--center {
  align-items: center;
}

@mixin grid--bottom {
  align-items: flex-end;
}

@mixin grid_cell {
  flex: 1;
  padding-right: $grid-gutter;
  padding-left: $grid-gutter;
}

@mixin grid_cell--no-gutter {
  padding-right: 0.001em;
  padding-left: 0.001em;
}

@mixin grid_cell--top {
  align-self: flex-start;
}

@mixin grid_cell--center {
  align-self: center;
}

@mixin grid_cell--bottom {
  align-self: flex-end;
}

@mixin grid_cell--width-fixed {
  flex: 0 1 auto;
}

@mixin grid_cell--fit {
  flex: 1;
}

@mixin grid--full {
  flex-wrap: wrap;
}

@mixin grid_cell--full {
  flex: 0 0 100%;
  max-width: 100%;
  margin-left: 0;
}

@mixin grid_cell--auto {
  flex: auto;
}

@mixin grid_cell--hidden {
  @include display-none;
}

@mixin grid_cell--visible {
  @include display-initial;
}

@mixin grid_cell--width($width) {
  flex: 0 0 $width;
  max-width: $width;
}

@mixin grid_cells {
  @each $width, $fraction in $grid-widths {
    &--width-#{$width} {
      @include grid_cell--width($fraction * 100%);
    }

    &--offset-#{$width} {
      margin-left: $fraction * 100%;
    }
  }
}

@mixin grid_responsive-cells($screen-width) {
  @each $width, $fraction in $grid-widths {
    &--hidden\@#{$screen-width} {
      @include grid_cell--hidden;
    }

    &--visible\@#{$screen-width} {
      @include grid_cell--visible;
    }

    &--width-#{$width}\@#{$screen-width} {
      flex: 0 0 $fraction * 100%;
      max-width: $fraction * 100%;
    }

    &--offset-#{$width}\@#{$screen-width} {
      margin-left: $fraction * 100%;
    }

    &--width-fixed\@#{$screen-width} {
      @include grid_cell--width-fixed;
    }
  }
}
