.hs-ranking-bar-container {
  width: 400px;
  margin: 60px auto;
  text-align: center;

  .hs-ranking {
    width: 400px;
    margin: 0 auto;
  }
}

.hs-ranking {
  padding: 3px;
  margin-top: 6px;
  font-size: 10px;
  text-align: left;
  text-transform: uppercase;
  background: var(--hs-gray);
  //Instead of the line below you could use @include border-radius(var(--hs-radius, var(--hs-vertical-radius)
  border-radius: 0px;
  //Instead of the line below you could use @include box-shadow(var(--hs-shadow-1, var(--hs-shadow-2, var(--hs-shadow-3, var(--hs-shadow-4, var(--hs-shadow-5, var(--hs-shadow-6, var(--hs-shadow-7, var(--hs-shadow-8, var(--hs-shadow-9, var(--hs-shadow-10)
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px rgba(255, 255, 255, 0.16);
}

.hs-ranking-bar {
  position: relative;
  height: 10px;
  padding-left: 10px;
  font-size: 9px;
  font-weight: 700;
  line-height: 10px;
  color: #2e2e2e;
  background-image: linear-gradient(to right, #e8921e, #f2d32f, var(--hs-color_lime));
  border-radius: 0px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  transition: 0.4s linear;
  transition-property: width, background-color;

  &::before {
    position: absolute;
    top: -21px;
    right: -6px;
    z-index: 99;
    display: inline-block;
    padding: 4px 8px 4px 8px;
    color: var(--hs-white);
    content: attr(data-level);
    background-color: #404040;
    // transform: translateX(-50%);
  }

  &::after {
    position: absolute;
    top: -2px;
    right: 0;
    z-index: 99;
    width: 0;
    height: 0;
    content: "";
    border-top: 6px solid #404040;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    // transform: translateX(-50%);
  }
}

.hs-radio {
  display: none;

  &:checked + .label {
    color: white;
    background: rgba(0, 0, 0, 0.25);
  }
}

.hs-label {
  display: inline-block;
  padding: 3px 8px;
  margin: 0 5px 20px;
  color: #aaa;
  //Instead of the line below you could use @include text-shadow(var(--hs-shadow-1, var(--hs-shadow-2, var(--hs-shadow-3, var(--hs-shadow-4, var(--hs-shadow-5, var(--hs-shadow-6, var(--hs-shadow-7, var(--hs-shadow-8, var(--hs-shadow-9, var(--hs-shadow-10)
  text-shadow: 0 1px black;
  cursor: pointer;
  visibility: hidden;
  //Instead of the line below you could use @include border-radius(var(--hs-radius, var(--hs-vertical-radius)
  border-radius: 0px;
}

#five:checked ~ .hs-ranking > .hs-ranking-bar {
  width: 5%;
  background-color: var(---hs-color_red-orange);
}

#twentyfive:checked ~ .hs-ranking > .hs-ranking-bar {
  width: 25%;
  background-color: var(---hs-color_orange);
}

#fifty:checked ~ .hs-ranking > .hs-ranking-bar {
  width: 50%;
  background-color: var(--hs-color_dark-yellow);
}

#seventyfive:checked ~ .hs-ranking > .hs-ranking-bar {
  width: 75%;
  background-color: var(--hs-color_yellow);
}

#onehundred:checked ~ .hs-ranking > .hs-ranking-bar {
  width: 100%;
  background-color: var(--hs-color_lime);
}
