# directories
node_modules/
**/src/DevBox/**
**/www/**
**/*/_notes/
src/js/temp/
src/js/.bin/
dist/
.dist/
.backup/
**/backup/**
.sass-cache/
.vscode/
src/js/modules/ez-form/ezform.config.json
.cache/

# files
**/*Zone.Identifier
*.Identifier
.DS_Store
