.hs-flip-scene {
  width: 200px;
  height: 260px;
  margin: 40px 0;
  perspective: 600px;
}

.hs-flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.hs-flip-card.is-flipped {
  transform: rotateY(180deg);
}

.hs-flip-card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hs-flip-card__face--front {
  background: rgba(0, 0, 0, .75);
}

.hs-flip-card__face--back {
  background: rgba(0, 0, 0, .75);
  transform: rotateY(180deg);
}
