@import '../vars';
:root {
  // font
  @font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Code Pro'), local('SourceCodePro-Regular'), url('Source-Code-Pro.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Source Code Pro Bold'), local('SourceCodePro-Bold'), url('Source-Code-Pro-bold.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  // css variables
  --hs-flip2code-color-core-blue-60: #0c77ba;
  --hs-flip2code-color-core-blue-70: #0a649d;
  --hs-flip2code-color-core-blue-90: #064063;
  --hs-flip2code-color-core-neutral-13: #f2f2f2;
  --hs-flip2code-color-core-neutral-17: #ededed;
  --hs-flip2code-color-core-neutral-20: #dedede;
  --hs-flip2code-color-core-neutral-60: #7a7a7a;
  --hs-flip2code-color-core-neutral-90: #2e2e2e;
  --hs-flip2code-color-core-muted-yellow-90: #fdbc2c;
  --hs-flip2code-color-background-light-layer0-base: #f8f8f8;
  --hs-flip2code-color-border-lightest: #dedede;
  --hs-flip2code-color-brand-orange-base: #c55422;
  --hs-flip2code-color-brand-yellow-darker: #e0ac00;
  --hs-flip2code-color-brand-green-base: #2c6937;
  --hs-flip2code-color-brand-green-darker: #074512;
  --hs-flip2code-color-core-red-50: #bd2b2b;
  --hs-flip2code-color-core-red-40: #cc3535;
  --hs-flip2code-color-background-code: #282c34;
  --hs-flip2code-highlight-code-font-family: 'Source Code Pro', sans-serif, monospace;
  --hs-flip2code-highlight-code-font-size: 1.01rem;
  --hs-flip2code-highlight-code-line-height: 1.75rem;
  --hs-flip2code-c-button--showMore-padding: 2px 10px 4px 10px;
}

.hs-flip2Code-card__scene {
  position: relative;
  display: flex;
  align-self: stretch;
  width: 100%;
  height: 100%;
  margin: 0;
  // border: 3px solid transparent;
  background: var(--hs-black--a90);
  perspective: 600px;
  transition: all .5s ease-out;
  &:hover {
    box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);
    -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0); 
    -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0); 
  }
}

.hs-flip2Code-card {
  flex: 1 1 auto;
  align-self: stretch;
  width: 100%;
  height: 100%;
  transition: all .5s ease-in;
  transform-style: preserve-3d;
  .hs-flip2Code-card__face--front {
    // background: var(--hs-black--a90);
    display: block;
    opacity: 1;
    transition: all .5s ease-out;

  }
  .hs-flip2Code-card__face--back {
    display: none;
    opacity: 0;
    transition: all .5s ease-in;

  }
  &.is-flipped {
    transition: all .5s ease-out;
    transform: rotateY(180deg);
    .hs-flip2Code-card__face--front {
      display: none;
      width: 0;
      height: 0;
      opacity: 0;
      transition: all .5s ease-in;
    }
    .hs-flip2Code-card__face--back {
      display: block;
      padding: 0;
      opacity: 1;
      transition: all .5s ease-in;
      transform: rotateY(180deg);
    }
  }

  .hs-flip2Code-card__face--back {
    &:focus {
      border: 3px solid var(--hs-flip2code-color-brand-yellow-darker);
    }  
  }
}

.hs-flip2Code-card__face {
  position: absolute;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  transition: all .5s ease-out;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;

} 

// .hs-flip2Code-card__face--front {
//   background: var(--hs-black--a90);
//   transition: all .5s ease-in-out;
// }

// .hs-flip2Code-card__face--back {
//   background: var(--hs-black--a90);
//   transition: all .5s ease-in-out;
//   // opacity: 0;
//   transform: rotateY(180deg);
// }

div[slot="front"] {
  flex: 1 1 auto;
  align-items: stretch;
  align-self: stretch;
}

.flip2code-backslot,
div[slot="back"] {
  flex: 1 1 auto;
  align-items: stretch;
  align-self: stretch;
  overflow: hidden;
  overflow-y: auto;
}

.hs-flip2Code-toolbar {
  position: absolute;
  top: 1px;
  right: 1px;
  z-index: 100;
  // padding: 0 1.9rem;
  margin: 0;
  width: 100%;
  text-align: right;
  align-content: flex-end;
  background: var(--hs-black--a90);

  .hs-flip2Code-button {
    padding: .2rem .5rem .2em;
    margin: 0;
    font-family: var(--hs-font-primary);
    font-size: .8rem;
    color: var(--hs-white--a60);
    text-decoration: none;
    background-color: var(--hs-black--a50);
    border-top: 3px solid var(--hs-black);
    border-right: 3px solid var(--hs-black);
    border-bottom: 3px solid var(--hs-black);
    border-left: 3px solid var(--hs-black);
    &:hover {
      color: rgba(242, 176, 30, .90);
      cursor: pointer;
      background: var(--hs-black--a75);
      border-bottom: 3px solid rgba(242, 176, 30, 0.75);
      border-left: 3px solid rgba(254, 211, 54, 0.75);
    }
    &:focus {
      background: var(--hs-black--a75);
      border-top: 3px solid var(--hs-black);
      border-right: 3px solid var(--hs-black);
      border-bottom: 3px solid rgba(254, 211, 54, 0.95);
      border-left: 3px solid rgba(254, 211, 54, 0.95);
      outline-width: 0;
      outline-color: var(--primary)
    }
    &:not(:last-child) {
      margin-right: 2px;
    }
  }
}


// .hs-flip2Code-card.is-flipped + .hs-flip2Code-card__face--back {
//   background: var(--hs-black--a75);
// }



/*
  Atom One Dark by Daniel Gamage
  Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax
  base:    #282c34
  mono-1:  #abb2bf
  mono-2:  #818896
  mono-3:  #5c6370
  hue-1:   #56b6c2
  hue-2:   #61aeee
  hue-3:   #c678dd
  hue-4:   #98c379
  hue-5:   #e06c75
  hue-5-2: #be5046
  hue-6:   #d19a66
  hue-6-2: #e6c07b
  */

#flip2CodeSnipp.flip2CodeSnipp {
  display: flex;
  align-items: stretch;
  align-self: stretch;
  height: 100%;
  background: var(--hs-black--a75);
  transition: all .25s ease-in-out;
}
.flip2CodeSnipp > .hs-pre {
  display: flex;
  flex: 1 1 auto;
  align-items: stretch;
  align-self: stretch;
  height: 100%;
  min-height: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: pre;
  background: var(--hs-black--a75);
  transition: all .25s ease-in-out;
}

.hs-code {
  display: block;
  flex: 1 1 auto;
  align-self: stretch;
  width: 100%;
  height: 100%;
  padding: 1em;
  font-family: monospace;
  font-size: 1em;
  line-height: normal;
  color: var(--hs-white);
  white-space: nowrap;
  transition: all .25s ease-in-out;
}
.flip2CodeSnipp > .hs-pre > .hs-code > .hs-pre-post {
  // overflow-y: hidden;
  white-space: nowrap;
  transition: all .25s ease-in-out;
}

.disappear {
  width: 0px;
  height: 0px;
  opacity: 0;
}
.remove {
  display: none;
}

span.flip2code-highlight-code-anchor-hidden {
  visibility: hidden;
}


/* Prism style override */

/**
     * heathscript-dark theme for `prism.js`
     * Based on Atom's `atom-dark` theme: https://github.com/atom/atom-dark-syntax
     * @author Heath Shults
     */
.language-css .token.string:not(.hs-flip2code-code-line),
.style .token.string:not(.hs-flip2code-code-line),
.token.entity:not(.hs-flip2code-code-line),
.token.operator:not(.hs-flip2code-code-line),
.token.url:not(.hs-flip2code-code-line) {
  background: inherit;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--hs-flip2code-code-token-comment, #6f705e);
}

.token.punctuation {
  color: var(--hs-flip2code-code-token-punctuation, #edede7);
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--hs-flip2code-code-token-property, #e25e88);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--hs-flip2code-code-token-selector, #f3ac9f);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--hs-flip2code-code-token-operator, #a2a2ff);
}

.token.keyword {
  color: vaf(--hs-flip2code-code-token-keyword, #7a7afe);
}

.token.atrule,
.token.attr-value {
  color: var(--hs-flip2code-code-token-atrule, #f0e9ab);
}

.token.function,
.token.class-name {
  color: var(--hs-flip2code-code-token-function, #eb3c42);
}
.token.regex,
.token.important,
.token.variable {
  color: var(--hs-flip2code-code-token-regex, #e90);
}




// // .hljs {
// //   display: block;
// //   padding: 0.5em;
// //   overflow-x: auto;
// //   color: #abb2bf;
// //   background: #282c34;
// // }

// // .hljs-comment,
// // .hljs-quote {
// //   font-style: italic;
// //   color: #5c6370;
// // }

// // .hljs-doctag,
// // .hljs-keyword,
// // .hljs-formula {
// //   color: #c678dd;
// // }

// // .hljs-section,
// // .hljs-name,
// // .hljs-selector-tag,
// // .hljs-deletion,
// // .hljs-subst {
// //   color: #e06c75;
// // }

// // .hljs-literal {
// //   color: #56b6c2;
// // }

// // .hljs-string,
// // .hljs-regexp,
// // .hljs-addition,
// // .hljs-attribute,
// // .hljs-meta-string {
// //   color: #98c379;
// // }

// // .hljs-built_in,
// // .hljs-class .hljs-title {
// //   color: #e6c07b;
// // }

// // .hljs-attr,
// // .hljs-variable,
// // .hljs-template-variable,
// // .hljs-type,
// // .hljs-selector-class,
// // .hljs-selector-attr,
// // .hljs-selector-pseudo,
// // .hljs-number {
// //   color: #d19a66;
// // }

// // .hljs-symbol,
// // .hljs-bullet,
// // .hljs-link,
// // .hljs-meta,
// // .hljs-selector-id,
// // .hljs-title {
// //   color: #61aeee;
// // }

// // .hljs-emphasis {
// //   font-style: italic;
// // }

// // .hljs-strong {
// //   font-weight: bold;
// // }

// // .hljs-link {
// //   text-decoration: underline;
// // }

