@import 'mixins/components.toggles';
 
.hs-toggle {
  @include grid;
  @include grid--center;

  width: auto;
  user-select: none;

  input:not(:checked) + .hs-toggle_track {
    background-color: $toggle-track-unchecked-background-color;

    .hs-toggle_handle {
      transform: translateZ(0);
    }
  }

  input:disabled + .hs-toggle_track {
    background-color: $toggle-track-disabled-background-color;
    cursor: not-allowed;

    .hs-toggle_handle {
      background-color: $toggle-handle-disabled-background-color;
      cursor: not-allowed;
    }
  }

  input:focus + .hs-toggle_track {
    border-color: $toggle-focus-border-color;
    box-shadow: $toggle-focus-box-shadow;

    .hs-toggle_handle {
      border-color: $toggle-focus-border-color;
      box-shadow: $toggle-focus-box-shadow;
    }
  }
}

.hs-toggle--brand .hs-toggle_track {
  @include toggle_track--background-color($toggle-track-brand-background-color);
}

.hs-toggle--info .hs-toggle_track {
  @include toggle_track--background-color($toggle-track-info-background-color);
}

.hs-toggle--warning .hs-toggle_track {
  @include toggle_track--background-color($toggle-track-warning-background-color);
}

.hs-toggle--success .hs-toggle_track {
  @include toggle_track--background-color($toggle-track-success-background-color);
}

.hs-toggle--error .hs-toggle_track {
  @include toggle_track--background-color($toggle-track-error-background-color);
}

.hs-toggle input {
  position: absolute;
  opacity: 0;
}

.hs-toggle_track {
  @include grid_cell;
  @include grid_cell--width-fixed;
  @include toggle_track--background-color;

  position: relative;
  width: 1em;
  height: 0.5em;
  margin: $toggle-margin;
  border-radius: $toggle-track-border-radius;
}

.hs-toggle_handle {
  position: absolute;
  top: -0.25em;
  left: 0;
  width: 1em;
  height: 1em;
  background-color: $toggle-handle-background-color;
  border-radius: $toggle-handle-border-radius;
  box-shadow: $toggle-handle-box-shadow;
  transform: translateX(100%);
}
