@import "../../scss/vars";
// Styling for the footer

.hs-card_footer {
  display: flex;
  flex-basis: 100%;
  width: 100%;
  padding: 0;
  overflow: hidden;
  font-size: 0.84rem;
  line-height: 1.2;
  background-color: $hs-card-footer-bg;
  border-top: $hs-card-border-width solid $hs-card-border-color;
  .hs-card_content {
    width: 95%;
    padding: $hs-spacing--sm;
    margin: auto;
    font-size: 0.84rem;
    line-height: 1.2;
    text-align: left;
    // background-color: $hs-white;
  }

  &:last-child {
    @include border-radius(0 0 $hs-card-inner-border-radius $hs-card-inner-border-radius);
  }

  &.dark {
    background-color: $hs-blueGray-dark;
  }

  .hs-logo-row--footer ul.flex-container.space-between {
    display: flex;
    align-items: center;
    max-width: 90%;
    padding: 0;
    margin: 0;
    list-style: none;

    li.flex-item {
      display: inline-block;
      flex: 1 1 auto;
      width: auto;
    }
  }
}

.hs-card_footer:not(:last-child) {
  border-bottom-right-radius: 0;
}
.hs-card_footer:not(:first-child) {
  border-bottom-left-radius: 0;
}

.footer-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin: 0px 10px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  list-style: none;
  .flex-item {
    flex: none;
  }
}
