.hs-card_body {
  flex: 1 1 auto;
  width: $hs-card-width;
  overflow: hidden;
  font-size: .84rem;
  line-height: 1.2;
  color: $hs-card-color;
  background: $hs-card-body-bg;

  .hs-card_content {
    width: 95%;
    padding: rem(12px) $hs-spacing--md;
    margin: .725rem .725rem;
    font-size: .84rem;
    line-height: 1.2;
    text-align: left;
    background-color: $hs-white;
  }

  .hs-card_title {
    margin-bottom: $hs-card-spacer-y;
    font-size: 1.5em;
  }

  .hs-card_subtitle {
    margin-top: -$hs-card-spacer-y / 2;
    margin-bottom: 0;
    font-size: 1.25em
  }

  .hs-card_linkhover {
    text-decoration: none;
  }
}
.hs-card_img,
.hs-card_img--top,
.hs-card_img--bottom {
  flex-shrink: 0; // For IE: https://github.com/twbs/bootstrap/issues/29396
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
}

.hs-card_img,
.hs-card_img--top {
  @include border-top-radius($hs-card-inner-border-radius);
}

.hs-card_img,
.hs-card_img--bottom {
  @include border-bottom-radius($hs-card-inner-border-radius);
}
