// @import "../bootstrap/scss/functions";
// @import "../bootstrap/scss/variables";
// @import "../bootstrap/scss/mixins";

// @import "../variables/maps";
// @import "../variables/functions";
// @import "../variables/colors";
// @import "../variables/mixins";

button {
  border: 1px solid var(--hs-gray-lighter);
}

.hs-card_button {
  display: inline-block;
  font-family: var(--btn-font-family);
  font-size: rem(14px);
  font-weight: var(--btn-font-weight);
  color: var(--body-color);
  text-align: center;
  text-decoration: if($link-decoration == none, null, none);
  white-space: var(--btn-white-space);
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: var(--hs-gray-100);
  border: var(--btn-border-width) solid var(--hs-gray-300);
  box-shadow: var(--hs-shadow--sm);
  @include button-size(var(--btn-padding-y), var(--btn-padding-x), var(--btn-font-size), var(--btn-line-height), var(--btn-border-radius));
  @include transition($btn-transition);

  @include hover() {
    color: var(--body-color);
    text-decoration: none;
    cursor: pointer;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: var(--btn-focus-box-shadow);
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: var(--btn-disabled-opacity);
    @include box-shadow(none);
  }

  &:not(:disabled):not(.disabled) {
    cursor: if($enable-pointer-cursor-for-buttons, pointer, null);

    &:active,
    &.active {
      @include box-shadow(var(--btn-active-box-shadow));

      &:focus {
        @include box-shadow(var(--btn-focus-box-shadow), var(--btn-active-box-shadow));
      }
    }
  }
}

//
// Alternate buttons
//

@each $color, $value in $interaction-colors {
  .hs-card_button.hs-card_button--#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $interaction-colors {
  .hs-card_button.hs-card_button-shadowlined--#{$color} {
    @include button-shadowlined-variant($value, $hs-lightnessMultiplier);
  }
}

// Disabling of clicks on `<a>` elements
a.hs-card_button.disabled,
fieldset:disabled a.hs-card_button {
  pointer-events: none;
}

//
// Block button
//

.hs-card_button-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .hs-card_button-block {
    margin-top: var(--btn-block-spacing-y);
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.hs-card_button-block {
    width: 100%;
  }
}










@keyframes hs-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5)
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@keyframes hs-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px)
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px)
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

@keyframes hs-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px)
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px)
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

.hs-responsive-object {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden
}

.hs-responsive-object::before {
  display: block;
  content: ""
}

.hs-responsive-object .hs-responsive-object-item,
.hs-responsive-object iframe,
.hs-responsive-object embed,
.hs-responsive-object object,
.hs-responsive-object video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0
}

.key::before {
  padding-top: 56.25%
}

.key::before {
  padding-top: 75%
}

.key::before {
  padding-top: 66.66%
}

.key::before {
  padding-top: 100%
}

.hs-scale-proportionate {
  max-width: 100%;
  height: auto
}

button {
  border: 1px solid var(--hs-gray-lighter)
}

.hs-card_button {
  display: inline-block;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  font-family: var(--btn-font-family);
  font-size: 0.875rem;
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  line-height: var(--btn-line-height);
  color: var(--body-color);
  text-align: center;
  white-space: var(--btn-white-space);
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: var(--hs-gray-100);
  border: var(--btn-border-width) solid var(--hs-gray-300);
  border-radius: var(--btn-border-radius);
  box-shadow: var(--hs-shadow--sm);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
}

@media (prefers-reduced-motion: reduce) {
  .hs-card_button {
    transition: none
  }
}

.hs-card_button:hover {
  color: var(--body-color);
  text-decoration: none;
  cursor: pointer
}

.hs-card_button:focus,
.hs-card_button.focus {
  outline: 0;
  box-shadow: var(--btn-focus-box-shadow)
}

.hs-card_button.disabled,
.hs-card_button:disabled {
  opacity: var(--btn-disabled-opacity)
}

.hs-card_button:not(:disabled):not(.disabled) {
  cursor: pointer
}

.hs-card_button.hs-card_button--primary {
  color: #fff;
  background-color: #fed136;
  border-color: #fed136
}

.hs-card_button.hs-card_button--primary:hover {
  color: #fff;
  background-color: #fec912;
  border-color: #fec503
}

.hs-card_button.hs-card_button--primary:focus,
.hs-card_button.hs-card_button--primary.focus {
  color: #fff;
  background-color: #fec912;
  border-color: #fec503;
  box-shadow: 0 0 0 0.2rem rgba(254, 216, 84, 0.5)
}

.hs-card_button.hs-card_button--primary.disabled,
.hs-card_button.hs-card_button--primary:disabled {
  color: #fff;
  background-color: #fed136;
  border-color: #fed136
}

.hs-card_button.hs-card_button--primary:not(:disabled):not(.disabled):active,
.hs-card_button.hs-card_button--primary:not(:disabled):not(.disabled).active,
.show >.hs-card_button.hs-card_button--primary.dropdown-toggle {
  color: #fff;
  background-color: #fec503;
  border-color: #f3bd01
}

.hs-card_button.hs-card_button--primary:not(:disabled):not(.disabled):active:focus,
.hs-card_button.hs-card_button--primary:not(:disabled):not(.disabled).active:focus,
.show >.hs-card_button.hs-card_button--primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 216, 84, 0.5)
}

.hs-card_button.hs-card_button--secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d
}

.hs-card_button.hs-card_button--secondary:hover {
  color: #fff;
  background-color: #5b636a;
  border-color: #545b62
}

.hs-card_button.hs-card_button--secondary:focus,
.hs-card_button.hs-card_button--secondary.focus {
  color: #fff;
  background-color: #5b636a;
  border-color: #545b62;
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5)
}

.hs-card_button.hs-card_button--secondary.disabled,
.hs-card_button.hs-card_button--secondary:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d
}

.hs-card_button.hs-card_button--secondary:not(:disabled):not(.disabled):active,
.hs-card_button.hs-card_button--secondary:not(:disabled):not(.disabled).active,
.show >.hs-card_button.hs-card_button--secondary.dropdown-toggle {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b
}

.hs-card_button.hs-card_button--secondary:not(:disabled):not(.disabled):active:focus,
.hs-card_button.hs-card_button--secondary:not(:disabled):not(.disabled).active:focus,
.show >.hs-card_button.hs-card_button--secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5)
}

.hs-card_button.hs-card_button--success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745
}

.hs-card_button.hs-card_button--success:hover {
  color: #fff;
  background-color: #218a39;
  border-color: #1e7e34
}

.hs-card_button.hs-card_button--success:focus,
.hs-card_button.hs-card_button--success.focus {
  color: #fff;
  background-color: #218a39;
  border-color: #1e7e34;
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5)
}

.hs-card_button.hs-card_button--success.disabled,
.hs-card_button.hs-card_button--success:disabled {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745
}

.hs-card_button.hs-card_button--success:not(:disabled):not(.disabled):active,
.hs-card_button.hs-card_button--success:not(:disabled):not(.disabled).active,
.show >.hs-card_button.hs-card_button--success.dropdown-toggle {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430
}

.hs-card_button.hs-card_button--success:not(:disabled):not(.disabled):active:focus,
.hs-card_button.hs-card_button--success:not(:disabled):not(.disabled).active:focus,
.show >.hs-card_button.hs-card_button--success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5)
}

.hs-card_button.hs-card_button--info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8
}

.hs-card_button.hs-card_button--info:hover {
  color: #fff;
  background-color: #138698;
  border-color: #117a8b
}

.hs-card_button.hs-card_button--info:focus,
.hs-card_button.hs-card_button--info.focus {
  color: #fff;
  background-color: #138698;
  border-color: #117a8b;
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5)
}

.hs-card_button.hs-card_button--info.disabled,
.hs-card_button.hs-card_button--info:disabled {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8
}

.hs-card_button.hs-card_button--info:not(:disabled):not(.disabled):active,
.hs-card_button.hs-card_button--info:not(:disabled):not(.disabled).active,
.show >.hs-card_button.hs-card_button--info.dropdown-toggle {
  color: #fff;
  background-color: #117a8b;
  border-color: #10707f
}

.hs-card_button.hs-card_button--info:not(:disabled):not(.disabled):active:focus,
.hs-card_button.hs-card_button--info:not(:disabled):not(.disabled).active:focus,
.show >.hs-card_button.hs-card_button--info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5)
}

.hs-card_button.hs-card_button--warning {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff
}

.hs-card_button.hs-card_button--warning:hover {
  color: #fff;
  background-color: #006adb;
  border-color: #0062cc
}

.hs-card_button.hs-card_button--warning:focus,
.hs-card_button.hs-card_button--warning.focus {
  color: #fff;
  background-color: #006adb;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5)
}

.hs-card_button.hs-card_button--warning.disabled,
.hs-card_button.hs-card_button--warning:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff
}

.hs-card_button.hs-card_button--warning:not(:disabled):not(.disabled):active,
.hs-card_button.hs-card_button--warning:not(:disabled):not(.disabled).active,
.show >.hs-card_button.hs-card_button--warning.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf
}

.hs-card_button.hs-card_button--warning:not(:disabled):not(.disabled):active:focus,
.hs-card_button.hs-card_button--warning:not(:disabled):not(.disabled).active:focus,
.show >.hs-card_button.hs-card_button--warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5)
}

.hs-card_button.hs-card_button--danger {
  color: #fff;
  background-color: #e74c3c;
  border-color: #e74c3c
}

.hs-card_button.hs-card_button--danger:hover {
  color: #fff;
  background-color: #e32f1c;
  border-color: #d62c1a
}

.hs-card_button.hs-card_button--danger:focus,
.hs-card_button.hs-card_button--danger.focus {
  color: #fff;
  background-color: #e32f1c;
  border-color: #d62c1a;
  box-shadow: 0 0 0 0.2rem rgba(235, 103, 89, 0.5)
}

.hs-card_button.hs-card_button--danger.disabled,
.hs-card_button.hs-card_button--danger:disabled {
  color: #fff;
  background-color: #e74c3c;
  border-color: #e74c3c
}

.hs-card_button.hs-card_button--danger:not(:disabled):not(.disabled):active,
.hs-card_button.hs-card_button--danger:not(:disabled):not(.disabled).active,
.show >.hs-card_button.hs-card_button--danger.dropdown-toggle {
  color: #fff;
  background-color: #d62c1a;
  border-color: #ca2a19
}

.hs-card_button.hs-card_button--danger:not(:disabled):not(.disabled):active:focus,
.hs-card_button.hs-card_button--danger:not(:disabled):not(.disabled).active:focus,
.show >.hs-card_button.hs-card_button--danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(235, 103, 89, 0.5)
}

.hs-card_button.hs-card_button--light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa
}

.hs-card_button.hs-card_button--light:hover {
  color: #212529;
  background-color: #e3e7eb;
  border-color: #dae0e5
}

.hs-card_button.hs-card_button--light:focus,
.hs-card_button.hs-card_button--light.focus {
  color: #212529;
  background-color: #e3e7eb;
  border-color: #dae0e5;
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5)
}

.hs-card_button.hs-card_button--light.disabled,
.hs-card_button.hs-card_button--light:disabled {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa
}

.hs-card_button.hs-card_button--light:not(:disabled):not(.disabled):active,
.hs-card_button.hs-card_button--light:not(:disabled):not(.disabled).active,
.show >.hs-card_button.hs-card_button--light.dropdown-toggle {
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df
}

.hs-card_button.hs-card_button--light:not(:disabled):not(.disabled):active:focus,
.hs-card_button.hs-card_button--light:not(:disabled):not(.disabled).active:focus,
.show >.hs-card_button.hs-card_button--light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5)
}

.hs-card_button.hs-card_button--white {
  color: #212529;
  background-color: #fff;
  border-color: #fff
}

.hs-card_button.hs-card_button--white:hover {
  color: #212529;
  background-color: #ededed;
  border-color: #e6e6e6
}

.hs-card_button.hs-card_button--white:focus,
.hs-card_button.hs-card_button--white.focus {
  color: #212529;
  background-color: #ededed;
  border-color: #e6e6e6;
  box-shadow: 0 0 0 0.2rem rgba(222, 222, 223, 0.5)
}

.hs-card_button.hs-card_button--white.disabled,
.hs-card_button.hs-card_button--white:disabled {
  color: #212529;
  background-color: #fff;
  border-color: #fff
}

.hs-card_button.hs-card_button--white:not(:disabled):not(.disabled):active,
.hs-card_button.hs-card_button--white:not(:disabled):not(.disabled).active,
.show >.hs-card_button.hs-card_button--white.dropdown-toggle {
  color: #212529;
  background-color: #e6e6e6;
  border-color: #dfdfdf
}

.hs-card_button.hs-card_button--white:not(:disabled):not(.disabled):active:focus,
.hs-card_button.hs-card_button--white:not(:disabled):not(.disabled).active:focus,
.show >.hs-card_button.hs-card_button--white.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(222, 222, 223, 0.5)
}

.hs-card_button.hs-card_button--dark {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d
}

.hs-card_button.hs-card_button--dark:hover {
  color: #fff;
  background-color: #5b636a;
  border-color: #545b62
}

.hs-card_button.hs-card_button--dark:focus,
.hs-card_button.hs-card_button--dark.focus {
  color: #fff;
  background-color: #5b636a;
  border-color: #545b62;
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5)
}

.hs-card_button.hs-card_button--dark.disabled,
.hs-card_button.hs-card_button--dark:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d
}

.hs-card_button.hs-card_button--dark:not(:disabled):not(.disabled):active,
.hs-card_button.hs-card_button--dark:not(:disabled):not(.disabled).active,
.show >.hs-card_button.hs-card_button--dark.dropdown-toggle {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b
}

.hs-card_button.hs-card_button--dark:not(:disabled):not(.disabled):active:focus,
.hs-card_button.hs-card_button--dark:not(:disabled):not(.disabled).active:focus,
.show >.hs-card_button.hs-card_button--dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5)
}

.hs-card_button.hs-card_button-shadowlined--primary {
  color: #343a40;
  background-color: #fed136;
  border: #fed031;
  box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.15)
}

.hs-card_button.hs-card_button-shadowlined--primary.card-button--active {
  background-color: #e6b301
}

.hs-card_button.hs-card_button-shadowlined--primary:not(:disabled):not([disabled]):not(:active):hover {
  background-color: #fee282
}

.hs-card_button.hs-card_button-shadowlined--primary:not(:disabled):not([disabled]):focus {
  border-color: #dcab01;
  box-shadow: #dcab01;
  box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.15)
}

.hs-card_button.hs-card_button-shadowlined--primary:not(:disabled):not([disabled]):active {
  background-color: #cd9f01
}

.hs-card_button.hs-card_button-shadowlined--secondary {
  color: #343a40;
  background-color: #6c757d;
  border: #6a737b;
  box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.15)
}

.hs-card_button.hs-card_button-shadowlined--secondary.card-button--active {
  background-color: #494f54
}

.hs-card_button.hs-card_button-shadowlined--secondary:not(:disabled):not([disabled]):not(:active):hover {
  background-color: #939ba2
}

.hs-card_button.hs-card_button-shadowlined--secondary:not(:disabled):not([disabled]):focus {
  border-color: #44494e;
  box-shadow: #44494e;
  box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.15)
}

.hs-card_button.hs-card_button-shadowlined--secondary:not(:disabled):not([disabled]):active {
  background-color: #3d4246
}

.hs-card_button.hs-card_button-shadowlined--success {
  color: #343a40;
  background-color: #28a745;
  border: #27a343;
  box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.15)
}

.hs-card_button.hs-card_button-shadowlined--success.card-button--active {
  background-color: #19692c
}

.hs-card_button.hs-card_button-shadowlined--success:not(:disabled):not([disabled]):not(:active):hover {
  background-color: #48d368
}

.hs-card_button.hs-card_button-shadowlined--success:not(:disabled):not([disabled]):focus {
  border-color: #176128;
  box-shadow: #176128;
  box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.15)
}

.hs-card_button.hs-card_button-shadowlined--success:not(:disabled):not([disabled]):active {
  background-color: #145523
}

.hs-card_button.hs-card_button-shadowlined--info {
  color: #343a40;
  background-color: #17a2b8;
  border: #169eb4;
  box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.15)
}

.hs-card_button.hs-card_button-shadowlined--info.card-button--active {
  background-color: #0f6674
}

.hs-card_button.hs-card_button-shadowlined--info:not(:disabled):not([disabled]):not(:active):hover {
  background-color: #36cee6
}

.hs-card_button.hs-card_button-shadowlined--info:not(:disabled):not([disabled]):focus {
  border-color: #0d5e6b;
  box-shadow: #0d5e6b;
  box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.15)
}

.hs-card_button.hs-card_button-shadowlined--info:not(:disabled):not([disabled]):active {
  background-color: #0c525d
}

.hs-card_button.hs-card_button-shadowlined--warning {
  color: #343a40;
  background-color: #007bff;
  border: #0079fa;
  box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.15)
}

.hs-card_button.hs-card_button-shadowlined--warning.card-button--active {
  background-color: #0056b3
}

.hs-card_button.hs-card_button-shadowlined--warning:not(:disabled):not([disabled]):not(:active):hover {
  background-color: #4da3ff
}

.hs-card_button.hs-card_button-shadowlined--warning:not(:disabled):not([disabled]):focus {
  border-color: #0051a8;
  box-shadow: #0051a8;
  box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.15)
}

.hs-card_button.hs-card_button-shadowlined--warning:not(:disabled):not([disabled]):active {
  background-color: #004a99
}

.hs-card_button.hs-card_button-shadowlined--danger {
  color: #343a40;
  background-color: #e74c3c;
  border: #e64838;
  box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.15)
}

.hs-card_button.hs-card_button-shadowlined--danger.card-button--active {
  background-color: #bf2718
}

.hs-card_button.hs-card_button-shadowlined--danger:not(:disabled):not([disabled]):not(:active):hover {
  background-color: #ef8b80
}

.hs-card_button.hs-card_button-shadowlined--danger:not(:disabled):not([disabled]):focus {
  border-color: #b62516;
  box-shadow: #b62516;
  box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.15)
}

.hs-card_button.hs-card_button-shadowlined--danger:not(:disabled):not([disabled]):active {
  background-color: #a82315
}

.hs-card_button.hs-card_button-shadowlined--light {
  color: #343a40;
  background-color: #f8f9fa;
  border: #f5f7f8;
  box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.15)
}

.hs-card_button.hs-card_button-shadowlined--light.card-button--active {
  background-color: #cbd3da
}

.hs-card_button.hs-card_button-shadowlined--light:not(:disabled):not([disabled]):not(:active):hover {
  background-color: white
}

.hs-card_button.hs-card_button-shadowlined--light:not(:disabled):not([disabled]):focus {
  border-color: #c5ced6;
  box-shadow: #c5ced6;
  box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.15)
}

.hs-card_button.hs-card_button-shadowlined--light:not(:disabled):not([disabled]):active {
  background-color: #bdc6d0
}

.hs-card_button.hs-card_button-shadowlined--white {
  color: #343a40;
  background-color: #fff;
  border: #fdfdfd;
  box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.15)
}

.hs-card_button.hs-card_button-shadowlined--white.card-button--active {
  background-color: #d9d9d9
}

.hs-card_button.hs-card_button-shadowlined--white:not(:disabled):not([disabled]):not(:active):hover {
  background-color: white
}

.hs-card_button.hs-card_button-shadowlined--white:not(:disabled):not([disabled]):focus {
  border-color: #d4d4d4;
  box-shadow: #d4d4d4;
  box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.15)
}

.hs-card_button.hs-card_button-shadowlined--white:not(:disabled):not([disabled]):active {
  background-color: #ccc
}

.hs-card_button.hs-card_button-shadowlined--dark {
  color: #343a40;
  background-color: #6c757d;
  border: #6a737b;
  box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.15)
}

.hs-card_button.hs-card_button-shadowlined--dark.card-button--active {
  background-color: #494f54
}

.hs-card_button.hs-card_button-shadowlined--dark:not(:disabled):not([disabled]):not(:active):hover {
  background-color: #939ba2
}

.hs-card_button.hs-card_button-shadowlined--dark:not(:disabled):not([disabled]):focus {
  border-color: #44494e;
  box-shadow: #44494e;
  box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.15)
}

.hs-card_button.hs-card_button-shadowlined--dark:not(:disabled):not([disabled]):active {
  background-color: #3d4246
}

a.hs-card_button.disabled,
fieldset:disabled a.hs-card_button {
  pointer-events: none
}

.hs-card_button-block {
  display: block;
  width: 100%
}

.hs-card_button-block +.hs-card_button-block {
  margin-top: var(--btn-block-spacing-y)
}

input[type=submit].hs-card_button-block,
input[type=reset].hs-card_button-block,
input[type=button].hs-card_button-block {
  width: 100%
}
