@import '../variables/maps';
@import '../variables/colors';
@import 'mixins/settings';
//colors

#timeline {
  position: relative;
  list-style: none;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    margin-left: -1.5px;
    content: " ";
    background-color: $hs-baige-medium;
  }

  .clearFix {
    height: 0;
    clear: both;
  }

  .timeline-badge {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    font-size: 1.1rem;
    color: $hs-white;
    text-align: center;
    background-color: $hs-color_blue-semimuted;
    //Instead of the line below you could use @include border-top-left-radius($radius)
    border-top-left-radius: 50%;
    //Instead of the line below you could use @include border-top-right-radius($radius)
    border-top-right-radius: 50%;
    //Instead of the line below you could use @include border-bottom-right-radius($radius)
    border-bottom-right-radius: 50%;
    //Instead of the line below you could use @include border-bottom-left-radius($radius)
    border-bottom-left-radius: 50%;
    transform: translateY(-50%);
    &.green {
      background: $hs-color_green--dark;
    }
    &.baige {
      background: $hs-baige-medium;
    }
    &.baige--light {
      background: $hs-baige-light;
    }
    // &.transparency {
    //   background: transparent;
    //   border-color: transparent;
    // }


    span {
      &.timeline-balloon-date-day {
        font-size: 1.5rem;
      }

      &.timeline-balloon-date-month {
        position: relative;
        top: -15px;
        font-size: .7em;
      }
    }

    &.timeline-filter-movement {
      top: 55px;
      width: 35px;
      height: 35px;
      margin-left: -18px;
      font-size: 1.7em;
      background-color: $hs-white;
      border: 1px solid $hs-baige-light;
      &.transparency {
        background: transparent;
        border-color: transparent;
      }

      [class^="fa fa-"] {
        position: absolute;
        top: -40px;
        left: -12px;
        padding: 1rem;
        margin-bottom: 20px;
        font-size: .9em;
        color: $hs-white;
        background: $hs-blueGray-medium-saturated;
        border: 2px solid darken($hs-blueGray-medium-saturated, 15%);
        border-radius: 50%;
      }
    }

    &.timeline-future-movement {
      top: -16px;
      width: 35px;
      height: 35px;
      margin-left: -18px;
      font-size: 1.7em;
      background-color: $hs-white;
      border: 1px solid $hs-baige-light;

      a span {
        top: 2px;
        left: 1px;
        font-size: .9em;
        color: $hs-color_dark_yellow;
      }
    }
  }

  .timeline-movement {
    position: relative;
    border-bottom: dashed 1px $hs-baige-light;

    &.timeline-movement-top {
      height: 60px;
      padding: 50px 0;
    }

    .timeline-item {

      // padding: 20px 0;
      // &:nth-of-type(odd) {
      //   margin-right: 50%;
      //   background: #ccc;
      // }
      // &:nth-of-type(even) {
      //   margin-left: 50%;
      // }

      .timeline-panel {
        position: relative;
        padding: 10px;
        font-size: 13px;
        color: $hs-gray;
        background-color: $hs-white;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border: 1px solid $hs-gray-lighter;
        border-radius: 3px;
        -webkit-box-shadow: $hs-shadow;
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: $hs-shadow-xs;


        .timeline-panel-ul {
          padding: 0;
          margin: 0;
          list-style: none;
        }

        &.credits .timeline-panel-ul {
          text-align: right;

          li {
            color: $hs-gray;

            .timeline-panel_title {
              font-size: 1rem;
              color: $hs-color_green--dark;
            }
          }
        }

        &.debits .timeline-panel-ul {
          text-align: left;

          .timeline-panel_title {
            font-size: 1.3em;
            color: $hs-color_red;
          }
        }
      }
    }
    .col-sm-6.timeline-item {

      &:nth-of-type(odd) {
        padding-left: 40px;
        margin-top: 106px;
        margin-bottom: 20px;
      }
      &:nth-of-type(even) {
        padding-right: 40px;
        margin-top: 20px;
        margin-bottom: 106px;
      }

    }
  }
}

//===================ORIGINAL================//
// .hs-timeline {
//   margin: 0.55em 0 0;
//   padding: $timeline-padding;

//   .hs-timeline-item {
//     position: relative;
//     padding: $timeline-item-padding;
//     list-style: none;

//     &::before {
//       position: absolute;
//       top: 0;
//       left: 0.25em;
//       height: 100%;
//       margin-left: -1px;
//       border-left: 1px solid map-get($colors, grey-light-2);
//       content: '';
//     }

//     &--last::before,
//     &--loading::before {
//       border-left-style: none;
//       content: '';
//     }

//     &::after {
//       position: absolute;
//       top: 0;
//       width: 0.5em;
//       height: 0.5em;
//       background-color: map-get($colors, default);
//       border-radius: 100%;
//       box-shadow: 0 0 0 4px map-get($colors, white);
//       content: '';
//     }

//     &_body {
//       position: relative;
//       top: -0.55em;
//       margin: 0 0 0 1em;
//     } 

//     &.hs-timeline-item--brand::after {
//       background-color: map-get($colors, brand);
//       content: '';
//     }

//     &.hs-timeline-item--info::after {
//       background-color: map-get($colors, info);
//       content: '';
//     }

//     &.hs-timeline-item--warning::after {
//       background-color: map-get($colors, warning);
//       content: '';
//     }

//     &.hs-timeline-item--success::after {
//       background-color: map-get($colors, success);
//       content: '';
//     }

//     &.hs-timeline-item--error::after {
//       background-color: map-get($colors, error);
//       content: '';
//     }
//   }

//   &.hs-timeline--alternate {
//     .hs-timeline-item {
//       &::before,
//       &::after {
//         left: 50%;
//         content: '';
//       }

//       &::after {
//         margin: 0 0 0 -0.25em;
//       }

//       &_body {
//         left: 50%;
//         width: 50%;
//       }

//       &--left .hs-timeline-item_body {
//         left: 0;
//         margin: 0 0 0 -1em;
//         text-align: right;
//       }
//     }
//   }

//   &.hs-timeline--loading {
//     .hs-timeline-item--last::before {
//       border-left-style: dashed;
//       content: '';
//     }

//     .hs-timeline-item--loading::after {
//       background-color: transparent;
//       border: 2px solid map-get($colors, grey-light-2);
//     }

//     .hs-timeline-item--loading {
//       .hs-timeline-item_body {
//         color: map-get($colors, quiet);
//       }
//     }
//   }
// }
