@import "../bootstrap/scss/mixins/buttons";
@import "./mixins/_settings";
@import "../../scss/vars";

// stylelint-disable selector-no-qualifying-type
//@extend-elements
//original selectors
//.hs-button-light:focus, .hs-button-light.focus
%extend_1 {
  color: $hs-blue--dark;
  background-color: #f8f9fa;
  border-color: #dae0e5;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: $hs-button-shadow-nocolor rgba(216, 217, 219, 0.5);
}

//original selectors
//.hs-button-light.disabled, .hs-button-light:disabled
%extend_2 {
  color: $hs-blue--dark;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

//original selectors
//.hs-button-light:not(:disabled):not(.disabled):active, .hs-button-light:not(:disabled):not(.disabled).active, .show >.hs-button-light.dropdown-toggle
%extend_3 {
  color: $hs-blue--dark;
  background-color: #dae0e5;
  border-color: #d3d9df;
}

//original selectors
//.hs-button-dark:focus, .hs-button-dark.focus
%extend_focus {
  color: $hs-white;
  background-color: #1d2124;
  border-color: #1d2124;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: $hs-button-shadow-nocolor rgba(82, 88, 93, 0.5);
}

//original selectors
//.hs-button-dark.disabled, .hs-button-dark:disabled
%extend_disabled {
  color: $hs-white;
  background-color: #343a40;
  border-color: #343a40;
}

//original selectors
//.hs-button-dark:not(:disabled):not(.disabled):active, .hs-button-dark:not(:disabled):not(.disabled).active, .show >.hs-button-dark.dropdown-toggle
%extend_disabled-attr-not-class {
  color: $hs-white;
  background-color: #1d2124;
  border-color: #171a1d;
}

//original selectors
//.hs-button-outline-primary:not(:disabled):not(.disabled):active, .hs-button-outline-primary:not(:disabled):not(.disabled).active, .show >.hs-button-outline-primary.dropdown-toggle
%extend_active {
  color: $hs-white;
  background-color: $hs-theme_primary;
  border-color: $hs-theme_primary;
}

//original selectors
//.hs-button-outline-secondary:not(:disabled):not(.disabled):active, .hs-button-outline-secondary:not(:disabled):not(.disabled).active, .show >.hs-button-outline-secondary.dropdown-toggle
%extend_active-2 {
  color: $hs-white;
  background-color: $hs-gray;
  border-color: $hs-gray;
}

//original selectors
//.hs-button-outline-success:not(:disabled):not(.disabled):active, .hs-button-outline-success:not(:disabled):not(.disabled).active, .show >.hs-button-outline-success.dropdown-toggle
%extend_disabled-attr-not-class-2 {
  color: $hs-white;
  background-color: $hs-color_green;
  border-color: $hs-color_green;
}

//original selectors
//.hs-button-outline-info:not(:disabled):not(.disabled):active, .hs-button-outline-info:not(:disabled):not(.disabled).active, .show >.hs-button-outline-info.dropdown-toggle
%extend_10 {
  color: $hs-white;
  background-color: $hs-color_blue-semimuted;
  border-color: $hs-color_blue-semimuted;
}

//original selectors
//.hs-button-outline-warning:not(:disabled):not(.disabled):active, .hs-button-outline-warning:not(:disabled):not(.disabled).active, .show >.hs-button-outline-warning.dropdown-toggle
%extend_11 {
  color: $hs-white;
  background-color: $hs-theme_primary;
  border-color: $hs-theme_primary;
}

//original selectors
//.hs-button-outline-danger:not(:disabled):not(.disabled):active, .hs-button-outline-danger:not(:disabled):not(.disabled).active, .show >.hs-button-outline-danger.dropdown-toggle
%extend_12 {
  color: $hs-white;
  background-color: $hs-theme-danger;
  border-color: $hs-theme-danger;
}

//original selectors
//.hs-button-outline-light:not(:disabled):not(.disabled):active, .hs-button-outline-light:not(:disabled):not(.disabled).active, .show >.hs-button-outline-light.dropdown-toggle
%extend_13 {
  color: $hs-blue--dark;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

//original selectors
//.hs-button-outline-dark:not(:disabled):not(.disabled):active, .hs-button-outline-dark:not(:disabled):not(.disabled).active, .show >.hs-button-outline-dark.dropdown-toggle
%extend_14 {
  color: $hs-white;
  background-color: #343a40;
  border-color: #343a40;
}

//original selectors
//.hs-button-lg, .hs-button-group-lg >.hs-button
%extend_15 {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 0;
}

//original selectors
//.hs-button-sm, .hs-button-group-sm >.hs-button
%extend_16 {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 0;
}

//original selectors
//.hs-button-group, .hs-button-group-vertical
%extend_17 {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

//original selectors
//.hs-button-group-toggle >.hs-button input[type="radio"], .hs-button-group-toggle >.hs-button input[type="checkbox"], .hs-button-group-toggle >.hs-button-group >.hs-button input[type="radio"], .hs-button-group-toggle >.hs-button-group >.hs-button input[type="checkbox"]
%extend_18 {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}


.hs-button--ghost-error {
  // @include button-variant@include button-variant($hs-theme_danger,  darken($hs-theme_danger, 5%) darken($hs-theme_danger, 10%));
}

.hs-button_icon-left {
  padding-right: $button-icon-left-padding;
}

.hs-button_icon-right {
  padding-left: $button-icon-right-padding;
}

.hs-button-light {
  color: $hs-blue--dark;
  background-color: #f8f9fa;
  border-color: #f8f9fa;

  &:hover {
    color: $hs-blue--dark;
    background-color: #f8f9fa;
    border-color: #dae0e5;
  }

  &:focus {
    @extend %extend_1;
  }

  &.focus {
    @extend %extend_1;
  }

  &.disabled {
    @extend %extend_2;
  }

  &:disabled {
    @extend %extend_2;
  }

  &:not(:disabled):not(.disabled) {
    &:active {
      @extend %extend_3;

      &:focus {
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: $hs-button-shadow-nocolor rgba(216, 217, 219, 0.5);
      }
    }

    &.active {
      @extend %extend_3;

      &:focus {
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: $hs-button-shadow-nocolor rgba(216, 217, 219, 0.5);
      }
    }
  }
}

.hs-button-dark {
  color: $hs-white;
  background-color: #343a40;
  border-color: #343a40;

  &:hover {
    color: $hs-white;
    background-color: #1d2124;
    border-color: #1d2124;
  }

  &:focus {
    @extend %extend_focus;
  }

  &.focus {
    @extend %extend_focus;
  }

  &.disabled {
    @extend %extend_disabled;
  }

  &:disabled {
    @extend %extend_disabled;
  }

  &:not(:disabled):not(.disabled) {
    &:active {
      @extend %extend_disabled-attr-not-class;

      &:focus {
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: $hs-button-shadow-nocolor rgba(82, 88, 93, 0.5);
      }
    }

    &.active {
      @extend %extend_disabled-attr-not-class;

      &:focus {
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: $hs-button-shadow-nocolor rgba(82, 88, 93, 0.5);
      }
    }
  }
}

.hs-button-outline-primary {
  color: $hs-theme_primary;
  border-color: $hs-theme_primary;

  &:hover {
    color: $hs-white;
    background-color: $hs-theme_primary;
    border-color: $hs-theme_primary;
  }

  &:focus {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: $hs-button-shadow-nocolor rgba(254, 209, 54, 0.5);
  }

  &.focus {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: $hs-button-shadow-nocolor rgba(254, 209, 54, 0.5);
  }

  &.disabled {
    color: $hs-theme_primary;
    background-color: transparent;
  }

  &:disabled {
    color: $hs-theme_primary;
    background-color: transparent;
  }

  &:not(:disabled):not(.disabled) {
    &:active {
      @extend %extend_active;

      &:focus {
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: $hs-button-shadow-nocolor rgba(254, 209, 54, 0.5);
      }
    }

    &.active {
      @extend %extend_active;

      &:focus {
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: $hs-button-shadow-nocolor rgba(254, 209, 54, 0.5);
      }
    }
  }
}

.hs-button-outline-secondary {
  color: $hs-gray;
  border-color: $hs-gray;

  &:hover {
    color: $hs-white;
    background-color: $hs-gray;
    border-color: $hs-gray;
  }

  &:focus {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: $hs-button-shadow-nocolor rgba(108, 117, 125, 0.5);
  }

  &.focus {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: $hs-button-shadow-nocolor rgba(108, 117, 125, 0.5);
  }

  &.disabled {
    color: $hs-gray;
    background-color: transparent;
  }

  &:disabled {
    color: $hs-gray;
    background-color: transparent;
  }

  &:not(:disabled):not(.disabled) {
    &:active {
      @extend %extend_active-2;

      &:focus {
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: $hs-button-shadow-nocolor rgba(108, 117, 125, 0.5);
      }
    }

    &.active {
      @extend %extend_active-2;

      &:focus {
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: $hs-button-shadow-nocolor rgba(108, 117, 125, 0.5);
      }
    }
  }
}

.hs-button-outline-success {
  color: $hs-color_green;
  border-color: $hs-color_green;

  &:hover {
    color: $hs-white;
    background-color: $hs-color_green;
    border-color: $hs-color_green;
  }

  &:focus {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: $hs-button-shadow-nocolor rgba(40, 167, 69, 0.5);
  }

  &.focus {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: $hs-button-shadow-nocolor rgba(40, 167, 69, 0.5);
  }

  &.disabled {
    color: $hs-color_green;
    background-color: transparent;
  }

  &:disabled {
    color: $hs-color_green;
    background-color: transparent;
  }

  &:not(:disabled):not(.disabled) {
    &:active {
      @extend %extend_disabled-attr-not-class-2;

      &:focus {
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: $hs-button-shadow-nocolor rgba(40, 167, 69, 0.5);
      }
    }

    &.active {
      @extend %extend_disabled-attr-not-class-2;

      &:focus {
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: $hs-button-shadow-nocolor rgba(40, 167, 69, 0.5);
      }
    }
  }
}

.hs-button-outline-info {
  color: $hs-color_blue-semimuted;
  border-color: $hs-color_blue-semimuted;

  &:hover {
    color: $hs-white;
    background-color: $hs-color_blue-semimuted;
    border-color: $hs-color_blue-semimuted;
  }

  &:focus {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: $hs-button-shadow-nocolor rgba(23, 162, 184, 0.5);
  }

  &.focus {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: $hs-button-shadow-nocolor rgba(23, 162, 184, 0.5);
  }

  &.disabled {
    color: $hs-color_blue-semimuted;
    background-color: transparent;
  }

  &:disabled {
    color: $hs-color_blue-semimuted;
    background-color: transparent;
  }

  &:not(:disabled):not(.disabled) {
    &:active {
      @extend %extend_10;

      &:focus {
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: $hs-button-shadow-nocolor rgba(23, 162, 184, 0.5);
      }
    }

    &.active {
      @extend %extend_10;

      &:focus {
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: $hs-button-shadow-nocolor rgba(23, 162, 184, 0.5);
      }
    }
  }
}

.hs-button-outline-warning {
  color: $hs-theme_primary;
  border-color: $hs-theme_primary;

  &:hover {
    color: $hs-white;
    background-color: $hs-theme_primary;
    border-color: $hs-theme_primary;
  }

  &:focus {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: $hs-button-shadow-nocolor rgba(254, 209, 54, 0.5);
  }

  &.focus {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: $hs-button-shadow-nocolor rgba(254, 209, 54, 0.5);
  }

  &.disabled {
    color: $hs-theme_primary;
    background-color: transparent;
  }

  &:disabled {
    color: $hs-theme_primary;
    background-color: transparent;
  }

  &:not(:disabled):not(.disabled) {
    &:active {
      @extend %extend_11;

      &:focus {
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: $hs-button-shadow-nocolor rgba(254, 209, 54, 0.5);
      }
    }

    &.active {
      @extend %extend_11;

      &:focus {
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: $hs-button-shadow-nocolor rgba(254, 209, 54, 0.5);
      }
    }
  }
}

.hs-button-outline-danger {
  color: $hs-theme-danger;
  border-color: $hs-theme-danger;

  &:hover {
    color: $hs-white;
    background-color: $hs-theme-danger;
    border-color: $hs-theme-danger;
  }

  &:focus {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: $hs-button-shadow-nocolor rgba(220, 53, 69, 0.5);
  }

  &.focus {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: $hs-button-shadow-nocolor rgba(220, 53, 69, 0.5);
  }

  &.disabled {
    color: $hs-theme-danger;
    background-color: transparent;
  }

  &:disabled {
    color: $hs-theme-danger;
    background-color: transparent;
  }

  &:not(:disabled):not(.disabled) {
    &:active {
      @extend %extend_12;

      &:focus {
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: $hs-button-shadow-nocolor rgba(220, 53, 69, 0.5);
      }
    }

    &.active {
      @extend %extend_12;

      &:focus {
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: $hs-button-shadow-nocolor rgba(220, 53, 69, 0.5);
      }
    }
  }
}

.hs-button-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;

  &:hover {
    color: $hs-blue--dark;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
  }

  &:focus {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: $hs-button-shadow-nocolor rgba(248, 249, 250, 0.5);
  }

  &.focus {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: $hs-button-shadow-nocolor rgba(248, 249, 250, 0.5);
  }

  &.disabled {
    color: #f8f9fa;
    background-color: transparent;
  }

  &:disabled {
    color: #f8f9fa;
    background-color: transparent;
  }

  &:not(:disabled):not(.disabled) {
    &:active {
      @extend %extend_13;

      &:focus {
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: $hs-button-shadow-nocolor rgba(248, 249, 250, 0.5);
      }
    }

    &.active {
      @extend %extend_13;

      &:focus {
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: $hs-button-shadow-nocolor rgba(248, 249, 250, 0.5);
      }
    }
  }
}

.hs-button-outline-dark {
  color: #343a40;
  border-color: #343a40;

  &:hover {
    color: $hs-white;
    background-color: #343a40;
    border-color: #343a40;
  }

  &:focus {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: $hs-button-shadow-nocolor rgba(52, 58, 64, 0.5);
  }

  &.focus {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: $hs-button-shadow-nocolor rgba(52, 58, 64, 0.5);
  }

  &.disabled {
    color: #343a40;
    background-color: transparent;
  }

  &:disabled {
    color: #343a40;
    background-color: transparent;
  }

  &:not(:disabled):not(.disabled) {
    &:active {
      @extend %extend_14;

      &:focus {
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: $hs-button-shadow-nocolor rgba(52, 58, 64, 0.5);
      }
    }

    &.active {
      @extend %extend_14;

      &:focus {
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: $hs-button-shadow-nocolor rgba(52, 58, 64, 0.5);
      }
    }
  }
}

.hs-button-link {
  font-weight: 400;
  color: $hs-theme_primary;
  text-decoration: none;

  &:hover {
    color: #e6b301;
    text-decoration: underline;
  }

  &:focus {
    text-decoration: underline;
  }

  &.focus {
    text-decoration: underline;
  }

  &:disabled {
    color: $hs-gray;
    pointer-events: none;
  }

  &.disabled {
    color: $hs-gray;
    pointer-events: none;
  }
}

.hs-button-lg {
  @extend %extend_15;

  +.dropdown-toggle-split {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
}

.hs-button-sm {
  @extend %extend_16;

  & +.dropdown-toggle-split {
    padding-right: 0.375rem;
    padding-left: 0.375rem;
  }
}

.hs-button-block {
  display: block;
  width: 100%;

  & +.hs-button-block {
    margin-top: 0.5rem;
  }
}

.hs-button-group {
  @extend %extend_17;

  & >.hs-button {
    position: relative;
    flex: 1 1 auto;

    &:hover {
      z-index: 1;
    }

    &:focus {
      z-index: 1;
    }

    &:active {
      z-index: 1;
    }

    &.active {
      z-index: 1;
    }

    &:not(:first-child) {
      margin-left: -1px;
      //Instead of the line below you could use @include border-top-left-radius($radius)
      border-top-left-radius: 0;
      //Instead of the line below you could use @include border-bottom-left-radius($radius)
      border-bottom-left-radius: 0;
    }

    &:last-child:not(.dropdown-toggle) {
      //Instead of the line below you could use @include border-top-right-radius($radius)
      border-top-right-radius: 0;
      //Instead of the line below you could use @include border-bottom-right-radius($radius)
      border-bottom-right-radius: 0;
    }
  }
}

.hs-button-group:not(:first-child) {
  margin-left: -1px;

  & >.hs-button {
    //Instead of the line below you could use @include border-top-left-radius($radius)
    border-top-left-radius: 0;
    //Instead of the line below you could use @include border-bottom-left-radius($radius)
    border-bottom-left-radius: 0;
  }


  &:last-child >.hs-button {
    //Instead of the line below you could use @include border-top-right-radius($radius)
    border-top-right-radius: 0;
    //Instead of the line below you could use @include border-bottom-right-radius($radius)
    border-bottom-right-radius: 0;
  }
}
.hs-button-group-vertical {
  @extend %extend_17;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  & >.hs-button {
    position: relative;
    flex: 1 1 auto;
    width: 100%;

    &:hover {
      z-index: 1;
    }

    &:focus {
      z-index: 1;
    }

    &:active {
      z-index: 1;
    }

    &.active {
      z-index: 1;
    }

    &:not(:first-child) {
      margin-top: -1px;
      //Instead of the line below you could use @include border-top-left-radius($radius)
      border-top-left-radius: 0;
      //Instead of the line below you could use @include border-top-right-radius($radius)
      border-top-right-radius: 0;
    }

    &:last-child(:not(.dropdown-toggle)) {
      //Instead of the line below you could use @include border-bottom-right-radius($radius)
      border-bottom-right-radius: 0;
      //Instead of the line below you could use @include border-bottom-left-radius($radius)
      border-bottom-left-radius: 0;
    }
  }
}

.hs-button-group {
  width: 100%;

  &:not(:first-child) {
    margin-top: -1px;

    & >.hs-button {
      //Instead of the line below you could use @include border-top-left-radius($radius)
      border-top-left-radius: 0;
      //Instead of the line below you could use @include border-top-right-radius($radius)
      border-top-right-radius: 0;
    }
  }

  &:last-child >.hs-button {
    //Instead of the line below you could use @include border-bottom-right-radius($radius)
    border-bottom-right-radius: 0;
    //Instead of the line below you could use @include border-bottom-left-radius($radius)
    border-bottom-left-radius: 0;
  }
}


.hs-button-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .input-group {
    width: auto;
  }
}

.hs-details-button {
  display: block;
  width: 100%;
  padding: $hs-spacing--xs;
  font-size: .8em;
  color: $hs-white;
  text-align: center;
  background-color: $hs-blueGray-light;
  @include hover() {
    color: $body-color;
    text-decoration: none;
  }
}

.show > {
  .hs-button-light.dropdown-toggle {
    @extend %extend_3;

    &:focus {
      //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: $hs-button-shadow-nocolor rgba(216, 217, 219, 0.5);
    }
  }

  .hs-button-dark.dropdown-toggle {
    @extend %extend_disabled-attr-not-class;

    &:focus {
      //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: $hs-button-shadow-nocolor rgba(82, 88, 93, 0.5);
    }
  }

  .hs-button-outline-primary.dropdown-toggle {
    @extend %extend_active;

    &:focus {
      //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: $hs-button-shadow-nocolor rgba(254, 209, 54, 0.5);
    }
  }

  .hs-button-outline-secondary.dropdown-toggle {
    @extend %extend_active-2;

    &:focus {
      //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: $hs-button-shadow-nocolor rgba(108, 117, 125, 0.5);
    }
  }

  .hs-button-outline-success.dropdown-toggle {
    @extend %extend_disabled-attr-not-class-2;

    &:focus {
      //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: $hs-button-shadow-nocolor rgba(40, 167, 69, 0.5);
    }
  }

  .hs-button-outline-info.dropdown-toggle {
    @extend %extend_10;

    &:focus {
      //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: $hs-button-shadow-nocolor rgba(23, 162, 184, 0.5);
    }
  }

  .hs-button-outline-warning.dropdown-toggle {
    @extend %extend_11;

    &:focus {
      //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: $hs-button-shadow-nocolor rgba(254, 209, 54, 0.5);
    }
  }

  .hs-button-outline-danger.dropdown-toggle {
    @extend %extend_12;

    &:focus {
      //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: $hs-button-shadow-nocolor rgba(220, 53, 69, 0.5);
    }
  }

  .hs-button-outline-light.dropdown-toggle {
    @extend %extend_13;

    &:focus {
      //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: $hs-button-shadow-nocolor rgba(248, 249, 250, 0.5);
    }
  }

  .hs-button-outline-dark.dropdown-toggle {
    @extend %extend_14;

    &:focus {
      //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: $hs-button-shadow-nocolor rgba(52, 58, 64, 0.5);
    }
  }
}

input[type="submit"].hs-button-block {
  width: 100%;
}

input[type="reset"].hs-button-block {
  width: 100%;
}

input[type="button"].hs-button-block {
  width: 100%;
}

.hs-button-group-lg >.hs-button {
  @extend %extend_15;

  +.dropdown-toggle-split {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
}

.hs-button-group-sm >.hs-button {
  @extend %extend_16;

  +.dropdown-toggle-split {
    padding-right: 0.375rem;
    padding-left: 0.375rem;
  }
}

.hs-button-group-toggle > {
  .hs-button {
    margin-bottom: 0;

    input[type="radio"] {
      @extend %extend_18;
    }

    input[type="checkbox"] {
      @extend %extend_18;
    }
  }

  .hs-button-group >.hs-button {
    margin-bottom: 0;

    input[type="radio"] {
      @extend %extend_18;
    }

    input[type="checkbox"] {
      @extend %extend_18;
    }
  }
}
