// @import "../bootstrap/scss/functions";
// @import "../bootstrap/scss/variables";
// @import "../bootstrap/scss/mixins";

// @import "../variables/maps";
// @import "../variables/functions";
// @import "../variables/colors";
// @import "../variables/mixins";

button {
  border: 1px solid  $hs-gray-lighter;
}

.hs-card_button {
  display: inline-block;
  font-family: $btn-font-family;
  font-size: rem(14px);
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  text-decoration: if($link-decoration == none, null, none);
  white-space: $btn-white-space;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: $hs-gray-100;
  border: $btn-border-width solid  $hs-gray-300;
  box-shadow: $hs-shadow-sm;
  @include button-size($btn-padding-y,  $btn-padding-x,  $btn-font-size,  $btn-line-height,  $btn-border-radius);
  @include transition($btn-transition);

  @include hover() {
    color: $body-color;
    text-decoration: none;
    cursor: pointer;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }

  &:not(:disabled):not(.disabled) {
    cursor: if($enable-pointer-cursor-for-buttons, pointer, null);

    &:active,
    &.active {
      @include box-shadow($btn-active-box-shadow);

      &:focus {
        @include box-shadow($btn-focus-box-shadow,  $btn-active-box-shadow);
      }
    }
  }
}

//
// Alternate buttons
//

@each $color, $value in $interaction-colors {
  .hs-card_button.hs-card_button--#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $interaction-colors {
  .hs-card_button.hs-card_button-shadowlined--#{$color} {
    @include button-shadowlined-variant($value, $hs-lightnessMultiplier);
  }
}

// Disabling of clicks on `<a>` elements
a.hs-card_button.disabled,
fieldset:disabled a.hs-card_button {
  pointer-events: none;
}

//
// Block button
//

.hs-card_button-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .hs-card_button-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.hs-card_button-block {
    width: 100%;
  }
}
