@import 'mixins/settings';
@import 'mixins/objects.grid';

.hs-table {
  @include grid;
  @include grid--wrap;
  width: $table-width;
  padding: $table-padding;
  margin: $table-margin;
  border-spacing: 0;
  border-collapse: collapse;
  border: $table-border;
}

.hs-table_caption {
  @include grid;
  @include grid_cell--full;
  max-width: $table-caption-max-width;
  padding: $table-caption-padding;
  font-size: $table-caption-font-size;
  color: $table-caption-color;
  text-align: $table-caption-text-align;
}

.hs-table_row,
.hs-table_head,
.hs-table_body {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  max-width: 100%;
}

.hs-table--striped :not(.hs-table_row--heading).hs-table_row:nth-of-type(odd) {
  color: $table-row-striped-color;
  background-color: $table-row-striped-background-color;
}

.hs-table_cell {
  display: flex;
  flex: 1;
  padding: $table-cell-padding;
  overflow: auto;
  text-align: $table-cell-text-align;
}

.hs-table_row--heading .hs-table_cell {
  display: flex;
  flex: 1;
  font-size: $text-font-size-medium;
  font-weight: $table-heading-font-weight;
  color: $table-heading-color;
  background-color: $table-heading-background-color;
  border-bottom: $table-heading-border;
}

.hs-table--striped .hs-table_row--heading .hs-table_cell {
  color: $table-heading-striped-color;
  background-color: $table-heading-striped-background-color;
}

.hs-table--clickable :not(.hs-table_row--heading).hs-table_row:hover .hs-table_cell,
.hs-table_row--clickable:hover .hs-table_cell {
  color: $table-row-clickable-color;
  background-color: $table-row-clickable-background-color;
}

.hs-table_row--disabled {
  color: $table-row-disabled-color;
  cursor: default;
  background-color: $table-row-disabled-background-color;
}

.hs-table--clickable :not(.hs-table_row--heading).hs-table_row--disabled:hover .hs-table_cell,
.hs-table_row--disabled:hover .hs-table_cell {
  color: $table-row-disabled-color;
  cursor: not-allowed;
  background-color: $table-row-disabled-background-color;
}

.hs-table--condensed {
  font-size: $table-condensed-font-size;

  .hs-table_cell {
    padding: $table-condensed-cell-padding;
  }
}
