// @import "../bootstrap/scss/functions";
// @import "../bootstrap/scss/variables";
// @import "../bootstrap/scss/mixins";

// @import "../variables/maps";
// @import "../variables/functions";
// @import "../variables/colors";
// @import "../variables/mixins";

button {
  cursor: pointer;
  border: 1px solid  $hs-gray-lighter;
}

.hs-card_button {
  display: inline-block;
  font-family: v(btn-font-family);
  font-size: rem(14px);
  font-weight: v(btn-font-weight);
  color: v(body-color);
  text-align: center;
  text-decoration: if($link-decoration == none, null, none);
  white-space: v(btn-white-space);
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: v(bs-light);
  border: v(btn-border-width) solid  v(hs-gray-300);
  box-shadow: v(hs-shadow-sm);
  @include button-size(v(btn-padding-y),  v(btn-padding-x), v(btn-font-size), v(btn-border-radius));
  @include transition($btn-transition);

  @include states();
}

// Disabling of clicks on `<a>` elements
a.hs-card_button.disabled,
fieldset:disabled a.hs-card_button {
  pointer-events: none;
}

//
// Block button
//

.hs-card_button-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .hs-card_button-block {
    margin-top: 2px;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.hs-card_button-block {
    width: 100%;
  }
}

//
// Alternate buttons
//

// @each $color, $value in $interaction-colors {
//   .hs-card_button.hs-card_button--#{$color} {
//     @include button-variant($value, $value);
//   }
// }

// @each $color, $value in $interaction-colors {
//   .hs-card_button.hs-card_button-shadowlined--#{$color} {
//     @include button-shadowlined-variant($value, $hs-lightnessMultiplier);
//   }
// }
