@import 'mixins/settings';
@import 'mixins/objects.grid';
@import 'mixins/components.buttons';
@import 'mixins/utilities.boxing';

.hs-calendar {
  @include grid;
  @include grid--wrap;
  @include grid--center;
  @include grid_cell--no-gutter;
  z-index: $z-over-control;
  max-width: $calendar-max-width;
  padding: $calendar-padding;
  text-align: $calendar-text-align;
  background-color: $calendar-background-color;
  border: $calendar-border;
  border-radius: $calendar-border-radius;
}

.hs-calendar_control,
.hs-calendar_date {
  @include button-color($calendar-control-background-color, $calendar-control-color);
  display: inline;
  flex: 0 0 12%;
  max-width: 12%;
  padding: $calendar-control-padding;
  margin: 1.1%;
  font-size: $calendar-control-font-size;
  user-select: none;
  border: $calendar-control-border-width $calendar-control-border-style transparent;
  border-radius: $calendar-control-border-radius;
  outline: 0;

  &:hover {
    border: $calendar-control-border-hover;
  }
}

.hs-calendar_header {
  @include grid_cell;
  @include grid_cell--no-gutter;
  @include grid_cell--width(71.5%);
  padding: $calendar-header-padding;
}

.hs-calendar_day {
  @include grid_cell;
  @include grid_cell--no-gutter;
  flex: 0 0 12%;
  max-width: 12%;
  padding: $calendar-day-padding;
  margin: 1.1%;
  font-weight: $calendar-day-font-weight;
}

.hs-calendar_date--in-month {
  color: $calendar-control-date-in-month-color;
}

.hs-calendar_date[aria-current='date'] {
  border-color: $calendar-today-border-color;
}

.hs-calendar_date--selected[aria-selected='true'],
.hs-calendar_date--selected[aria-selected='true']:hover {
  @include button-color($calendar-control-selected-background-color, $calendar-control-selected-color);
  border-color: $calendar-control-selected-border-color;
}

.hs-calendar_footer {
  width: 100%;
  padding-top: $spacing-large;
}
