@import 'mixins/components.navs';

nav.hs-nav,
.hs-nav[role='navigation'] {
  @include nav--color;
  z-index: $nav-z-index;
  width: $nav-width;
  height: 100%;
  padding: $nav-padding;
  margin: $nav-margin;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &.hs-nav--left {
    position: fixed;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
  }

  &.hs-nav--right {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
  }

  .hs-nav_item,
  .hs-nav_content {
    display: block;
    height: $nav-height;
    padding: 0 $nav-item-padding;
    line-height: $nav-height;
    color: inherit;

    .hs-image {
      height: 100%;
    }
  }

  .hs-nav_item {
    @include nav_item--color;

    text-decoration: none;
  }

  .hs-nav_item--active {
    @include nav_item--active;
  }

  .hs-nav_item--brand {
    @include nav_item--color($nav-item-brand-hover-background-color, $nav-item-brand-hover-color);

    &.hs-nav_item--active {
      @include nav_item--active($nav-item-brand-active-background-color, $nav-item-brand-active-color);
    }
  }

  .hs-nav_item--info {
    @include nav_item--color($nav-item-info-hover-background-color, $nav-item-info-hover-color);

    &.hs-nav_item--active {
      @include nav_item--active($nav-item-info-active-background-color, $nav-item-info-active-color);
    }
  }

  .hs-nav_item--warning {
    @include nav_item--color($nav-item-warning-hover-background-color, $nav-item-warning-hover-color);

    &.hs-nav_item--active {
      @include nav_item--active($nav-item-warning-active-background-color, $nav-item-warning-active-color);
    }
  }

  .hs-nav_item--success {
    @include nav_item--color($nav-item-success-hover-background-color, $nav-item-success-hover-color);

    &.hs-nav_item--active {
      @include nav_item--active($nav-item-success-active-background-color, $nav-item-success-active-color);
    }
  }

  .hs-nav_item--error {
    @include nav_item--color($nav-item-error-hover-background-color, $nav-item-error-hover-color);

    &.hs-nav_item--active {
      @include nav_item--active($nav-item-error-active-background-color, $nav-item-error-active-color);
    }
  }
}
