@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

@import "../variables/maps";
@import "../variables/functions";
@import "../variables/colors";
@import "../variables/mixins";

@import "../variables/typography";

button {
  border: 1px solid var(--hs-gray-lighter);
}

.hs-card_button {
  display: inline-block;
  font-family: var(--btn-font-family);
  font-size: rem(14px);
  font-weight: var(--btn-font-weight);
  color: var(--body-color);
  text-align: center;
  text-decoration: if($link-decoration == none, null, none);
  white-space: var(--btn-white-space);
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: var(--hs-gray-100);
  border: var(--btn-border-width) solid var(--hs-gray-300);
  box-shadow: var(--hs-shadow--sm);
  @include button-size(var(--btn-padding-y), var(--btn-padding-x), var(--btn-font-size), var(--btn-line-height), var(--btn-border-radius));
  @include transition($btn-transition);

  @include hover() {
    color: var(--body-color);
    text-decoration: none;
    cursor: pointer;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: var(--btn-focus-box-shadow);
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: var(--btn-disabled-opacity);
    @include box-shadow(none);
  }

  &:not(:disabled):not(.disabled) {
    cursor: if($enable-pointer-cursor-for-buttons, pointer, null);

    &:active,
    &.active {
      @include box-shadow(var(--btn-active-box-shadow));

      &:focus {
        @include box-shadow(var(--btn-focus-box-shadow), var(--btn-active-box-shadow));
      }
    }
  }
}

//
// Alternate buttons
//

@each $color, $value in $interaction-colors {
  .hs-card_button.hs-card_button--#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $interaction-colors {
  .hs-card_button.hs-card_button-shadowlined--#{$color} {
    @include button-shadowlined-variant($value, $hs-lightnessMultiplier);
  }
}

// Disabling of clicks on `<a>` elements
a.hs-card_button.disabled,
fieldset:disabled a.hs-card_button {
  pointer-events: none;
}

//
// Block button
//

.hs-card_button-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .hs-card_button-block {
    margin-top: var(--btn-block-spacing-y);
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.hs-card_button-block {
    width: 100%;
  }
}
