@import 'mixins/settings';

.hs-heading,
.hs-heading_sub {
  padding: $heading-padding;
  margin: $heading-margin;
  font-weight: $heading-font-weight;
}

.hs-heading_sub {
  padding: $heading-subheading-padding;
  font-size: $heading-subheading-font-size;
  opacity: $heading-subheading-opacity;
}
