/* stylelint-disable selector-combinator-space-after */
@import "./mixins/settings";
@import "../variables";

.hs-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: $hs-card-height;
  word-wrap: break-word;
  background-color: $hs-card-bg;
  //Instead of the line below you could use @include background-clip($clip)
  background-clip: border-box;
  border: $hs-card-border-width;
  @include border-radius($hs-card-border-radius);
  .hs-display-block {
    display: block;
  }
  .hs-display-none {
    display: none;
  }
  & > {
    .hs-card_header {
      display: flex;
      padding: .5rem;
      margin-bottom: 0;
      background-color: $hs-card-cap-bg;
      border-bottom: $hs-card-border-width solid $hs-card-border-color;
      @include card-header-dimensions;

      &:first-child {
        @include border-radius($hs-card-inner-border-radius $hs-card-inner-border-radius 0 0);
      }

      & +.list-group {
        .list-group_item:first-child {
          border-top: 0;
        }
      }
      & > {
        .hs-overlay {
          position: relative;
          @include card-header-dimensions;
          &::before {
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 0;
            content: '';
            background-color: fade-out($hs-theme-primary, .9);
            transition: all ease .3s;
            // transform: translate(0%, 0%);
          }
          &:hover::before {
            top: 0px;
            left: 0px;
            z-index: 1000;
            width: 100%;
            height: 100%;
            font-size: 1rem;
            color: $hs-white;
            content: "";
            background-color: rgba(254, 209, 54, 0.75);
            transition: all ease .3s;

          }
          &::after {
            position: absolute;
            top: 0%;
            left: 50%;
            z-index: 1001;
            width: 100%;
            height: 80px;
            font-size: 3rem;
            line-height: normal;
            color: $hs-white;
            text-align: center;
            white-space: nowrap;
            content: "";
            background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg version='1.1' id='Layer_1' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='400px' height='262px' viewBox='0 0 400 262' enable-background='new 0 0 400 262' xml:space='preserve'%3e%3cpath fill='%23FFFFFF' stroke='%23FFFFFF' stroke-miterlimit='10' d='M298.25,106.438h-73.688V32.75c0-9.042-7.333-16.375-16.375-16.375 h-16.375c-9.042,0-16.375,7.333-16.375,16.375v73.688H101.75c-9.042,0-16.375,7.333-16.375,16.375v16.375 c0,9.042,7.333,16.375,16.375,16.375h73.688v73.688c0,9.042,7.333,16.375,16.375,16.375h16.375c9.042,0,16.375-7.333,16.375-16.375 v-73.688h73.688c9.042,0,16.375-7.333,16.375-16.375v-16.375C314.625,113.771,307.292,106.438,298.25,106.438z'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: top 40px;
            background-size: 16px;
            opacity: 0;
            transition: all ease .3s;
            transform: translate(-50%)
          }
          &:hover::after {
            top: 50%;
            left: 0%;
            z-index: 1001;
            content: "";
            background-position-x: center;
            background-position-y: bottom 40px;
            background-size: 48px;
            opacity: 1;
            transition: all ease .3s;
            transform: translate(0%)
          }
        }
      }
    }

    .list-group {
      border-top: inherit;
      border-bottom: inherit;

      &:first-child {
        border-top-width: 0;
        @include border-top-radius($hs-card-inner-border-radius);
      }

      &:last-child {
        border-bottom-width: 0;
        @include border-bottom-radius($hs-card-inner-border-radius);
      }
    }
  }
  > hr {
    margin-right: 0;
    margin-left: 0;
  }

  .hs-card_footer {
    background-color: $hs-card-cap-bg;
    border-top: $hs-card-border-width solid $hs-card-border-color;

    &:last-child {
      @include border-radius(0 0 $hs-card-inner-border-radius $hs-card-inner-border-radius);
    }

    &.dark {
      background-color: $hs-blueGray-dark;
    }

    .hs-logo-row--footer ul.flex-container.space-between {
      display: flex;
      align-items: center;
      max-width: 90%;
      padding: 0;
      margin: 0;
      list-style: none;

      li.flex-item {
        display: inline-block;
        flex: 1 1 auto;
        width: auto;
      }
    }
  }
}
.hs-card.hs-card-size {
  &--sm {
    width: 265px;
    max-height: 393px;
  }
  &--md {
    width: 344px;
    max-height: 510px;
    .hs-card_header {
      width: 100%;
      max-height: 194px;
      padding: .5rem;
    }
  }
}

.hs-card_img-header_img {
  @include card-header-dimensions;
}

.hs-card_body {
  flex: 1 1 auto;
  width: 100%;
  width: $hs-card-width--fluid;
  overflow: hidden;
  color: $hs-card-color;
  background-color: $hs-white_5;
}

.hs-card_content {
  width: 100%;
  padding: 12px $hs-spacing--md;
  line-height: 1;
  text-align: left;
  background-color: $hs-white;
  @include hs-card-content;
}

.hs-card_title {
  margin-bottom: $hs-card-spacer-y;
}

.hs-card_subtitle {
  margin-top: -$hs-card-spacer-y / 2;
  margin-bottom: 0;
}

.hs-card_linkhover {
  text-decoration: none;
}

.hs-card_header {
  display: flex;
  padding: .5rem;
  margin-bottom: 0;
  background-color: $hs-card-cap-bg;
  border-bottom: $hs-card-border-width solid $hs-card-border-color;
  @include card-header-dimensions;

  &:first-child {
    border-radius: 0;
  }

  +.list-group .list-group_item:first-child {
    border-top: 0;
  }
}

.hs-card_header-tabs {
  margin-right: -$hs-card-spacer-x / 2;
  margin-bottom: -$hs-card-spacer-y;
  margin-left: -$hs-card-spacer-x / 2;
  border-bottom: 0;
}

.hs-card_header-pills {
  margin-right: -$hs-card-spacer-x / 2;
  margin-left: -$hs-card-spacer-x / 2;
}

.hs-card_img-header_overlay,
[class^="hs-card_img-headerr_overlay--"] {
  position: relative;
  &::before {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    content: '';
    background-color: fade-out($hs-theme-primary, .9);
    opacity: 1;
    transition: all ease .3s;
    transform: translate(0%, 0%);
  }
  &:hover::before {
    top: 0px;
    left: 0px;
    z-index: 99;
    width: 100%;
    height: 100%;

    color: $hs-white;
    content: "";
    //Instead of the line below you could use @include transition($transition-1,$transition-2,$transition-3,$transition-4,$transition-5,$transition-6,$transition-7,$transition-8,$transition-9,$transition-10)@include transition-ease-dot3s;
    background-color: rgba(254, 209, 54, 0.75);
    background-image: url("data:image/svg+xml;charset=utf-8, %3c?xml version='1.0'encoding='utf-8'?%3e%3c !-- generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version:6.00 Build 0) --%3e%3c !DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN''http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3e%3csvg version='1.1'id='Layer_1'xmlns='http://www.w3.org/2000/svg'xmlns:xlink='http://www.w3.org/1999/xlink'x='0px'y='0px'width='48px'height='48px'viewBox='0 0 48 48'enable-background='new 0 0 48 48'xml:space='preserve'%3e%3cpath fill='%23FFFFFF'd='M47,18.25H29.75V1h-11.5v17.25H1v11.5h17.25V47h11.5V29.75H47V18.25z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 48px;
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
// .hs-card_img-header_overlay::before {
//   position: absolute;
//   z-index: 99;
//   width: 100%;
//   height: 100%;
//   content: '';
//   background-color: fade-out($hs-theme-primary, .9);
//   opacity: 1;
//   transition: all ease .3s;
//   transform: translate(0%, 0%);
// }

// .hs-card_img-header_overlay:hover::before {
//   top: 0px;
//   left: 0px;
//   z-index: 99;
//   width: 100%;
//   height: 100%;

//   color: $hs-white;
//   content: "";
//   //Instead of the line below you could use @include transition($transition-1,$transition-2,$transition-3,$transition-4,$transition-5,$transition-6,$transition-7,$transition-8,$transition-9,$transition-10)@include transition-ease-dot3s;
//   background-color: rgba(254, 209, 54, 0.75);
//   background-image: url("data:image/svg+xml;charset=utf-8, %3c?xml version='1.0'encoding='utf-8'?%3e%3c !-- generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version:6.00 Build 0) --%3e%3c !DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN''http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3e%3csvg version='1.1'id='Layer_1'xmlns='http://www.w3.org/2000/svg'xmlns:xlink='http://www.w3.org/1999/xlink'x='0px'y='0px'width='48px'height='48px'viewBox='0 0 48 48'enable-background='new 0 0 48 48'xml:space='preserve'%3e%3cpath fill='%23FFFFFF'd='M47,18.25H29.75V1h-11.5v17.25H1v11.5h17.25V47h11.5V29.75H47V18.25z'/%3e%3c/svg%3e");
//   background-repeat: no-repeat;
//   background-position: center center;
//   background-size: 48px;
//   opacity: 1;
//   transform: translate(0%, 0%);

// }


.hs-card_img,
.hs-card_img--top,
.hs-card_img--bottom {
  flex-shrink: 0; // For IE: https://github.com/twbs/bootstrap/issues/29396
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
}

.hs-card_img,
.hs-card_img--top {
  @include border-top-radius($hs-card-inner-border-radius);
}

.hs-card_img,
.hs-card_img--bottom {
  @include border-bottom-radius($hs-card-inner-border-radius);
}

.hs-card-deck {
  .hs-card {
    margin-bottom: $hs-card-deck-margin;
  }


}

@media (min-width: 576px) {
  .hs-card-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .hs-card-deck .hs-card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-right: 15px;
    margin-bottom: $hs-card-group-margin;
    margin-left: 15px;
  }
}

@media (min-width: 576px) {
  .hs-card-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  .hs-card-group > .hs-card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-bottom: $hs-card-group-margin;
  }

  .hs-card-group > .hs-card +.hs-card {
    margin-left: 0;
    border-left: 0;
  }

  .hs-card-group > .hs-card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .hs-card-group > .hs-card:not(:last-child) .hs-card_img--top,
  .hs-card-group > .hs-card:not(:last-child) .hs-card_header {
    border-top-right-radius: 0;
  }

  .hs-card-group > .hs-card:not(:last-child) .hs-card_img--bottom,
  .hs-card-group > .hs-card:not(:last-child) .hs-card_footer {
    border-bottom-right-radius: 0;
  }

  .hs-card-group > .hs-card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .hs-card-group > .hs-card:not(:first-child) .hs-card_img--top,
  .hs-card-group > .hs-card:not(:first-child) .hs-card_header {
    border-top-left-radius: 0;
  }

  .hs-card-group > .hs-card:not(:first-child) .hs-card_img--bottom,
  .hs-card-group > .hs-card:not(:first-child) .hs-card_footer {
    border-bottom-left-radius: 0;
  }
}

@media (min-width: 576px) {
  .hs-card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }

  .hs-card-columns .hs-card {
    display: inline-block;
    width: 100%;
  }
}

.hs-dev-logo {
  vertical-align: middle;
  filter: grayscale(60%);
  opacity: 0.5;
}

.hs-logo-row--footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-height: 96px;
  padding: 0.5rem;

  .hs-dev-logo {
    width: 24px;
    vertical-align: middle;
  }
}
.hs-skills-logo {
  vertical-align: middle;
}

.hs-divider {
  display: flex;
  height: 30px;
}

.hs-card_text:last-child {
  margin-bottom: 0;
}

.hs-card_link + .hs-card_link {
  margin-left: 1.25rem;
}

.hs-card-deck .hs-card {
  margin-bottom: 15px;
}

.hs-card-group > .hs-card {
  margin-bottom: 15px;
}

.hs-card_columns .hs-card {
  margin-bottom: 0.75rem;
}

.accordion {
  > .hs-card {
    overflow: hidden;

    &:not(:last-of-type) {
      border-bottom: 0;
      @include border-bottom-radius(0);
    }

    &:not(:first-of-type) {
      @include border-top-radius(0);
    }

    > .hs-card_header {
      @include border-radius(0);
      padding: .5rem;
      margin-bottom: -$hs-card-border-width;
    }
  }
}
.footer-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin: 0px 10px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  list-style: none;
  .flex-item {
    flex: none;
  }
}
