@import 'mixins/objects.grid';

.hs-media {
  @include grid;
}

.hs-media .hs-heading {
  padding: 0;
}

.hs-media_image,
.hs-media_body {
  @include grid_cell;
  @include grid_cell--no-gutter;

  &--top {
    @include grid_cell--top;
  }

  &--center {
    @include grid_cell--center;
  }

  &--bottom {
    @include grid_cell--bottom;
  }
}

.hs-media_image {
  @include grid_cell--width-fixed;
  width: $media-image-width;
}

.hs-media_body {
  margin-left: $media-body-margin-left;
}
