@import '../vars';
@import 'mixins/settings';
@import 'mixins/objects.grid';
@import 'mixins/utilities.alignment';

.modal {

  > .hs-card {
    background-color: transparent;
    box-shadow: none;

    .hs-card_body {
      position: relative;
    }
  }

  &.hs-modal--ghost {
    color: $modal-ghost-color;
    background-color: $modal-ghost-background-color;

    .hs-heading {
      color: $modal-ghost-heading-color;
    }
  }
  &.hs-modal--full {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: all .25s ease-out;
    transition-delay: .12s;
    transform: translateX(-50%);
    .hs-card_body {
      position: absolute;
      top: 3.5em;
      bottom: 4em;
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      color: $hs-white;
    }
    .hs-card_footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
  &.fade {
    width: 1px;
    height: 1px;
    &.show {
      width: 100vw;
      height: 100vh;
    }
  }
}
