// showmore content bar
.j-showmore {
  position: absolute;
  left: -9999px;
  max-height: 400px;
  padding-bottom: 60px;
  overflow: hidden;
  -webkit-transition: max-height .25s ease-in-out;
  -moz-transition: max-00000ht .25s ease-in-out;
  -o-transition: max-height .25s ease-in-out;
  transition: max-height .25s ease-in-out;

  // -webkit-transition-timing-function: ease-in-out;
  // -moz-transition-timing-function: ease-in-out;
  // -o-transition-timing-function: ease-in-out;
  // transition-timing-function: ease-in-out;

  &.is-visible {
    position: relative;
    left: 0px;
    height: 100%;
    -webkit-transition: max-height .25s ease-in-out;
    -moz-transition: max-height .25s ease-in-out;
    -o-transition: max-height .25s ease-in-out;
    transition: max-height .25s ease-in-out;

    // -webkit-transition-timing-function: ease-in-out
    // -moz-transition-timing-function: ease-in-out
    // -o-transition-timing-function: ease-in-out
    // transition-timing-function: ease-in-out
  }
}
.j-fader {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 35px;
  text-align: center;
  vertical-align: bottom;
  cursor: pointer;
  background: linear-gradient(to bottom, $hs-white_100, $hs-white_100 60%);
  filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$hs-white_100', endcolorstr='$hs-white_100', gradienttype=0);
  border-bottom: 0 solid $hs-white_2;

  > {
    .j-fader_button {
      position: absolute;
      bottom: -6px;
      left: 50%;
      z-index: 1010;
      display: inline-block;
      width: 80px;
      height: 20px;
      padding: 4px 6px;
      margin: 0 auto;
      font-size: 0.8rem;
      line-height: 1;
      color: $hs-gray-darker;
      white-space: nowrap;
      cursor: pointer;
      background-color: $hs-white;
      border: 1px solid $hs-white;
      border-bottom: 0 solid $hs-white;
      border-radius: 4px;
      box-shadow: 0 -2px 4px 0 $hs-black_45;
      transform: translateX(-50%);

      &.is-visible::before {
        content: '';
      }

      &:hover {
        color: $hs-gray-darker;
        background-color: $hs-white;
      }

      &:focus {
        color: $hs-gray-darker;
        background-color: $hs-gray-lighter;
        border: 1px solid $hs-gray-lighter;
        border-bottom: 5px solid $hs-gray-lighter;
        outline-color: $hs-gray-lighter;
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: unset;
      }

      &.is-visible {
        bottom: 0px;
        color: $hs-gray-darker;
        background-color: $hs-gray-lighter;
        border: 1px solid $hs-gray-lighter;
        border-bottom: 0px solid $hs-gray-lighter;
      }
    }

    .j-fader_button::before {
      position: absolute;
      top: 5%;
      left: 50%;
      z-index: 100;
      display: block;
      //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      width: 100%;
      font-size: 0.75rem;
      content: '';
      transform: translate(-50%);
    }
    .j-fader_button.is-visible::before {
      display: none;
    }

    .j-fader.is-visible {
      border-bottom: 0px solid $hs-gray-lighter;
    }
  }
  &.is-visible {
    bottom: 113px;
    height: 0px;
    border-bottom: 0px solid $hs-gray-lighter;
  }
}

@keyframes slideOpen {
  from {
    height: 300px;
  }

  to {
    height: 100%;
  }
}

@keyframes slideClosed {
  from {
    height: 100%;
  }

  to {
    height: 300px;
  }
}
.hs-code .j-fader {
  background: linear-gradient(to bottom, $hs-white_60, $hs-white 60%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
  border-bottom: 5px solid $hs-white_2;
}
