// Styling for the contact section
section#contact, hs-section-contact {
  min-height: 530px;
  background-color: rgb(97, 77, 53);
  background-image: url("../../assets/img/bg/western-bg.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  .hs-section-heading,
  .hs-section-subheading {
    color: #fff;
    text-shadow: 0px 4px 13px rgba(0, 0, 0, 0.75);
  }

  .hs-section-heading {
    font-size: 4rem;
    @include heading-font;
    font-weight: 700;
  }

  .hs-section-subheading {
    font-family: $subheadings-font-family;
    font-size: 2rem;
    font-style: italic;
  }
  form#contactForm {
    .form-group {
      margin-bottom: $grid-gutter-width;
      input,
      textarea {
        padding: 1.25rem;
      }
      input.form-control {
        height: auto;
      }
    }
    .form-group-textarea {
      height: 100%;
      textarea {
        height: 100%;
        min-height: 10rem;
      }
    }
    p.help-block {
      margin: 0;
    }
    .form-control:focus {
      border-color: $primary;
      box-shadow: none;
    }
    ::-webkit-input-placeholder {
      font-family: $headings-font-family;
      font-weight: $headings-font-weight;
      color: $gray-400;
    }
    :-moz-placeholder {
      font-family: $headings-font-family;
      font-weight: $headings-font-weight;
      color: $gray-400;
    }
    ::-moz-placeholder {
      font-family: $headings-font-family;
      font-weight: $headings-font-weight;
      color: $gray-400;
    }
    :-ms-input-placeholder {
      font-family: $headings-font-family;
      font-weight: $headings-font-weight;
      color: $gray-400;
    }
  }
}
