// Styling for the contact section
#contact,
.hs-contact,
.hs-section {
  position: relative;
  height: 100vh;
  background-color: $hs-canvas;
  // background-image: url("/assets/img/bg/dtown.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: bottom;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    content: '';
    background: rgba(0, 0, 0, .5);
  }

  .hs-section-heading,
  .hs-section-subheading {
    color: #fff;
    text-shadow: 0px 4px 13px rgba(0, 0, 0, 0.75);
  }

  .hs-section-heading {
    font-size: 4rem;
    font-weight: 700;
    @include heading-font;
  }

  .hs-section-subheading {
    font-family: $subheadings-font-family;
    font-size: 2rem;
    font-style: italic;
  }



}
