// Styling for the masthead
header.masthead,
.hs-header {
  position: relative;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  color: #fff;
  text-align: center;
  background-color: $hs-gray-medium;
  background-image: url('/assets/img/bg/DRTECHNOLOGY.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top -150px center;
  @include background-cover;
  &::before {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    width: 100%;
    height: 100vh;
    content: '';
    background: rgba(0, 0, 0, 0.64);
  }
}
@include media-breakpoint-up(lg) {
  header.masthead,
  .hs-header {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    color: #fff;
    text-align: center;
    background-color: $hs-gray-medium;
    background-image: url('/assets/img/bg/DRTECHNOLOGY.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top -150px center;
    @include background-cover;
    &::before {
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 2;
      width: 100%;
      height: 100vh;
      content: '';
      background: rgba(0, 0, 0, 0.64);
    }
    .hs-intro-text {
      left: 0;
      // padding-top: 50px;
      // padding-bottom: 50px;
      text-align: center;
      transform: translateY(-50%);
      .hs-intro-lead-in {
        display: block;
        width: 100%;
        @include serif-font;
        // padding-bottom: 75px;
        font-size: rem(40px);
        font-style: italic;
        line-height: normal;
        text-align: center;
        text-shadow: $hs-text-shadow-light;
        &::after {
          display: block;
          flex: none;
          width: 100%;
        }
      }

      .hs-intro-subheading {
        margin-bottom: 0px;
        @include heading-font;
        font-size: 2.6rem;
        font-style: italic;
        line-height: normal;
      }
      .hs-intro-heading {
        @include heading-font;
        // padding-bottom: 75px;
        // margin-bottom: 25px;
        margin: 0;
        font-size: 4.6875rem;
        font-weight: 700;
        line-height: normal;
        text-align: center;
        text-shadow: $hs-text-shadow-light-spread;
      }
    }

    header,
    .hs-header {
      position: relative;
      min-height: 100vh;
      background-color: #2f2f31;
      .hs-intro-text {
        position: absolute;
        top: 50vh;
        left: 50%;
        z-index: 3;
        transform: translate(-50%, -50%);
        .hs-intro-lead-in {
          @include serif-font;
          padding-bottom: 75px;
          font-size: rem(40px);
          font-style: italic;
          line-height: rem(40px);
        }
        .hs-intro-heading {
          @include heading-font;
          padding-bottom: 50px;
          font-size: 75px;
          font-weight: 700;
          line-height: 75px;
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .hs-header {
    position: relative;
    min-height: 100vh;
    background-color: #2f2f31;
    background-position: top center;
  }
  .hs-intro-text {
    position: absolute;
    top: 50%;
    // left: 50%;
    z-index: 3;
    transform: translateY(-50%);
  }
  .hs-intro-lead-in {
    @include serif-font;
    // padding-bottom: 75px;
    // font-size: 40px;
    font-style: italic;
    // line-height: 40px;
  }
  .hs-intro-heading {
    // padding-bottom: 50px;
    font-size: 4.6875rem;
    font-weight: 700;
    @include heading-font;
    line-height: 4.6875rem;
  }
}
.hs-divider {
  display: flex;
  height: 30px;
}

@include media-breakpoint-up(sm) {
  .hs-header {
    position: relative;
    display: inline-block;
    background-position: top center;
  }
  .hs-intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    width: 100%;
    transform: translate(-50%, -50%);
  }
  .hs-intro-lead-in {
    position: relative;
    display: inline-block;
    margin: 20px auto;
    @include serif-font;
    font-size: 2rem;
    font-style: italic;
  }
  .hs-intro-heading {
    position: relative;
    display: inline-block;
    // padding-bottom: 20px;
    margin: 0 auto;
    @include heading-font;
    font-size: 3.5rem;
    line-height: normal;
    white-space: normal;
  }
  .js-page-trigger {
    position: relative;
    display: inline-block;
    margin: 30px auto;
  }
}
@include media-breakpoint-up(xs) {
  .hs-header {
    position: relative;
    display: inline-block;
    background-position: top center;
  }
  .hs-intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    display: inline-block;
    margin: 20px auto;
    transform: translate(-50%, -50%);
  }
  .hs-intro-lead-in {
    position: relative;
    display: inline-block;
    margin: 20px auto;
    font-style: italic;
    @include serif-font;
  }
  .hs-intro-heading {
    position: relative;
    display: inline-block;
    margin: 20px auto;
    @include heading-font;
    font-size: 42px;
    font-weight: bold;
    line-height: normal;
    white-space: normal;
  }
  .js-page-trigger {
    position: relative;
    display: inline-block;
    margin: 50px auto;
  }
}
