// Styling for the masthead
header.masthead,
.hs-header {
  position: relative;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  color: #fff;
  text-align: center;
  background-color: $hs-gray-medium;
  background-image: url('/assets/img/bg/DRTECHNOLOGY.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top -150px center;
  @include background-cover;
  &::before {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    width: 100%;
    height: 100vh;
    content: '';
    background: rgba(0, 0, 0, 0.64);
  }

  .masthead-subheading {
    margin-bottom: 25px;
    font-family: $subheadings-font-family;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
  }

  .masthead-heading,
  .hs-intro-heading {
    @include heading-font;
    padding-bottom: 75px;
    margin-bottom: 25px;
    // margin-bottom: 2rem;
    font-family: $headings-font-family;
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    text-align: center;
    // text-shadow: $hs-text-shadow-light-spread;
    text-shadow: rgba(0, 0, 0, 1) 0px 0px 15px, rgba(0, 0, 0, 1) 0px 0px 10px;
    white-space: nowrap;
  }
  // .js-scroll-trigger {
  //   &.btn{
  //     &.btn-xl {
  //       &.hs-effect-yellow-button {
  //         color: #000;
  //         background-color: $hs-theme-primary;
  //         &:hover,
  //         &:active,
  //         &:visited,
  //         &:focus {
  //           background-color: darken($hs-theme-primary, 15%);
  //         }
  //       }
  //     }
  //   }
  // }
}

@include media-breakpoint-up(md) {
  .hs-header {
    background-position: top center;
  }
  .hs-intro-text {
    transform: translateX(-54%);
  }
  .hs-intro-lead-in {
    padding-bottom: 20px;
  }
  .hs-intro-heading {
    padding-bottom: 20px;
    font-size: 42px;
    line-height: normal;
    white-space: normal;
  }
}
.hs-divider {
  display: flex;
  height: 30px;
}
@media (max-width: 360px) {
  .hs-header {
    position: relative;
    display: inline-block !important;
    background-position: top center;
  }
  .hs-intro-text {
    position: relative !important;
    display: inline-block !important;
    margin: 20px auto;
  }
  .hs-intro-lead-in {
    position: relative !important;
    display: inline-block !important;
    margin: 20px auto;
  }
  .hs-intro-heading {
    position: relative !important;
    display: inline-block !important;
    padding-bottom: 20px !important;
    margin: 20px auto;
    font-size: 42px !important;
    line-height: normal !important;
    white-space: normal !important;
  }
  .js-page-trigger {
    position: relative !important;
    display: inline-block !important;
    margin: 50px auto !important;
  }
}
