:root {
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --black: #000;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --primary: --blue;
  --secondary: --gray-600;
  --success: --green;
  --info: --cyan;
  --warning: --yellow;
  --danger: --red;
  --light: --gray-100;
  --dark: --gray-800;
  --theme-color-interval: 8%;
  --yiq-contrasted-threshold: 150;
  --yiq-text-dark: --gray-900;
  --yiq-text-light: --white;
  --link-color: theme-color("primary");
  --link-decoration: none;
  --link-hover-color: darken(--link-color, 15%);
  --link-hover-decoration: underline;
  --emphasized-link-hover-darken-percentage: 15%;
  --paragraph-margin-bottom: 1rem;
  --grid-columns: 12;
  --grid-gutter-width: 30px;
  --grid-row-columns: 6;
  --line-height-lg: 1.5;
  --line-height-sm: 1.5;
  --border-width: 1px;
  --border-color: --gray-300;
  --border-radius: .25rem;
  --border-radius-lg: .3rem;
  --border-radius-sm: .2rem;
  --rounded-pill: 50rem;
  --box-shadow-sm: 0 .125rem .25rem rgba(--black, .075);
  --box-shadow: 0 .5rem 1rem rgba(--black, .15);
  --box-shadow-lg: 0 1rem 3rem rgba(--black, .175);
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-family-base: --font-family-sans-serif;
  --font-size-base: 1rem;
  --font-size-lg: --font-size-base * 1.25;
  --font-size-sm: --font-size-base * .875;
  --font-weight-lighter: lighter;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-bolder: bolder;
  --font-weight-base: --font-weight-normal;
  --line-height-base: 1.5;
  --h1-font-size: --font-size-base * 2.5;
  --h2-font-size: --font-size-base * 2;
  --h3-font-size: --font-size-base * 1.75;
  --h4-font-size: --font-size-base * 1.5;
  --h5-font-size: --font-size-base * 1.25;
  --h6-font-size: --font-size-base;
  --headings-margin-bottom: --spacer / 2;
  --headings-font-family: null;
  --headings-font-weight: 500;
  --headings-line-height: 1.2;
  --headings-color: null;
  --display1-size: 6rem;
  --display2-size: 5.5rem;
  --display3-size: 4.5rem;
  --display4-size: 3.5rem;
  --display1-weight: 300;
  --display2-weight: 300;
  --display3-weight: 300;
  --display4-weight: 300;
  --display-line-height: --headings-line-height;
  --lead-font-size: --font-size-base * 1.25;
  --lead-font-weight: 300;
  --small-font-size: 80%;
  --text-muted: --gray-600;
  --input-btn-padding-y: .375rem;
  --input-btn-padding-x: .75rem;
  --input-btn-font-family: null;
  --input-btn-font-size: --font-size-base;
  --input-btn-line-height: --line-height-base;
  --input-btn-focus-width: .2rem;
  --input-btn-focus-color: rgba(--component-active-bg, .25);
  --input-btn-focus-box-shadow: 0 0 0 --input-btn-focus-width --input-btn-focus-color;
  --input-btn-padding-y-sm: .25rem;
  --input-btn-padding-x-sm: .5rem;
  --input-btn-font-size-sm: --font-size-sm;
  --input-btn-line-height-sm: --line-height-sm;
  --input-btn-padding-y-lg: .5rem;
  --input-btn-padding-x-lg: 1rem;
  --input-btn-font-size-lg: --font-size-lg;
  --input-btn-line-height-lg: --line-height-lg;
  --input-btn-border-width: --border-width;
  --btn-padding-y: --input-btn-padding-y;
  --btn-padding-x: --input-btn-padding-x;
  --btn-font-family: --input-btn-font-family;
  --btn-font-size: --input-btn-font-size;
  --btn-line-height: --input-btn-line-height;
  --btn-white-space: null;
  --btn-padding-y-sm: --input-btn-padding-y-sm;
  --btn-padding-x-sm: --input-btn-padding-x-sm;
  --btn-font-size-sm: --input-btn-font-size-sm;
  --btn-line-height-sm: --input-btn-line-height-sm;
  --btn-padding-y-lg: --input-btn-padding-y-lg;
  --btn-padding-x-lg: --input-btn-padding-x-lg;
  --btn-font-size-lg: --input-btn-font-size-lg;
  --btn-line-height-lg: --input-btn-line-height-lg;
  --btn-border-width: --input-btn-border-width;
  --btn-font-weight: --font-weight-normal;
  --btn-box-shadow: inset 0 1px 0 rgba(--white, .15), 0 1px 1px rgba(--black, .075);
  --btn-focus-width: --input-btn-focus-width;
  --btn-focus-box-shadow: --input-btn-focus-box-shadow;
  --btn-disabled-opacity: .65;
  --btn-active-box-shadow: inset 0 3px 5px rgba(--black, .125);
  --btn-link-disabled-color: --gray-600;
  --btn-block-spacing-y: .5rem;
  --btn-border-radius: --border-radius;
  --btn-border-radius-lg: --border-radius-lg;
  --btn-border-radius-sm: --border-radius-sm;
  --btn-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  /*  Override Bootstrap color system  */
  --yellow: #fed136;

  /*  Override Bootstrap default state colors  */
  --primary: var(--yellow);

  /*  Override Bootstrap yiq lightness value  */
  --yiq-contrasted-threshold: 205;

  /*  Interaction Colors  */
  --hs-color_red: #e12037;
  --hs-color-pink: #e83e8c;
  --hs-color_red-orange: #f63a0f;
  --hs-color_orange: #f27011;
  --hs-color_dark-yellow: #f2b01e;
  --hs-color_yellow: #f2d31b;
  --hs-color_yellow--light: #ffe659;
  --hs-color_yellow--dark: #e2b900;
  --hs-color_lime: #86e01e;
  --hs-color_light-lime: #e7ffcb;
  --hs-color_green: #28a745;
  --hs-color_green--light: #93ff7e;
  --hs-color_green--dark: #468c1f;
  --hs-color_teal: #20c997;
  --hs-color_silver: #aaa;
  --hs-color_purple: #6f42c1;
  --hs-color_cyan: #17a2b8;
  --hs-color_turquoise: #5ac8fa;
  --hs-color_blue-semimuted: #4997cd;
  --hs-color_blue: #007bff;
  --hs-color-indigo: #6610f2;
  --hs-color-grey: hsl(207, 10%, 55%);
  --hs-color-grey-light: hsl(206, 13%, 79%);
  --hs-color-green: hsl(111, 51%, 60%);
  --hs-color-red: hsl(356, 53%, 49%);
  --hs-color-yellow: hsl(47, 85%, 61%);
  --hs-color-white: hsl(0, 0%, 100%);

  /* header */
  --hs-header-height: 200px;

  /*  line-height */
  --heading-line-height: 1.2;
  --body-line-height: 1.4;
  --hs-spacing--md: 1rem;
  --hs-spacing--lg: 1.5 rem;
  --hs-font-secondary: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;


  /*  Gray and Brand Colors for use across theme  */
  --hs-theme-primary: #fed136;
  --hs-theme-primary--trans50: rgba(254, 211, 54, 0.5);
  --hs-theme_secondary: #6c757d;
  --hs-theme_success: #28a745;
  --hs-theme_info: #17a2b8;
  --hs-theme-danger: #e74c3c;
  --hs-theme_warning: #007bff;
  --hs-theme-background-primary: #f8f8f8;
  --hs-theme-background-secondary: #ebebeb;
  --hs-black: #000;
  --hs-black_15: rgba(0, 0, 0, 0.15);
  --hs-black_25: rgba(0, 0, 0, 0.25);
  --hs-black_45: rgba(0, 0, 0, 0.45);
  --hs-black_50: rgba(0, 0, 0, 0.5);
  --hs-black_75: rgba(0, 0, 0, 0.75);
  --hs-gray-base: #111;
  --hs-gray-medium: #2f2f31;
  --hs-gray-darker: #333;
  --hs-gray-dark: #333;

  /* #333 */
  --hs-gray: #555;

  /* #555 */
  --hs-gray-light: #777;

  /* #777 */
  --hs-gray-lighter: #dedede;

  /* #dedede */
  --hs-gray-lighter-05: #e9e9ed;
  --hs-gray-lightest: #eee;
  --hs-white_2: #f2f2f2;
  --hs-white_5: #f8f8f8;
  --hs-white_8: rgba(255, 255, 255, 0.08);
  --hs-white_10: rgba(255, 255, 255, 0.1);
  --hs-white_30: rgba(255, 255, 255, 0.3);
  --hs-white_60: rgba(255, 255, 255, 0.6);
  --hs-white_100: rgba(255, 255, 255, 1);

  /* Dark Mode Colors */
  --hs-blueGray-medium: #507386;
  --hs-blueGray-medium-muted: #476e82;
  --hs-blueGray-medium-saturated: #136591;
  --hs-blueGray-dark: #0f161d;
  --hs-blueGray-very-dark: #181a1b;

  /* #181a1b */
  --hs-blueGray-darker: #0c0f11;
  --hs-blueGray-darker--alpha75: rgba(12, 15, 17, 0.75);
  --hs-blueGray-light: #2d373c;
  --hs-text-onDark: #fff;
  --hs-blue-light: #0291ca;

  /*  --hs-blue-lighter: #83d6ff;
  --hs-blue-lighter: #83d6ff;  */
  --hs-blue-lighter: #78bad8;
  --hs-blue-lightest: #a8dfff;
  --hs-blue-light-muted: #80b6cc;

  /* or do #83d6ff */
  --hs-blue-lighter-muted: #8ec1d9;
  --hs-blue-lightest-muted: #9bcbe6;
  --hs-blue-dark: #1e364e;
  --hs-link-primary: var(--hs-theme-primary);
  --hs-baige-light: #cac1ac;
  --hs-baige-medium: #a79e8b;
  --hs-theme-color-text: var(--hs-gray-dark);
  --hs-theme-color-text-onDark: var(--hs-white);
  --hs-font-cursive-Caveat: 'Caveat', cursive;
  --hs-font-cursive-NYCD: 'Nothing You Could Do', cursive;
  --hs-font-cursive-Sedgwick: 'Sedgwick Ave Display', cursive;
  --hs-text-shadow-light: 0px 0px 4px rgba(0, 0, 0, .95);
  --hs-text-shadow-light-spread: 0px 4px 13px rgba(0, 0, 0, .75);
  --hs-text-shadow-medium: 0px 0px 10px rgba(0, 0, 0, .85);
  --hs-canvas: var(--hs-white_5);
  --hs-surface: var(--hs-white);
  --hs-grid-columns: 12;
  --hs-grid-gutter-width: 30px;
  --hs-grid-row-columns: 6;

  /* Paddding & Margins Generics */
  --hs-spacing--sm: .5rem;
  --hs-spacing--md: 1rem;
  --hs-spacing--lg: 1.5 rem;

  /* Borders  */
  --enable-rounded: true;
  --hs-border-width: 1px;
  --hs-border-color: --hs-gray-lighter;
  --hs-border-radius: .25rem;

  /* 4px */
  --hs-border-radius-sm: .125rem;

  /* 2px */
  --hs-border-radius-lg: .5rem;

  /* 8px */
  --hs-border-radius-md: .25%;

  /* Outer glow */
  --hs-box-shadow-glow: 0px 4px 16px 2px rgba(255, 255, 255, .5);

  /* Shadows */
  --hs-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --hs-shadow-heavy: 2px 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
  --hs-shadow-xs: 2px 0.2rem 0.2rem rgba(0, 0, 0, 0.15);
  --hs-shadow-xs-reverse: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15);
  --hs-shadow-xs-center: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15);
  --hs-shadow-xs-center-xtra: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15), 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15);
  --hs-shadow-xs-center-reverse: -2px 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
  --hs-shadow-sm: 0px 2px 4px 0px rgba(0, 0, 0, .5);
  --hs-shadow-lg: 0px 4px 8px 3px rgba(0, 0, 0, .4) rgba(0, 0, 0, 0.4);
  --hs-shadow-inset-blue: inset 0 0 0 2px #5173ff;
  --hs-shadow-none: none;
  --hs-card-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;

  /* --hs-card-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.3); */

  /* Backgrounds */
  --hs-bg-black-to-transparent: linear-gradient(0deg, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 1) 100%);

  /* Cards */
  --hs-card-background: var(--hs-theme-background-primary);
  --hs-card-width: 100%;
  --hs-card-height: 100%;
  --hs-card-title: 2rem;
  --hs-card-subtitle: calc(var(--hs-card-title) - 10%);
  --hs-card-img-width: var(--hs-card-width);
  --hs-card-img-height: 100%;
  --hs-card-width--sm: 265px;
  --hs-card-title--sm: 1.3rem;
  --hs-card-subtitle--sm: calc(var(--hs-card-title--sm) - 10%);
  --hs-card-img-width--sm: var(--hs-card-width--sm);
  --hs-card-img-height--sm: 100%;
  --hs-card-width--lg: 400px;
  --hs-card-title--lg: 2.3rem;
  --hs-card-subtitle--lg: calc(var(--hs-card-title--lg) - 10%);
  --hs-card-img-width--lg: var(--hs-card-width--lg);
  --hs-card-img-height--lg: 287px;
  --hs-card-width--fluid: 100%;
  --hs-card-title--fluid: 2.4rem;
  --hs-card-subtitle--fluid: calc(var(--hs-card-title--fluid) - 10%);
  --hs-card-img-width--fluid: var(--hs-card-width--fluid);
  --hs-card-img-height--fluid: 100%;
  --hs-card-margin: .5rem;

  /* Card padding - borders - margins */
  --hs-card-spacer-y: .75rem;
  --hs-card-spacer-x: 1.25rem;
  --hs-card-border-width: var(--hs-border-width);
  --hs-card-border-radius: var(--hs-border-radius);
  --hs-card-border-color: rgba(--hs-black, .125);
  --hs-card-inner-border-radius: var(--hs-border-radius-sm);
  --hs-card-cap-bg: rgba(--hs-black, .03);
  --hs-card-cap-color: null;
  --hs-card-color: null;
  --hs-card-bg: var(--hs-white);
  --hs-card-img-overlay-padding: 1.25rem;
  --hs-card-group-margin: calc(var(--hs-grid-gutter-width) / 2);
  --hs-card-deck-margin: var(--hs-card-group-margin);
  --hs-card-columns-gap: 1.25rem;
  --hs-card-columns-margin: var(--hs-card-spacer-y);

  /* ====== Z-INDEX ======  */
  --hs-zindex-dropdown: 1000;
  --hs-zindex-sticky: 1020;
  --hs-zindex-fixed: 1030;
  --hs-zindex-modal-backdrop: 1040;
  --hs-zindex-modal: 1050;
  --hs-zindex-popover: 1060;
  --hs-zindex-tooltip: 1070;

  /* ====== SHAPES ====== */
  --hs-circle: 50%;
  --hs-pill: 500%;

  /* ======  Spacing ====== */
  --space-unit: 1em;
  --space-xxxxs: calc(.125 * var(--space-unit));
  --space-xxxs: calc(.25 * var(--space-unit));
  --space-xxs: calc(.375 * var(--space-unit));
  --space-xs: calc(.5 * var(--space-unit));
  --space-sm: calc(.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
  --space-xxxl: calc(8.5 * var(--space-unit));
  --space-xxxxl: calc(13.75 * var(--space-unit));
  --component-padding: var(--space-md);

  /* ======  Sizing ====== */
  --max-width-xxs: 32rem;
  --max-width-xs: 38rem;
  --max-width-sm: 48rem;
  --max-width-md: 64rem;
  --max-width-lg: 80rem;
  --max-width-xl: 90rem;
  --max-width-xxl: 120rem;

  /* colors */
  --hs-color-navy: hsl(206, 21%, 24%);
  --hs-color-navy: var(--hs-color-bluenavy);
  --hs-color-blue: hsl(205, 38%, 89%);

  /* font */
  --hs-font-primary: 'Roboto', sans-serif;

  /* White */
  --hs-white: #fff;

  /* Card Columns */
  --hs-card-columns-count: 3;


}

/* latin */
@font-face {
  font-family: "Caveat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/caveat/v9/Wnz6HAc5bAfYB2Q7ZjYY.woff2") format("woff2");
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2122,
    U+2191,
    U+2193,
    U+2212,
    U+2215,
    U+FEFF,
    U+FFFD;
}

/* latin */
@font-face {
  font-family: "Caveat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/caveat/v9/Wnz6HAc5bAfYB2Q7ZjYY.woff2") format("woff2");
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2122,
    U+2191,
    U+2193,
    U+2212,
    U+2215,
    U+FEFF,
    U+FFFD;
}


/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/montserrat/v15/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2") format("woff2");
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2122,
    U+2191,
    U+2193,
    U+2212,
    U+2215,
    U+FEFF,
    U+FFFD;
}

/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2") format("woff2");
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2122,
    U+2191,
    U+2193,
    U+2212,
    U+2215,
    U+FEFF,
    U+FFFD;
}


/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.woff2") format("woff2");
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2122,
    U+2191,
    U+2193,
    U+2212,
    U+2215,
    U+FEFF,
    U+FFFD;
}


/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4.woff2") format("woff2");
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2122,
    U+2191,
    U+2193,
    U+2212,
    U+2215,
    U+FEFF,
    U+FFFD;
}

/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2") format("woff2");
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2122,
    U+2191,
    U+2193,
    U+2212,
    U+2215,
    U+FEFF,
    U+FFFD;
}

/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2") format("woff2");
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2122,
    U+2191,
    U+2193,
    U+2212,
    U+2215,
    U+FEFF,
    U+FFFD;
}

/* latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/robotoslab/v12/BngMUXZYTXPIvIBgJJSb6ufN5qU.woff2") format("woff2");
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2122,
    U+2191,
    U+2193,
    U+2212,
    U+2215,
    U+FEFF,
    U+FFFD;
}

/* latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/robotoslab/v12/BngMUXZYTXPIvIBgJJSb6ufN5qU.woff2") format("woff2");
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2122,
    U+2191,
    U+2193,
    U+2212,
    U+2215,
    U+FEFF,
    U+FFFD;
}
