@import "../../scss/vars";

.hs-vanish {
  opacity: 0;
  transition: all 1s;
}

.hs-3drotate__container {
  position: relative;
  width: 100%;
}
.hs-3drotate__scene {
  position: relative;
  min-width: 170px;
  max-width: 770px;
  min-height: 100px;
  max-height: 513px;
  // margin: 40px 0;
  margin: 0 auto;
  border: 1px solid transparent;
  perspective: 1000px;
}

.hs-3drotate {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
}

.hs-3drotate__cell {
  position: absolute;
  top: 10px;
  left: 10px;
  min-width: 190px;
  max-width: 750px;
  min-height: 120px;
  max-height: 500px;
  font-size: 80px;
  font-weight: bold;
  line-height: 116px;
  color: white;
  text-align: center;
  border: 2px solid black;
  transition: transform 1s, opacity 1s;
}
.hs-3drotate__img {
  max-width: 100%;
  height: auto;
}

.hs-3drotate__cell:nth-child(9n+1) { background: hsla(0, 100%, 50%, 0.8); }
.hs-3drotate__cell:nth-child(9n+2) { background: hsla(40, 100%, 50%, 0.8); }
.hs-3drotate__cell:nth-child(9n+3) { background: hsla(80, 100%, 50%, 0.8); }
.hs-3drotate__cell:nth-child(9n+4) { background: hsla(120, 100%, 50%, 0.8); }
.hs-3drotate__cell:nth-child(9n+5) { background: hsla(160, 100%, 50%, 0.8); }
.hs-3drotate__cell:nth-child(9n+6) { background: hsla(200, 100%, 50%, 0.8); }
.hs-3drotate__cell:nth-child(9n+7) { background: hsla(240, 100%, 50%, 0.8); }
.hs-3drotate__cell:nth-child(9n+8) { background: hsla(280, 100%, 50%, 0.8); }
.hs-3drotate__cell:nth-child(9n+0) { background: hsla(320, 100%, 50%, 0.8); }

.hs-3drotate__cell:nth-child(1) { transform: rotateY(0deg) translateZ(288px); }
.hs-3drotate__cell:nth-child(2) { transform: rotateY(40deg) translateZ(288px); }
.hs-3drotate__cell:nth-child(3) { transform: rotateY(80deg) translateZ(288px); }
.hs-3drotate__cell:nth-child(4) { transform: rotateY(120deg) translateZ(288px); }
.hs-3drotate__cell:nth-child(5) { transform: rotateY(160deg) translateZ(288px); }
.hs-3drotate__cell:nth-child(6) { transform: rotateY(200deg) translateZ(288px); }
.hs-3drotate__cell:nth-child(7) { transform: rotateY(240deg) translateZ(288px); }
.hs-3drotate__cell:nth-child(8) { transform: rotateY(280deg)  translateZ(288px); }

%hs-3d-rotate__nav-buttons {
  position: absolute;
  top: 50%;
  z-index: 101;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70%;
  border: 0;
  transform: translateY(-50%);
  &:hover {
    background-color: alpha(var(--hs-color-5), 50%);
  }
  &:focus, &:focus-within {
    background-color: var(--hs-black_25);
    outline: 1px solid alpha(var(--hs-color-5), 60%);
  }
}
.hs-3drotate__nav {
  position: absolute;
  bottom: -12px;
  left: 50%;
  z-index: 100;
  // display: flex;
  display: inline-flex;
  flex: 1 0 0%;
  justify-content: space-between;
  width: 80%;
  padding: var(--space-md);
  background-color: var(--hs-black_75);
  transform: translateX(-50%);
  align-content: stretch;
  .hs-3drotate__next-button {
    @extend %hs-3d-rotate__nav-buttons;
    right: 30px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f8f8f8'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    &:hover, &:focus {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f8f8f875'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

    }
  }
  .hs-3drotate__cells-range {
    flex: 0 1 60%;
    width: 60%;
    margin: auto;
  }
  .hs-3drotate__prev-button {
    @extend %hs-3d-rotate__nav-buttons;
    left: 30px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f8f8f8'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
    &:hover, &:focus {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f8f8f875'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");

    }
  }
}

@mixin rotate3dMaxWidths($map, $key, $value) {
  @debug #{$key};
  @if map-has-key($map, #{$key}) {
    $width: map-deep-get($map, #{$key}, "width");
    @debug $width;
    $height: map-deep-get($map, #{$key}, "height");
    @debug $height;
    @media (min-width: $value) {
      .hs-3drotate__scene {
        position: relative;
        width: map-deep-get($map, #{$key}, "width") + .08px;
        max-width: 100%;
        height: map-deep-get($map, #{$key}, "height") + .08px;
        margin: (map-deep-get($map, #{$key}, "margin") / 2) auto;
        // margin: 0 auto;
        transition: all 1s;
      }

      .hs-3drotate__cell {
        width: map-deep-get($map, #{$key}, "width");
        max-width: 100%;
        height: auto;
        max-height: map-deep-get($map, #{$key}, "height");
        transition: all 1s;
      }

      .hs-3drotate__nav {
        width: (map-deep-get($map, #{$key}, "width") / 2);
      }
      @content;
    }
  }
}

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

@each $key, $value in $breakpoints {
  @include rotate3dMaxWidths($rotate3d-sizes, $key, $value);

}
