:host {
  @import "../../scss/vars";

  // rotator3D configuration parameters
  $item-width: 70%;
  $item-separation: 0px; // JS handles this one now.
  $viewer-distance: 1000px;

  --rotator3D-item-width: 70%;
  --rotator3D-viewer-distance: 1000px;
  --rotator3D-global-transition-speed: .25s;
  --rotator3D-global-easing: ease-in-out;

  // nav
  --rotator3D-nav-background: rgba(0, 0, 0, .5);
  --rotator3D-nav-width: 50%;
  --rotator3D-nav-padding: .15rem 0;
  --rotator3D-nav-margin: 20px 0 0;
  --rotator3D-nav-border: 2px solid transparent;
  --rotator3D-nav-border-radius: 4px;
  --rotator3D-navbutton-background: rgba(0, 0, 0, .65);
  --rotator3D-navbutton-background-hover: alpha(var(--hs-color-5), 50%);
  --rotator3D-navbutton-border: 1px solid alpha(var(--hs-black), 95%);
  --rotator3D-navbutton-width: 32px;
  --rotator3D-navbutton-height: 32px;
  --rotator3D-navbutton-icon-width: 22px;
  --rotator3D-navbutton-icon-height: 22px;
  --rotator3D-navbutton-icon-color: invert(60%) sepia(42%) saturate(4%) hue-rotate(323deg) brightness(93%) contrast(92%);
  --rotator3D-navbutton-icon-color-hover: invert(100%) sepia(100%) saturate(1%) hue-rotate(306deg) brightness(103%) contrast(101%);
  // end rotator3D parameters
  margin-top: 50px;

  .hs-vanish {
    opacity: 0;
    transition: all 1s;
  }

  .rotator3D__container {
    position: relative;
    width: 100%;
  }

  .rotator3D {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow: hidden;

    perspective: var(--rotator3D-viewer-distance);
    transition: all var(--rotator3D-global-transition-speed) var(--rotator3D-global-easing);

    >* {
      flex: 0 0 auto;
    }

    .rotator3D__figure {
      width: var(--rotator3D-item-width);
      margin: 0;
      transition: all var(--rotator3D-global-transition-speed) var(--rotator3D-global-easing);
      transform-style: preserve-3d;

      .rotator3D__img {
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 0 $item-separation / 2;
        transition: all var(--rotator3D-global-transition-speed) var(--rotator3D-global-easing);
        &:not(:first-of-type) {
          position: absolute;
          top: 0;
          left: 0;
          transition: all var(--rotator3D-global-transition-speed) var(--rotator3D-global-easing);
        }
      }
    }
  }


  .rotator3D__nav {
    position: absolute;
    bottom: 42px;
    left: 50%;
    z-index: 999;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--rotator3D-nav-width);
    padding: var(--rotator3D-nav-padding);
    margin: var(--rotator3D-nav-margin);
    background: var(--rotator3D-nav-background);
    border: var(--rotator3D-nav-border);
    border-bottom: 5px solid rgba(0, 0, 0, .85);
    border-radius: var(--rotator3D-nav-border-radius);
    transition: all var(--rotator3D-global-transition-speed) var(--rotator3D-global-easing);
    transform: translateX(-50%);
    .rotator3D__nav-button-col {
      box-sizing: border-box;
      width: 50px;
      padding: 0;
      &:last-child {
        text-align: right;
      }
    }

    .rotator3D__nav-caption {
      flex: 1 1 auto;
      // padding: .5rem;
      color: var(--hs-white);
      text-align: center;
      border-right: 2px solid var(---hs-white--a10);
      border-left: 2px solid var(--hs-white--a10);
    }

    .rotator3D__button {
      box-sizing: border-box;

      flex: 0 0 auto;
      align-items: center;
      justify-content: center;
      width: var(--rotator3D-navbutton-width);
      height: var(--rotator3D-navbutton-height);
      padding: 0;
      margin: 0 5px;

      color: var(--hs-white);
      letter-spacing: 1px;
      cursor: pointer;
      background-color: var(--rotator3D-navbutton-background);
      border: var(--rotator3D-navbutton-border);
      transition: all var(--rotator3D-global-transition-speed) var(--rotator3D-global-easing);
      &:hover {
        color: alpha(var(--hs-white), 75%);
        background-color: alpha(var(--hs-color-5), 50%);
        transition: all var(--rotator3D-global-transition-speed) var(--rotator3D-global-easing);
      }

      &:focus,
      &:focus-within {
        background-color: var(--hs-black_25);
        outline: 1px solid alpha(var(--hs-white), 5%);
        transition: all var(--rotator3D-global-transition-speed) var(--rotator3D-global-easing);
      }

      &.next {
        border-top-right-radius: .25rem;
        &::before {
          display: inline-block;
          width: 1rem;
          height: 1rem;
          vertical-align: -.125em;
          content: "";
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='7.001px' height='13.001px' viewBox='0 1.499 7.001 13.001' enable-background='new 0 1.499 7.001 13.001' xml:space='preserve'%3e%3cpath d='M0.147,1.645C0.343,1.45,0.66,1.451,0.854,1.646l6,6c0,0,0,0,0.001,0.001C7.051,7.842,7.05,8.159,6.855,8.354l-6,6 c-0.195,0.195-0.512,0.195-0.707,0s-0.195-0.512,0-0.707L5.794,8L0.147,2.354c-0.001,0-0.001,0-0.002-0.001 C-0.049,2.158-0.048,1.841,0.147,1.645C0.147,1.646,0.147,1.646,0.147,1.645z'/%3e%3c/svg%3e ");
          filter: var(--rotator3D-navbutton-icon-color);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: var(--rotator3D-navbutton-icon-width) var(--rotator3D-navbutton-icon-height);
          transition: all var(--rotator3D-global-transition-speed) var(--rotator3D-global-easing);
          &:hover,
          &:focus {
            filter: var(--rotator3D-navbutton-icon-color-hover);
          }
        }
        &:hover,
        &:focus {
          background: alpha(var(--hs-color-5), 60%);
          transition: all var(--rotator3D-global-transition-speed) var(--rotator3D-global-easing);
        }
      }

      &.prev {
        border-top-left-radius: .25rem;
        &::before {
          display: inline-block;
          width: 1rem;
          height: 1rem;
          vertical-align: -.125em;
          content: "";
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='7.001px' height='13.001px' viewBox='0 1.499 7.001 13.001' enable-background='new 0 1.499 7.001 13.001' xml:space='preserve'%3e%3cpath d='M6.854,1.646C7.05,1.841,7.051,2.158,6.856,2.353c-0.001,0-0.001,0-0.002,0.001L1.208,8l5.646,5.646 c0.195,0.195,0.195,0.512,0,0.707s-0.512,0.195-0.707,0l-6-6c-0.195-0.195-0.196-0.512-0.001-0.707c0,0,0,0,0.001-0.001l6-6 C6.342,1.451,6.659,1.45,6.854,1.646C6.854,1.646,6.854,1.646,6.854,1.646z'/%3e%3c/svg%3e ");
          filter: var(--rotator3D-navbutton-icon-color);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: var(--rotator3D-navbutton-icon-width) var(--rotator3D-navbutton-icon-height);
          transition: all var(--rotator3D-global-transition-speed) var(--rotator3D-global-easing);
        }

        &:hover,
        &:focus {
          background: alpha(var(--hs-color-5), 60%);
          transition: all var(--rotator3D-global-transition-speed) var(--rotator3D-global-easing);
        }
      }
    }
  }

  .hs-text-yellow {
    color: var(--hs-color_dark-yellow);
  }

  // @mixin rotate3dMaxWidths($map, $key, $value) {
  //   @debug #{$key};
  //   @if map-has-key($map, #{$key}) {
  //     $width: map-deep-get($map, #{$key}, "width");
  //     @debug $width;
  //     $height: map-deep-get($map, #{$key}, "height");
  //     @debug $height;
  //     @media (min-width: $value) {
  //       .rotator3D__scene {
  //         position: relative;
  //         width: map-deep-get($map, #{$key}, "width") + .08px;
  //         max-width: 100%;
  //         height: map-deep-get($map, #{$key}, "height") + .08px;
  //         margin: (map-deep-get($map, #{$key}, "margin") / 2) auto;
  //         // margin: 0 auto;
  //         transition: all 1s;
  //       }

  //       .rotator3D__img {
  //         width: map-deep-get($map, #{$key}, "width");
  //         max-width: 100%;
  //         height: auto;
  //         max-height: map-deep-get($map, #{$key}, "height");
  //         transition: all 1s;
  //       }

  //       .rotator3D__nav {
  //         width: (map-deep-get($map, #{$key}, "width") / 2);
  //       }
  //       @content;
  //     }
  //   }
  // }

  // @function map-deep-get($map, $keys...) {
  //   @each $key in $keys {
  //     $map: map-get($map, $key);
  //   }
  //   @return $map;
  // }

  // @each $key, $value in $breakpoints {
  //   @include rotate3dMaxWidths($rotate3d-sizes, $key, $value);

  // }
}
