.hs-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: 100%;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px;
  border-radius: 0.25rem
}

.hs-card>.hs-card_header {
  display: flex;
  padding: 0;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  width: 100%;
  height: 100%
}

.hs-card>.hs-card_header--sm {
  width: 265px;
  height: 177px
}

.hs-card>.hs-card_header--lg {
  width: 400px;
  height: 287px
}

.hs-card>.hs-card_header--fluid {
  width: 100%;
  height: 100%
}

.hs-card>.hs-card_header:first-child {
  border-radius: 0.125rem 0.125rem 0 0
}

.hs-card>.hs-card_header+.list-group .list-group_item:first-child {
  border-top: 0
}

.hs-card>.hs-card_header .hs-card_img-header_overlay,
.hs-card>.hs-card_header [class^=hs-card_img-headerr_overlay--] {
  position: relative
}

.hs-card>.hs-card_header .hs-card_img-header_overlay::before,
.hs-card>.hs-card_header [class^=hs-card_img-headerr_overlay--]::before {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(254, 209, 54, 0.1);
  opacity: 1;
  transition: all ease 0.3s;
  transform: translate(0%, 0%)
}

.hs-card>.hs-card_header .hs-card_img-header_overlay:hover::before,
.hs-card>.hs-card_header [class^=hs-card_img-headerr_overlay--]:hover::before {
  top: 0px;
  left: 0px;
  z-index: 99;
  width: 100%;
  height: 100%;
  color: #fff;
  content: "";
  background-color: rgba(254, 209, 54, 0.75);
  background-image: url("data:image/svg+xml;charset=utf-8, %3c?xml version='1.0'encoding='utf-8'?%3e%3c !-- generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version:6.00 Build 0) --%3e%3c !DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN''http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3e%3csvg version='1.1'id='Layer_1'xmlns='http://www.w3.org/2000/svg'xmlns:xlink='http://www.w3.org/1999/xlink'x='0px'y='0px'width='48px'height='48px'viewBox='0 0 48 48'enable-background='new 0 0 48 48'xml:space='preserve'%3e%3cpath fill='%23FFFFFF'd='M47,18.25H29.75V1h-11.5v17.25H1v11.5h17.25V47h11.5V29.75H47V18.25z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 48px;
  opacity: 1;
  transform: translate(0%, 0%)
}

.hs-card>.list-group {
  border-top: inherit;
  border-bottom: inherit
}

.hs-card>.list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: 0.125rem;
  border-top-right-radius: 0.125rem
}

.hs-card>.list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem
}

.hs-card>hr {
  margin-right: 0;
  margin-left: 0
}

.hs-card .hs-card_footer {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125)
}

.hs-card .hs-card_footer:last-child {
  border-radius: 0 0 0.125rem 0.125rem
}

.hs-card .hs-card_footer.dark {
  background-color: #0f161d
}

.hs-card .hs-card_footer .hs-logo-row--footer ul.flex-container.space-between {
  display: flex;
  align-items: center;
  max-width: 90%;
  padding: 0;
  margin: 0;
  list-style: none
}

.hs-card .hs-card_footer .hs-logo-row--footer ul.flex-container.space-between li.flex-item {
  display: inline-block;
  flex: 1 1 auto;
  width: auto
}

.hs-card_img-header_img {
  width: 100%;
  height: 100%
}

.hs-card_img-header_img--sm {
  width: 265px;
  height: 177px
}

.hs-card_img-header_img--lg {
  width: 400px;
  height: 287px
}

.hs-card_img-header_img--fluid {
  width: 100%;
  height: 100%
}

.hs-card_body {
  flex: 1 1 auto;
  width: 100%;
  width: 100%;
  min-height: 1px;
  background-color: #f8f8f8
}

.hs-card_content {
  width: 100%;
  padding: 1rem;
  line-height: 1;
  text-align: left;
  background-color: #fff
}

.hs-card_content.hs-card-size--sm {
  width: 100%
}

.hs-card_content.hs-card-size--sm .hs-card_title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.3rem
}

.hs-card_content.hs-card-size--sm .hs-card_subtitle {
  font-size: calc($hs-card-title--sm - 10%)
}

.hs-card_content.hs-card-size--lg {
  width: 100%
}

.hs-card_content.hs-card-size--lg .hs-card_title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.3rem
}

.hs-card_content.hs-card-size--lg .hs-card_subtitle {
  font-size: calc($hs-card-title--lg - 10%)
}

.hs-card_content.hs-card-size--fluid {
  width: 100%
}

.hs-card_content.hs-card-size--fluid .hs-card_title {
  margin-top: 1.5 rem;
  margin-bottom: 0;
  font-size: 2.3rem
}

.hs-card_content.hs-card-size--fluid .hs-card_subtitle {
  margin-top: 1.5 rem;
  margin-bottom: 1.5 rem;
  font-size: calc($hs-card-title--fluid - 10%)
}

.hs-card_title {
  margin-bottom: 0.75rem
}

.hs-card_subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0
}

.hs-card_linkhover {
  text-decoration: none
}

.hs-card_header {
  display: flex;
  padding: 0;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  width: 100%;
  height: 100%
}

.hs-card_header--sm {
  width: 265px;
  height: 177px
}

.hs-card_header--lg {
  width: 400px;
  height: 287px
}

.hs-card_header--fluid {
  width: 100%;
  height: 100%
}

.hs-card_header:first-child {
  border-radius: 0
}

.hs-card_header+.list-group .list-group_item:first-child {
  border-top: 0
}

.hs-card_header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0
}

.hs-card_header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem
}

.hs-card_img-header_overlay,
[class^=hs-card_img-headerr_overlay--] {
  position: relative
}

.hs-card_img-header_overlay::before,
[class^=hs-card_img-headerr_overlay--]::before {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(254, 209, 54, 0.1);
  opacity: 1;
  transition: all ease 0.3s;
  transform: translate(0%, 0%)
}

.hs-card_img-header_overlay:hover::before,
[class^=hs-card_img-headerr_overlay--]:hover::before {
  top: 0px;
  left: 0px;
  z-index: 99;
  width: 100%;
  height: 100%;
  color: #fff;
  content: "";
  background-color: rgba(254, 209, 54, 0.75);
  background-image: url("data:image/svg+xml;charset=utf-8, %3c?xml version='1.0'encoding='utf-8'?%3e%3c !-- generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version:6.00 Build 0) --%3e%3c !DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN''http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3e%3csvg version='1.1'id='Layer_1'xmlns='http://www.w3.org/2000/svg'xmlns:xlink='http://www.w3.org/1999/xlink'x='0px'y='0px'width='48px'height='48px'viewBox='0 0 48 48'enable-background='new 0 0 48 48'xml:space='preserve'%3e%3cpath fill='%23FFFFFF'd='M47,18.25H29.75V1h-11.5v17.25H1v11.5h17.25V47h11.5V29.75H47V18.25z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 48px;
  opacity: 1;
  transform: translate(0%, 0%)
}

.hs-card_img,
.hs-card_img--top,
.hs-card_img--bottom {
  flex-shrink: 0;
  width: 100%
}

.hs-card_img,
.hs-card_img--top {
  border-top-left-radius: 0.125rem;
  border-top-right-radius: 0.125rem
}

.hs-card_img,
.hs-card_img--bottom {
  border-bottom-right-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem
}

.hs-card-deck .hs-card {
  margin-bottom: 15px
}

@media (min-width: 576px) {
  .hs-card-deck {
    display: flex;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px
  }

  .hs-card-deck .hs-card {
    flex: 1 0 0%;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px
  }
}

@media (min-width: 576px) {
  .hs-card-group {
    display: flex;
    flex-flow: row wrap
  }

  .hs-card-group>.hs-card {
    flex: 1 0 0%;
    margin-bottom: 15px
  }

  .hs-card-group>.hs-card+.hs-card {
    margin-left: 0;
    border-left: 0
  }

  .hs-card-group>.hs-card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
  }

  .hs-card-group>.hs-card:not(:last-child) .hs-card-img--top,
  .hs-card-group>.hs-card:not(:last-child) .hs-card_header {
    border-top-right-radius: 0
  }

  .hs-card-group>.hs-card:not(:last-child) .hs-card_img--bottom,
  .hs-card-group>.hs-card:not(:last-child) .hs-card-footer {
    border-bottom-right-radius: 0
  }

  .hs-card-group>.hs-card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
  }

  .hs-card-group>.hs-card:not(:first-child) .hs-card-img--top,
  .hs-card-group>.hs-card:not(:first-child) .hs-card_header {
    border-top-left-radius: 0
  }

  .hs-card-group>.hs-card:not(:first-child) .hs-card_img--bottom,
  .hs-card-group>.hs-card:not(:first-child) .hs-card-footer {
    border-bottom-left-radius: 0
  }
}

@media (min-width: 576px) {
  .hs-card-columns {
    column-count: 3;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1
  }

  .hs-card-columns .hs-card {
    display: inline-block;
    width: 100%
  }
}

.hs-dev-logo {
  vertical-align: middle;
  filter: grayscale(80%);
  opacity: 0.5
}

.hs-logo-row--footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 96px;
  padding: 0.5rem
}

.hs-logo-row--footer .hs-dev-logo {
  width: 32px;
  vertical-align: middle
}

.hs-divider {
  display: flex;
  height: 30px
}

.hs-card_text:last-child {
  margin-bottom: 0
}

.hs-card_link+.hs-card_link {
  margin-left: 1.25rem
}

.hs-card-deck .hs-card {
  margin-bottom: 15px
}

.hs-card-group>.hs-card {
  margin-bottom: 15px
}

.hs-card_columns .hs-card {
  margin-bottom: 0.75rem
}

.accordion>.hs-card {
  overflow: hidden
}

.accordion>.hs-card:not(:last-of-type) {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0
}

.accordion>.hs-card:not(:first-of-type) {
  border-top-left-radius: 0;
  border-top-right-radius: 0
}

.accordion>.hs-card>.hs-card_header {
  border-radius: 0;
  margin-bottom: -1px
}
