@import "../../scss/vars";
@import "../../scss/components/components.buttons.scss";


@import '../../scss/components/mixins/settings';
@import "../../scss/components/mixins/_utilities.states.scss";

.hs-details-button {
  display: block;
  width: 100%;
  padding: $hs-spacing--xs;
  font-size: .8em;
  color: $hs-white;
  text-align: center;
  background-color: $hs-blueGray-light;

  &:hover {
    color: $hs-white;
    background-color: $hs-gray-lightest;
  }
}


