@import "../../scss/variables/bootstrap-utils";
@import "../../scss/vars";


@import '../../scss/components/mixins/settings';
@import "../../scss/components/mixins/_utilities.states.scss";


.hs-card-button {
  display: inline-block;
  height: 20px;
  padding: 2px 6px 4px 6px;
  margin: 0 auto;
  font-size: .8rem;
  line-height: 1;
  background-color: $hs-white;
  border: 2px solid transparent;
  box-shadow: $hs-shadow-sm;
  &:hover {
    background-color: lighten($hs-theme_primary, 30);
  }
  &:focus, &:active {
    background-color: lighten($hs-theme_primary, 30);
    border: 2px solid transparent;
    outline: 2px solid $hs-color_yellow--light;
  }
  // @include hs-button-variant($hs-theme-color-text, $hs-white_2, $hs-white_60);
}

