<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Portfolio website for Heath Shults - Web Developer Manager &amp; Director">
    <meta name="author" content="">

    <title>Heath Shults - Software Developer+</title>
    <script type="module" src="/components/heathenscript-ui-components.esm.js"></script>
    <script nomodule src="/components/heathenscript-ui-components.js"> </script>

    <!-- Bootstrap Core CSS -->
    <!-- <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom Fonts -->
    <link href="/assets/fa-5140/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Nothing+You+Could+Do&family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Theme CSS -->
    <link href="/assets/css/HeathStyle.built.css" rel="stylesheet">
    <link disabled id="darkmode" rel="stylesheet" href="/assets/css/theme-dark-mode.css">

    <script>
       var lsGetMode = localStorage.getItem('dark_mode')
       var dm_btn = document.getElementById('mode_widget')
      if (lsGetMode === "true") {
        document.querySelector('#darkmode').disabled = false;
        // document.querySelector('link[href="css/theme-dark-mode.css"]').disabled = false;
      }
    </script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>

    </style>
  </head>

  <body id="page-top" class="index" style="position: relative;">
     <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top hs-bg-grad-black-trans navbar-shrink" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger site-logo" href="#page-top">
          <i class="fa fa-fw" aria-hidden="true"></i>
          HeathShults.com
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
          aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars ml-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger active" href="#portfolio">Portfolio</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#team">Team</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
          </ul>
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item"><button class="mode-widget" id="mode-widget" ></button></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="d-flex align-items-stretch hs-header">
      <div class="container">
        <div class="hs-intro-text">
          <p style="height: 65px;">
            <span class="hs-intro-lead-in">Hello, I'm Heath.</span>
          </p>
          <p style="height: 95px;">
            <span class="hs-intro-heading">It's Nice To Meet You</span>
          </p>
          <p>
            <a href="#skills" class="js-scroll-trigger btn btn-xl ">Please... Come inside.</a>
          </p>
          <div id="m"></div>
          <script></script>
        </div>
      </div>
    </header>

    <!-- Services Section -->
    <section id="skills" class="hs-section hs-skills">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="wrapper">
              <div class="card">
                  <input type="checkbox" id="card1" class="more" aria-hidden="true">
                  <div class="content">
                      <div class="front" style="background-image: url('https://images.unsplash.com/photo-1529408686214-b48b8532f72c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=986e2dee5c1b488d877ad7ba1afaf2ec&auto=format&fit=crop&w=1350&q=80')">
                          <div class="inner">
                              <h2>Cozy apartment</h2>
                              <div class="rating">
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="far fa-star"></i>
                              </div>
                              <label for="card1" class="button" aria-hidden="true">
                                  Details
                              </label>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <div class="info">
                                  <span>5</span>
                                  <div class="icon">
                                      <i class="fas fa-users"></i>
                                      <span>people</span>
                                  </div>
                              </div>
                              <div class="info">
                                  <span>4</span>
                                  <div class="icon">
                                      <i class="fas fa-door-open"></i>
                                      <span>rooms</span>
                                  </div>
                              </div>
                              <div class="info">
                                  <span>3</span>
                                  <div class="icon">
                                      <i class="fas fa-bed"></i>
                                      <span>beds</span>
                                  </div>
                              </div>
                              <div class="info">
                                  <span>1</span>
                                  <div class="icon">
                                      <i class="fas fa-bath"></i>
                                      <span>bath</span>
                                  </div>
                              </div>
                              <div class="description">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, accusamus.</p>
                                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates earum nostrum ipsam
                                      ullam, reiciendis nam consectetur? Doloribus voluptate architecto possimus perferendis
                                      tenetur nemo amet temporibus, enim soluta nam, debitis.</p>
                              </div>
                              <div class="location">Warsaw, Poland</div>
                              <div class="price">38€ / day</div>
                              <label for="card1" class="button return" aria-hidden="true">
                                  <i class="fas fa-arrow-left"></i>
                              </label>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card">
                  <input type="checkbox" id="card2" class="more">
                  <div class="content">
                      <div class="front" style="background-image: url('https://images.unsplash.com/photo-1515263487990-61b07816b324?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c02fb96f9cfc16d3649835b75d1b2033&auto=format&fit=crop&w=1350&q=80')">
                          <div class="inner">
                              <h2>Modern flat</h2>
                              <div class="rating">
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star-half-alt"></i>
                                  <i class="far fa-star"></i>
                              </div>
                              <label for="card2" class="button" aria-hidden="true">
                                  Details
                              </label>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <div class="info">
                                  <span>4</span>
                                  <div class="icon">
                                      <i class="fas fa-users"></i>
                                      <span>people</span>
                                  </div>
                              </div>
                              <div class="info">
                                  <span>3</span>
                                  <div class="icon">
                                      <i class="fas fa-door-open"></i>
                                      <span>rooms</span>
                                  </div>
                              </div>
                              <div class="info">
                                  <span>2</span>
                                  <div class="icon">
                                      <i class="fas fa-bed"></i>
                                      <span>beds</span>
                                  </div>
                              </div>
                              <div class="info">
                                  <span>1</span>
                                  <div class="icon">
                                      <i class="fas fa-bath"></i>
                                      <span>bath</span>
                                  </div>
                              </div>
                              <div class="description">
                                  <p>
                                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem unde ea voluptas
                                      fuga
                                      odio vel veniam eveniet, explicabo autem earum?</p>
                                  <ul>
                                      <li>Lorem ipsum dolor sit amet.</li>
                                      <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                                      <li>Lorem ipsum dolor sit amet consectetur.</li>
                                      <li>Lorem ipsum dolor sit amet.</li>
                                  </ul>
                              </div>
                              <div class="location">Warsaw, Poland</div>
                              <div class="price">42€ / day</div>
                              <label for="card2" class="button return" aria-hidden="true">
                                  <i class="fas fa-arrow-left"></i>
                              </label>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card">
                  <input type="checkbox" id="card3" class="more">
                  <div class="content">
                      <div class="front" style="background-image: url('https://images.unsplash.com/photo-1529595354331-201ad3ae5e71?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6114533e2d0c1c81534fe13611dbfd76&auto=format&fit=crop&w=658&q=80')">
                          <div class="inner">
                              <h2>Luxury property</h2>
                              <div class="rating">
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                              </div>
                              <label for="card3" class="button" aria-hidden="true">
                                  Details
                              </label>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <div class="info">
                                  <span>8</span>
                                  <div class="icon">
                                      <i class="fas fa-users"></i>
                                      <span>people</span>
                                  </div>
                              </div>
                              <div class="info">
                                  <span>7</span>
                                  <div class="icon">
                                      <i class="fas fa-door-open"></i>
                                      <span>rooms</span>
                                  </div>
                              </div>
                              <div class="info">
                                  <span>5</span>
                                  <div class="icon">
                                      <i class="fas fa-bed"></i>
                                      <span>beds</span>
                                  </div>
                              </div>
                              <div class="info">
                                  <span>2</span>
                                  <div class="icon">
                                      <i class="fas fa-bath"></i>
                                      <span>baths</span>
                                  </div>
                              </div>
                              <div class="description">
                                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa libero
                                      totam nostrum consequatur autem quae provident quos alias fugit maxime nisi labore,
                                      temporibus tempore illo natus voluptates aliquam ipsum officia quasi placeat aut
                                      facilis
                                      laudantium nam!</p>
                                  <p>Quam, iusto.Neque ratione ut deserunt unde dicta nesciunt,
                                      repudiandae
                                      aspernatur explicabo numquam! Tenetur!</p>
                              </div>
                              <div class="location">Cracow, Poland</div>
                              <div class="price">60€ / day</div>
                              <label for="card3" class="button return" aria-hidden="true">
                                  <i class="fas fa-arrow-left"></i>
                              </label>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

        </div>
      </div>
    </section>

    <!-- Portfolio Grid Section -->


    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; HeathShults.com
              <script>document.write(new Date().getFullYear());</script>
            </span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li><a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li><a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li><a href="#">Privacy Policy</a>
              </li>
              <li><a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 p-5">
            <p style="font-size: 1.5rem; font-weight: 700;"><a href="http://www.freepik.com">THANK YOU Freepik!</a></p>
          </div>
        </div>
      </div>
    </footer>

  

    <!-- jQuery  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqBootstrapValidation/1.3.6/jqBootstrapValidation.min.js"></script>
    <!-- <script src="js/contact_me.js"></script> -->
    <script>
    // // ====== SHOWMORE ==== //
      let ShowMoreSettings =  {
            fbInitButtonText: 'Show More',
            fbOpenButtonText: 'Show Less',
            fbBoxHeight: '30px',
            fbHeight: '5px'
      };
      </script>
    <!-- Theme JavaScript -->
    <script src="/assets/js/HeathScript.built.js" type="module"></script>
    <!-- <script src="hScript.bundle.js"></script> -->

    <script>
      function showModal(modal) {
        document.querySelector(modal).show();
      }

      function closeModal(modal) {
        document.querySelector(modal).close();
      }
      $(document).ready(()=> {
        $(".hs-btn-showmore").text('show more')



        $(".hs-btn-showmore").click(function () {
          var targetID = $(this).attr('data-target')
          $(targetID).slideToggle('slow')

          $(this).text(function(i, v){
            return v === 'show more' ? 'show less' : 'show more'
          })
        });
      })
      // toggle card content
      // $(document).ready(()=> {
      //   $('.hs-btn-showmore').on('click', function (event, callback) {
      //     var targetID = $(this).attr('data-target')
      //     $(targetID).slideToggle('slow')

      //     $(this).text(function(i, v){
      //     return v === 'show more' ? 'show less' : 'show more!'
      //     })
      //   });

      // });
    </script>
    <script>
      //  onclick="javascript:showModal('#modBowlopolis');"
      // // ====== RANKING BARS
      var theBars = document.querySelectorAll('.hs-ranking-bar')
      theBars.forEach(aBar => {
        var barWidth = $(aBar).attr('aria-valuenow')
        $(aBar).attr('style',`width: ${barWidth}%`);
      });

      

      // theModals.forEach(modal => {
      //   modal.addEventListener('click', (e)=>{
      //     var targetModalID =  modal.getAttribute('data-target')
      //     console.log(targetModalID)
      //     console.log(document.getElementById(targetModalID))
      //     var tmodal = document.getElementById(targetModalID)
      //     tmodal.classList.toggle('is-open')
      //     // .classList.toggleClass('is-open')
      //   })
      // })

      // ====== NAV JS ====== //
      // $('a.js-page-scroll').bind('click', function(event) {
      //   var $anchor = $(this);
      //   $('html, body').stop().animate({
      //       scrollTop: ($($anchor.attr('href')).offset().top - 50)
      //   }, 1250, 'easeInOutExpo');
      //   event.preventDefault();
      //   });

        // Highlight the top nav as scrolling occurs
        // $('body').scrollspy({
        //     target: '.navbar-fixed-top',
        //     offset: 51
        // });

        // Closes the Responsive Menu on Menu Item Click
        // $('.navbar-collapse .navbar-nav .nav-item .nav-link').click(function(){
        //         $('.navbar-toggle:visible').click();
        // });

        // Offset for Main Navigation
        // $('#mainNav').affix({
        //     offset: {
        //         top: 100
        //     }
        // })

        // ** ====== MODE WIDHET ====== ** //
        // var $dm_btn = $('#mode_widget')
        // var lsGetMode = localStorage.getItem('dark_mode')

        // // set button text
        // $(document).ready(()=>{
        //   if (lsGetMode === 'fasle') {
        //     setModeText(true)
        //     //$dm_btn.html('<span class="which-mode">Dark Mode<span id="mode_icon" class="fa fa-moon-o mode-icon"></span></span>')
        //   } else {
        //     setModeText(false)
        //     // $dm_btn.html('<span class="which-mode">Light Mode<span id="mode_icon" class="fa fa-sun-o mode-icon"></span></span>')
        //   }
        // })

        // function setModeText(mode) {
        //   if (mode === 'true') {
        //     $dm_btn.html('<span class="which-mode"> Dark Mode<span id="mode_icon" class="fa fa-moon-o mode-icon"></span><span class="tiny-text">Enabled</span></span>')
        //   } else {
        //     $dm_btn.html('<span class="which-mode"> Light Mode<span id="mode_icon" class="fa fa-sun-o mode-icon"></span><span class="tiny-text">Enabled</span></span>')
        //   }
        // }

  // function setMode(mode) {
  //       localStorage.setItem('dark_mode', `${mode}`)
  //       document.querySelector('#darkmode').disabled = mode;

  //       if (mode === 'true') {
  //       document.querySelector('#darkmode').disabled = false;
  //       $dm_btn.html('<span class="which-mode"> Dark Mode<span id="mode_icon" class="fa fa-moon-o mode-icon"></span><span class="tiny-text">Enabled</span></span>')

  //       // document.querySelector('link[href="css/theme-dark-mode.css"]').disabled = false;
  //     } else {
  //       $dm_btn.html('<span class="which-mode"> Light Mode<span id="mode_icon" class="fa fa-sun-o mode-icon"></span><span class="tiny-text">Enabled</span></span>')
  //     }
  //   return setModeText(mode)
  // }

    // Theme switcher
    // $dm_btn.bind('click', (event) => {
    //     event.preventDefault()
    //     if (localStorage.getItem('dark_mode') === 'true') {
    //       setMode('false'), console.log('set to false')
    //     } else {
    //       setMode('true'), console.log('set to true')
    //     }
    //     return
    // })


    </script>
  </body>

</html>
