<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Portfolio website for Heath Shults - Web Developer Manager &amp; Director">
    <meta name="author" content="">

    <title>Heath Shults - Web Developer+</title>
    <script type="module" src="/build/heathenscript-ui-components.esm.js"></script>
    <script nomodule src="/build/heathenscript-ui-components.js"></script>

    <!-- Bootstrap Core CSS -->
    <!-- <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom Fonts -->
    <link href="/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Nothing+You+Could+Do&family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100&display=swap" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="/assets/css/HeathStyle.built.css" rel="stylesheet">
    <link disabled id="darkmode" rel="stylesheet" href="/assets/css/theme-dark-mode.built.css">

    <script>
       var lsGetMode = localStorage.getItem('dark_mode')
       var dm_btn = document.getElementById('mode_widget')
      if (lsGetMode === "true") {
        document.querySelector('#darkmode').disabled = false;
        // document.querySelector('link[href="css/theme-dark-mode.css"]').disabled = false;
      }
    </script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body id="page-top" class="index">
     <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top hs-bg-grad-black-trans" id="mainNav">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand js-scroll-trigger site-logo" href="#page-top"><span><span
            class="hs-brand-symbol">@</span><span>HeathShults.com</span></a></span></a>
      <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#team">Team</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <button class="hs-mode-widget" id="mode_widget"></button>
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
           <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      </div>
    </div>
  </div>
</nav>

    <!-- Header -->
    <header class="d-flex align-items-stretch hs-header">
      <div class="container">
        <div class="hs-intro-text">
          <p style="height: 65px;">
            <span class="hs-intro-lead-in">Hello, I'm Heath.</span>
          </p>
          <p style="height: 95px;">
            <span class="hs-intro-heading">It's Nice To Meet You</span>
          </p>
          <p>
            <a href="#skills" class="js-page-scroll btn btn-xl ">Please... Come inside.</a>
          </p>
          <div id="m"></div>
          <script></script>
        </div>
      </div>
    </header>
    <section class="hs-section" style="min-height: 600px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center text-color--white">
            <h2 class="hs-section-heading">HS-CAROUSEL</h2>
            <h3 class="hs-section-subheading"><strong class="font-bold-regular">simple & simple</strong></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center text-color--white">
          </div>
        </div>
        <div class="row text-center hs-card__row mt-4">
          <!-- Carousel 01 -->
          <div class="col-md-12">
            <hs-flipper flip-events="click" flip-back-events="click" flip-duration="350"
              flip-timing-function="ease-in-out">
              <div slot="front">
                <img src="https://i.imgur.com/fSZVrxp.png">
              </div>
              <div slot="back">
                <img src="https://i.imgur.com/lAx4qDA.png">
              </div>
            </hs-flipper>
          </div>
        </div>
      </div>
    </section>
    <section class="hs-section" style="min-height: 600px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center text-color--white">
            <h2 class="hs-section-heading">HS-CAROUSEL</h2>
            <h3 class="hs-section-subheading"><strong class="font-bold-regular">simple & simple</strong></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center text-color--white">

          </div>
        </div>
        <div class="row text-center hs-card__row mt-4">
          <!-- Carousel 01 -->
          <div class="col-md-12">
            <hs-carousel auto-play="false" show-buttons="true" show-thumbnails="true">
              <div class="hs-slide" data-thumb="https://pa.namshicdn.com/product/68/8181/1-cart.jpg">
                <img src="https://pa.namshicdn.com/product/68/8181/1-zoom.jpg">
              </div>
              <div class="hs-slide" data-thumb="https://pa.namshicdn.com/product/68/8181/2-cart.jpg">
                <img src="https://pa.namshicdn.com/product/68/8181/2-zoom.jpg">
              </div>
              <div class="hs-slide" data-thumb="https://pa.namshicdn.com/product/68/8181/3-cart.jpg">
                <img src="https://pa.namshicdn.com/product/68/8181/3-zoom.jpg">
              </div>
              <div class="hs-slide" data-thumb="https://pa.namshicdn.com/product/68/8181/4-cart.jpg">
                <img src="https://pa.namshicdn.com/product/68/8181/4-zoom.jpg">
              </div>
            </hs-carousel>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; HeathShults.com
              <script>document.write(new Date().getFullYear());</script>
            </span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li><a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li><a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li><a href="#">Privacy Policy</a>
              </li>
              <li><a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 p-5">
            <p style="font-size: 1.5rem; font-weight: 700;"><a href="http://www.freepik.com">THANK YOU Freepik!</a></p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <script>
      function showModal(modal) {
        document.querySelector(modal).show();
      }

      function closeModal(modal) {
        document.querySelector(modal).close();
      }
    </script>

    <!-- jQuery  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqBootstrapValidation/1.3.6/jqBootstrapValidation.min.js"></script>
    <!-- <script src="js/contact_me.js"></script> -->

    <!-- Theme JavaScript -->
    <script src="/assets/js/HeathScript.built.js" type="module"></script>
    <!-- <script src="hScript.bundle.js"></script> -->

    <script>
      //  onclick="javascript:showModal('#modBowlopolis');"
      // // ====== RANKING BARS
      var theBars = document.querySelectorAll('.hs-ranking-bar')
      theBars.forEach(aBar => {
        var barWidth = $(aBar).attr('aria-valuenow')
        $(aBar).attr('style',`width: ${barWidth}%`);
      });

      // // ====== SHOWMORE ==== //
      let ShowMoreSettings =  {
            fbInitButtonText: 'Show More',
            fbOpenButtonText: 'Show Less',
            boxHeight: '100vh'
      };

    </script>
  </body>

</html>
