
.hs-responsive-object {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.hs-responsive-object::before {
  display: block;
  content: "";
}

.hs-responsive-object .hs-responsive-object-item,
.hs-responsive-object iframe,
.hs-responsive-object embed,
.hs-responsive-object object,
.hs-responsive-object video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


/**
 * Aspect Ratios - Maintain aspect ratio on objects.
 * 16:9 (divide 9 by 16 = 0.5625)
 * 4:3 (divide 3 by 4 = 0.75)
 * 3:2 (divide 2 by 3 = 0.6666)
 *  1:1
 */
@each $ratios, $value in $aspect-ratios {
  .#{key} {
    &::before {
      padding-top: $value;
    }
  }
}

.hs-scale-proportionate {
  max-width: 100%;
  height: auto;
}
