
.hs-responsive-object {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.hs-responsive-object::before {
  display: block;
  content: "";
}

.hs-responsive-object .hs-responsive-object-item,
.hs-responsive-object iframe,
.hs-responsive-object embed,
.hs-responsive-object object,
.hs-responsive-object video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.hs-ratio {
  position: relative;
  width: 100%;

  &::before {
    display: block;
    padding-top: var(--aspect-ratio);
    content: "";
  }

  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@each $key, $ratio in $aspect-ratio {
  .hs-#{$key} {
    --aspect-ratio: #{$ratio};
  }
}
