// Override Bootstrap color system

$yellow: #fed136;

// Override Bootstrap default state colors

$primary: $yellow;

// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 205;

// Variables

$hs-color_red:                    #e2001a !default;
$hs-color_red_orange:             #f63a0f !default;
$hs-color_orange:                 #f27011 !default;
$hs-color_dark_yellow:            #f2b01e !default;
$hs-color_yellow:                 #f2d31b !default;
$hs-color_yellow--light:          #ffe659 !default;
$hs-color_yellow--dark:           #e2b900 !default;
$hs-color_lime:                   #86e01e !default;
$hs-color_light_lime:             #e7ffcb !default;
$hs-color_green:                  #4cd964 !default;
$hs-color_green--light:           #93ff7e !default;
$hs-color_green--dark:            #468c1f !default;
$hs-color_silver:                 #aaa !default;
$hs-color_purple:                 #9a39d3 !default;
$hs-color_turquoise:              #5ac8fa !default;
$hs-color_blue-semimuted:         #4997cd !default;


// Gray and Brand Colors for use across theme

$hs-theme-primary:                #fed136 !default;
$hs-theme-primary--trans50:       rgba(254, 211, 54, 0.5) !default;
$hs-theme-danger:                 #e74c3c !default;
$hs-theme-background-primary:      map-get($hs-default-colors, background-primary) !default;
$hs-theme-background-secondary:    map-get($hs-default-colors, background-secondary) !default;

$hs-black:                        #000 !default;
$hs-black_15:                     rgba(0, 0, 0, 0.15) !default;
$hs-black_25:                     rgba(0, 0, 0, 0.25) !default;
$hs-black_45:                     rgba(0, 0, 0, 0.45) !default;
$hs-black_50:                     rgba(0, 0, 0, 0.5) !default;
$hs-black_75:                     rgba(0, 0, 0, 0.75) !default;

$hs-gray-base:			              #111 !default;
$hs-gray-medium:                  #2f2f31 !default;
$hs-gray-darker:                  #333 !default;
$hs-gray-dark:			                lighten($hs-gray-base, 20%) !default;   // #333
$hs-gray:				                    lighten($hs-gray-base, 33.5%) !default; // #555
$hs-gray-light:		                  lighten($hs-gray-base, 46.7%) !default; // #777
$hs-gray-lighter:		              #dedede !default; // #dedede
$hs-gray-lighter-05:              #e9e9ed !default;
$hs-gray-lightest:		              lighten($hs-gray-base, 93.5%) !default; // #eee

$hs-white:                        #fff !default;
$hs-white_2:                      #f2f2f2 !default;
$hs-white_5:                      #f8f8f8 !default;
$hs-white_8:                      rgba(255, 255, 255, 0.08) !default;
$hs-white_10:                     rgba(255, 255, 255, 0.1) !default;
$hs-white_30:                     rgba(255, 255, 255, 0.3) !default;
$hs-white_60:                     rgba(255, 255, 255, 0.6) !default;
$hs-white_100:                    rgba(255, 255, 255, 1) !default;

// Dark Mode Colors
$hs-blueGray-medium:            #507386 !default;
$hs-blueGray-medium-muted:      #476e82 !default;
$hs-blueGray-medium-saturated:  #136591 !default;
$hs-blueGray-dark:              #0f161d !default;
$hs-blueGray-very-dark:         #181a1b !default; // #181a1b
$hs-blueGray-darker:            #0c0f11 !default;
$hs-blueGray-darker--alpha75:   rgba(12, 15, 17, 0.75) !default;
$hs-blueGray-light:             #2d373c !default;
$hs-text-onDark:                  map-get($hs-dark-mode-colors, text-onDark) !default;
$hs-green-light:                #80cc94 !default;
$hs-blue-light:                 #0291ca !default;
// $hs-blue-lighter:               #83d6ff !default;
// $hs-blue-lighter:               #83d6ff !default;
$hs-blue-lighter:               #78bad8 !default;
$hs-blue-lightest:              #a8dfff !default;
$hs-blue-light-muted:           #80b6cc !default; // or do #83d6ff
$hs-blue-lighter-muted:         #8ec1d9 !default;
$hs-blue-lightest-muted:        #9bcbe6 !default;
$hs-blue-dark:                  #1e364e !default;
$hs-link-primary:               $hs-theme-primary !default;

$hs-baige-light:               #cac1ac !default;
$hs-baige-medium:              #a79e8b !default;

$hs-theme-color-text:            $hs-gray-dark !default;
$hs-theme-color-text-onDark:     $hs-white !default;

$hs-font-cursive-Caveat:          'Caveat', cursive !default;
$hs-font-cursive-NYCD:            'Nothing You Could Do', cursive !default;
$hs-font-cursive-Sedgwick:        'Sedgwick Ave Display', cursive !default;

$hs-text-shadow-light:             0px 0px 4px rgba(0, 0, 0, .95) !default;
$hs-text-shadow-light-spread:      0px 4px 13px rgba(0, 0, 0, .75) !default;
$hs-text-shadow-medium:            0px 0px 10px rgba(0, 0, 0, .85) !default;

$hs-grid-columns:                12 !default;
$hs-grid-gutter-width:           30px !default;
$hs-grid-row-columns:            6 !default;

// Paddding & Margins Generics
$hs-spacing--sm:                 .5rem !default;
$hs-spacing--md:                 1rem !default;
$hs-spacing--lg:                 1.5 rem !default;

// Borders
$hs-border-width:                1px !default;
$hs-border-color:                $hs-gray-lighter !default;

$enable-rounded:                 true !default;

$hs-border-radius:               .25rem !default; // 4px
$hs-border-radius-sm:            .125rem !default; // 2px
$hs-border-radius-lg:            .5rem !default; //8px
$hs-border-radius-md:            .25% !default;


// Outer glow
$hs-box-shadow-glow:              0px 4px 16px 2px rgba(255, 255, 255, 0.5) !default;

// Shadows
$hs-shadow:                       0 0.5rem 1rem rgba(0, 0, 0, 0.15) !default;
$hs-shadow-heavy:                 2px 0.5rem 0.5rem rgba(0, 0, 0, 0.5) !default;
$hs-shadow-xs:                    2px 0.2rem 0.2rem rgba(0, 0, 0, 0.15) !default;
$hs-shadow-xs-reverse:            0 0.2rem 0.2rem rgba(0, 0, 0, 0.15) !default;
$hs-shadow-xs-center:             0 0.2rem 0.2rem rgba(0, 0, 0, 0.15) !default;
$hs-shadow-xs-center-reverse:     -2px 0.1rem 0.2rem rgba(0, 0, 0, 0.15) !default;
$hs-shadow-sm:                    0px 2px 4px 0px rgba(0, 0, 0, .5) !default;
$hs-shadow-lg:                    0px 4px 8px 3px rgba(0, 0, 0, .4) rgba(0, 0, 0, 0.4) !default;
$hs-shadow-inset-blue:            inset 0 0 0 2px #5173ff !default;
$hs-shadow-none:                  none !default;
$hs-card-shadow:                  0 4px 6px 2px rgba(0, 0, 0, 0.3) !default;

// Backgrounds
$hs-bg-black-to-transparent:      linear-gradient(0deg, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 1) 100%) !default;


// Cards

$hs-card-width: 100% !default;
$hs-card-height: 100% !default;
$hs-card-title: 2rem !default;
$hs-card-subtitle: calc($hs-card-title - 10%) !default;
$hs-card-img-width: $hs-card-width !default;
$hs-card-img-height: 100% !default;

$hs-card-width--sm: 265px !default;
$hs-card-title--sm: 1.3rem !default;
$hs-card-subtitle--sm: calc($hs-card-title--sm - 10%) !default;
$hs-card-img-width--sm: $hs-card-width--sm !default;
$hs-card-img-height--sm: 177px !default;

$hs-card-width--lg: 400px !default;
$hs-card-title--lg: 2.3rem !default;
$hs-card-subtitle--lg: calc($hs-card-title--lg - 10%) !default;
$hs-card-img-width--lg: $hs-card-width--lg !default;
$hs-card-img-height--lg: 287px !default;

$hs-card-width--fluid: 100% !default;
$hs-card-title--fluid: 2.4rem !default;
$hs-card-subtitle--fluid: calc($hs-card-title--fluid - 10%) !default;
$hs-card-img-width--fluid: $hs-card-width--fluid !default;
$hs-card-img-height--fluid: 100% !default;

$hs-card-margin: .5rem !default;

// Card padding - borders - margins
$hs-card-spacer-y:                     .75rem !default;
$hs-card-spacer-x:                     1.25rem !default;
$hs-card-border-width:                 $hs-border-width !default;
$hs-card-border-radius:                $hs-border-radius !default;
$hs-card-border-color:                 rgba($hs-black, .125) !default;
$hs-card-inner-border-radius:          $hs-border-radius-sm !default;
$hs-card-cap-bg:                       rgba($hs-black, .03) !default;
$hs-card-cap-color:                    null !default;
$hs-card-color:                        null !default;
$hs-card-bg:                           $hs-white !default;

$hs-card-img-overlay-padding:          1.25rem !default;

$hs-card-group-margin:                 $hs-grid-gutter-width / 2 !default;
$hs-card-deck-margin:                  $hs-card-group-margin !default;

$hs-card-columns-count:                3 !default;
$hs-card-columns-gap:                  1.25rem !default;
$hs-card-columns-margin:               $hs-card-spacer-y !default;

// ====== Z-INDEX ====== //
$hs-zindex-dropdown:          1000 !default;
$hs-zindex-sticky:            1020 !default;
$hs-zindex-fixed:             1030 !default;
$hs-zindex-modal-backdrop:    1040 !default;
$hs-zindex-modal:             1050 !default;
$hs-zindex-popover:           1060 !default;
$hs-zindex-tooltip:           1070 !default;

// ====== SHAPES ====== //
$hs-circle:                   50% !default;
$hs-pill:                     500% !default;
