:root{
  --hs-ns: "hs";
  --hs-black: #000;
  --hs-black--a15: rgba(0, 0, 0, 0.15);
  --hs-black--a25: rgba(0, 0, 0, 0.25);
  --hs-black--a45: rgba(0, 0, 0, 0.45);
  --hs-black--a50: rgba(0, 0, 0, 0.5);
  --hs-black--a75: rgba(0, 0, 0, 0.75);
  --hs-darken-tint: 15%;
  --hs-lighten-tint: 15%;
  --hs-lightnessMultiplier: 0.9;
  --hs-white: #fff;
  --hs-gray-50: #f2f2f2;
  --hs-gray-100: #f8f8f8;
  --hs-gray-200: #ebebeb;
  --hs-gray-300: #dee2e6;
  --hs-gray-400: #ced4da;
  --hs-gray-500: #adb5bd;
  --hs-gray-600: #6c757d;
  --hs-gray-700: #495057;
  --hs-gray-800: #343a40;
  --hs-gray-900: #212529;
  --hs-gray-950: #151515;
  --hs-black: #000;
  --hs-gray: var(--hs-gray-500);
  --hs-white--a08: rgba(255, 255, 255, 0.08);
  --hs-white--a10: rgba(255, 255, 255, 0.1);
  --hs-white--a30: rgba(255, 255, 255, 0.3);
  --hs-white--a60: rgba(255, 255, 255, 0.6);
  --yellow: #f2b01e;
  --hs-primary: --yellow;
  --hs-primary--a50: rgba(254, 211, 54, 0.486);
  --primary: --yellow;
  --hs-yiq-contrasted-threshold: 205;
  --yiq-contrasted-threshold: 205;
  --hs-blue: #0051bb;
  --hs-indigo: #766cff;
  --hs-purple: #5d0181;
  --hs-pink: #e83e8c;
  --hs-red: #cf162b;
  --hs-orange: #ff7505;
  --hs-yellow: #fed136;
  --hs-green: #008d4b;
  --hs-teal: #20c9bb;
  --hs-cyan: #05a0b8;
  --hs-primary: --hs-blue;
  --hs-secondary: --hs-gray-600;
  --hs-success: --hs-green;
  --hs-info: --hs-cyan;
  --hs-warning: --hs-yellow;
  --hs-danger: --hs-red;
  --hs-light: --hs-gray-100;
  --hs-dark: --hs-gray-900;
  --interaction-colors: ();
  --hs-min-contrast-ratio: 4.5;
  --hs-contrast-dark: --hs-black;
  --hs-contrast-light: --hs-white;
  --hs-blue-100: tint-color(var(--hs-blue), 80%);
  --hs-blue-200: tint-color(var(--hs-blue), 60%);
  --hs-blue-300: tint-color(var(--hs-blue), 40%);
  --hs-blue-400: tint-color(var(--hs-blue), 20%);
  --hs-blue-500: var(--hs-blue);
  --hs-blue-600: shade-color(var(--hs-blue), 20%);
  --hs-blue-700: shade-color(var(--hs-blue), 40%);
  --hs-blue-800: shade-color(var(--hs-blue), 60%);
  --hs-blue-900: shade-color(var(--hs-blue), 80%);
  --hs-indigo-100: tint-color(var(--hs-indigo), 80%);
  --hs-indigo-200: tint-color(var(--hs-indigo), 60%);
  --hs-indigo-300: tint-color(var(--hs-indigo), 40%);
  --hs-indigo-400: tint-color(var(--hs-indigo), 20%);
  --hs-indigo-500: var(--hs-indigo);
  --hs-indigo-600: shade-color(var(--hs-indigo), 20%);
  --hs-indigo-700: shade-color(var(--hs-indigo), 40%);
  --hs-indigo-800: shade-color(var(--hs-indigo), 60%);
  --hs-indigo-900: shade-color(var(--hs-indigo), 80%);
  --hs-purple-100: tint-color(var(--hs-purple), 80%);
  --hs-purple-200: tint-color(var(--hs-purple), 60%);
  --hs-purple-300: tint-color(var(--hs-purple), 40%);
  --hs-purple-400: tint-color(var(--hs-purple), 20%);
  --hs-purple-500: var(--hs-purple);
  --hs-purple-600: shade-color(var(--hs-purple), 20%);
  --hs-purple-700: shade-color(var(--hs-purple), 40%);
  --hs-purple-800: shade-color(var(--hs-purple), 60%);
  --hs-purple-900: shade-color(var(--hs-purple), 80%);
  --hs-pink-100: tint-color(var(--hs-pink), 80%);
  --hs-pink-200: tint-color(var(--hs-pink), 60%);
  --hs-pink-300: tint-color(var(--hs-pink), 40%);
  --hs-pink-400: tint-color(var(--hs-pink), 20%);
  --hs-pink-500: var(--hs-pink);
  --hs-pink-600: shade-color(var(--hs-pink), 20%);
  --hs-pink-700: shade-color(var(--hs-pink), 40%);
  --hs-pink-800: shade-color(var(--hs-pink), 60%);
  --hs-pink-900: shade-color(var(--hs-pink), 80%);
  --hs-red-100: tint-color(var(--hs-red), 80%);
  --hs-red-200: tint-color(var(--hs-red), 60%);
  --hs-red-300: tint-color(var(--hs-red), 40%);
  --hs-red-400: tint-color(var(--hs-red), 20%);
  --hs-red-500: var(--hs-red);
  --hs-red-600: shade-color(var(--hs-red), 20%);
  --hs-red-700: shade-color(var(--hs-red), 40%);
  --hs-red-800: shade-color(var(--hs-red), 60%);
  --hs-red-900: shade-color(var(--hs-red), 80%);
  --hs-orange-100: tint-color(var(--hs-orange), 80%);
  --hs-orange-200: tint-color(var(--hs-orange), 60%);
  --hs-orange-300: tint-color(var(--hs-orange), 40%);
  --hs-orange-400: tint-color(var(--hs-orange), 20%);
  --hs-orange-500: var(--hs-orange);
  --hs-orange-600: shade-color(var(--hs-orange), 20%);
  --hs-orange-700: shade-color(var(--hs-orange), 40%);
  --hs-orange-800: shade-color(var(--hs-orange), 60%);
  --hs-orange-900: shade-color(var(--hs-orange), 80%);
  --hs-yellow-100: tint-color(var(--hs-yellow), 80%);
  --hs-yellow-200: tint-color(var(--hs-yellow), 60%);
  --hs-yellow-300: tint-color(var(--hs-yellow), 40%);
  --hs-yellow-400: tint-color(var(--hs-yellow), 20%);
  --hs-yellow-500: var(--hs-yellow);
  --hs-yellow-600: shade-color(var(--hs-yellow), 20%);
  --hs-yellow-700: shade-color(var(--hs-yellow), 40%);
  --hs-yellow-800: shade-color(var(--hs-yellow), 60%);
  --hs-yellow-900: shade-color(var(--hs-yellow), 80%);
  --hs-green-100: tint-color(var(--hs-green), 80%);
  --hs-green-200: tint-color(var(--hs-green), 60%);
  --hs-green-300: tint-color(var(--hs-green), 40%);
  --hs-green-400: tint-color(var(--hs-green), 20%);
  --hs-green-500: var(--hs-green);
  --hs-green-600: shade-color(var(--hs-green), 20%);
  --hs-green-700: shade-color(var(--hs-green), 40%);
  --hs-green-800: shade-color(var(--hs-green), 60%);
  --hs-green-900: shade-color(var(--hs-green), 80%);
  --hs-teal-100: tint-color(var(--hs-teal), 80%);
  --hs-teal-200: tint-color(var(--hs-teal), 60%);
  --hs-teal-300: tint-color(var(--hs-teal), 40%);
  --hs-teal-400: tint-color(var(--hs-teal), 20%);
  --hs-teal-500: var(--hs-teal);
  --hs-teal-600: shade-color(var(--hs-teal), 20%);
  --hs-teal-700: shade-color(var(--hs-teal), 40%);
  --hs-teal-800: shade-color(var(--hs-teal), 60%);
  --hs-teal-900: shade-color(var(--hs-teal), 80%);
  --hs-cyan-100: tint-color(var(--hs-cyan), 80%);
  --hs-cyan-200: tint-color(var(--hs-cyan), 60%);
  --hs-cyan-300: tint-color(var(--hs-cyan), 40%);
  --hs-cyan-400: tint-color(var(--hs-cyan), 20%);
  --hs-cyan-500: var(--hs-cyan);
  --hs-cyan-600: shade-color(var(--hs-cyan), 20%);
  --hs-cyan-700: shade-color(var(--hs-cyan), 40%);
  --hs-cyan-800: shade-color(var(--hs-cyan), 60%);
  --hs-cyan-900: shade-color(var(--hs-cyan), 80%);
  --hs-background-primary: var(--hs-gray-50);
  --hs-background-secondary: var(--hs-gray-200);
  --hs-red-orange: #f63a0f;
  --hs-yellow--light: #ffe659;
  --hs-yellow--dark: #e2b900;
  --hs-yellow--darker: #f2b01e;
  --hs-lime--light: #e7ffcb;
  --hs-lime: #86e01e;
  --hs-green--light: #93ff7e;
  --hs-green--dark: #468c1f;
  --hs-green--darker: #28610f;
  --hs-silver: #aaa;
  --hs-turquoise: #5ac8fa;
  --hs-blue-semimuted: #4997cd;
  --hs-hsl-grey: hsl(207, 10%, 55%);
  --hs-hsl-grey-light: hsl(206, 13%, 79%);
  --hs-hsl-green: hsl(111, 51%, 60%);
  --hs-hsl-red: hsl(353, 76%, 50%);
  --hs-hsl-yellow: hsl(47, 85%, 61%);
  --hs-hsl-white: hsl(0, 0%, 100%);
  --hs-blueGray-medium: #507386;
  --hs-blueGray-medium-muted: #476e82;
  --hs-blueGray-medium-saturated: #136591;
  --hs-blueGray-dark: #1e2e3e;
  --hs-blueGray-very-dark: #181a1b;
  --hs-blueGray-darker: #0c0f11;
  --hs-blueGray-darker--alpha75: rgba(12, 15, 17, 0.75);
  --hs-blueGray-light: #2d373c;
  --hs-text-onDark: map-get(var(--hs-dark-mode-colors), text-onDark);
  --hs-green-light: #80cc94;
  --hs-blue-light: #0019d3;
  --hs-blue--lighter: #78bad8;
  --hs-blue--lightest: #a8dfff;
  --hs-blue--light-muted: #80b6cc;
  --hs-blue--lighter-muted: #8ec1d9;
  --hs-blue--lightest-muted: #9bcbe6;
  --hs-blue--light-shadow: #3ab1c3;
  --hs-blue--light-background: #117a8b;
  --hs-blue--dark: #1e364e;
  --hs-link--primary: var(--hs-primary);
  --hs-clip-background: content-box;
  --hs-baige-light: #cac1ac;
  --hs-baige-medium: #a79e8b;
  --hs-enable-caret: true;
  --hs-enable-rounded: true;
  --hs-enable-shadows: false;
  --hs-enable-gradients: false;
  --hs-enable-transitions: true;
  --hs-enable-reduced-motion: true;
  --hs-enable-smooth-scroll: true;
  --hs-enable-grid-classes: true;
  --hs-enable-button-pointers: true;
  --hs-enable-rfs: true;
  --hs-enable-validation-icons: true;
  --hs-enable-negative-margins: false;
  --hs-enable-deprecation-messages: true;
  --hs-enable-important-utilities: true;
  --hs-gradient: linear-gradient(180deg, rgba(--hs-white, .15), rgba(--hs-white, 0));
  --hs-body-bg: --hs-white;
  --hs-body-color: --hs-gray-900;
  --hs-body-text-align: null;
  --hs-link-color: --hs-yellow--dark;
  --hs-link-decoration: underline;
  --hs-link-shade-percentage: 20%;
  --hs-link-hover-color: shift-color(--hs-link-color, --hs-link-shade-percentage);
  --hs-link-hover-decoration: null;
  --hs-stretched-link-pseudo-element: after;
  --hs-stretched-link-z-index: 1;
  --hs-color-text: var(--hs-gray-700);
  --hs-color-text-onDark: var(--hs-white);
  --font-family-base: 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  --headings-font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', Arial, sans-serif, -apple-system, BlinkMacSystemFont;
  --subheadings-font-family: 'Roboto Slab', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', Arial, sans-serif, -apple-system, BlinkMacSystemFont;
  --font-family-script: Caveat, 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', Arial, sans-serif, -apple-system, BlinkMacSystemFont;
  --headings-font-weight: 700;
  --headings-letter-spacing: 0.0625em;
  --hs-font-primary: var(--font-family-base);
  --hs-font-secondary: var(--headings-font-family);
  --hs-font-serif: var(--subheadings-font-family);
  --hs-font-cursive-primary: var(--font-family-script);
  --hs-font-cursive-secondary: "Nothing You Could Do", cursive;
  --hs-font-cursive-Sedgwick: "Sedgwick Ave Display", cursive;
  --hs-font-size-root: 1rem;
  --hs-font-size-base: 1rem;
  --hs-font-size-lg: var(--hs-font-size-base) * 1.25;
  --hs-font-size-sm: var(--hs-font-size-base) * 0.875;
  --hs-font-weight-lighter: lighter;
  --hs-font-weight-light: 300;
  --hs-font-weight-normal: 400;
  --hs-font-weight-bold: 700;
  --hs-font-weight-bolder: bolder;
  --hs-font-weight-base: var(--hs-font-weight-normal);
  --hs-line-height-base: 1.5;
  --hs-h1-font-size: var(--hs-font-size-base) * 2.5;
  --hs-h2-font-size: var(--hs-font-size-base) * 2;
  --hs-h3-font-size: var(--hs-font-size-base) * 1.75;
  --hs-h4-font-size: var(--hs-font-size-base) * 1.5;
  --hs-h5-font-size: var(--hs-font-size-base) * 1.25;
  --hs-h6-font-size: var(--hs-font-size-base);
  --hs-spacing--xs: 0.25em;
  --hs-spacing--sm: 0.5em;
  --hs-spacing--md: 1em;
  --hs-spacing--lg: 1.5em;
  --hs-headings-margin-bottom: var(--hs-spacing--md) / 2;
  --hs-headings-font-family: null;
  --hs-headings-font-weight: 500;
  --hs-headings-line-height: 1.2;
  --hs-headings-color: null;
  --hs-display1-size: 6rem;
  --hs-display2-size: 5.5rem;
  --hs-display3-size: 4.5rem;
  --hs-display4-size: 3.5rem;
  --hs-display1-weight: 300;
  --hs-display2-weight: 300;
  --hs-display3-weight: 300;
  --hs-display4-weight: 300;
  --hs-display-line-height: var(--hs-headings-line-height);
  --hs-lead-font-size: var(--hs-font-size-base) * 1.25;
  --hs-lead-font-weight: 300;
  --hs-small-font-size: 80%;
  --hs-text-muted: var(--hs-white--a60);
  --hs-text-shadow-light: 0px 0px 4px rgba(0, 0, 0, 0.95);
  --hs-text-shadow-light-spread: 0px 4px 13px rgba(0, 0, 0, 0.75);
  --hs-text-shadow-medium: 0px 0px 10px rgba(0, 0, 0, 0.85);
  --hs-canvas: var(--hs-gray-100);
  --hs-surface: var(--hs-white);
  --hs-grid-columns: 12;
  --hs-grid-gutter-width: 30px;
  --hs-grid-row-columns: 6;
  --hs-border-width: 1px;
  --hs-border-color: var(--hs-gray-300);
  --hs-enable-rounded: true;
  --hs-border-radius: 0.25rem;
  --hs-border-radius-sm: 0.125rem;
  --hs-border-radius-lg: 0.5rem;
  --hs-border-radius-md: 0.25%;
  --hs-box-shadow-glow: 0px 4px 16px 2px rgba(255, 255, 255, 0.5);
  --hs-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --hs-shadow-md: 0px 3px 8px 2px rgba(0, 0, 0, 0.2);
  --hs-shadow-heavy: 2px 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
  --hs-shadow-xs: 2px 0.2rem 0.2rem rgba(0, 0, 0, 0.15);
  --hs-shadow-xs-reverse: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15);
  --hs-shadow-xs-center: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15);
  --hs-shadow-xs-center-xtra: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15), 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15);
  --hs-shadow-xs-center-reverse: -2px 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
  --hs-shadow-sm: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  --hs-shadow-lg: 0px 4px 8px 3px rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.4);
  --hs-shadow-inset-blue: inset 0 0 0 2px #5173ff;
  --hs-shadow-none: none;
  --hs-card-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.45), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --hs-card-shadow-2: 0 4px 6px 2px rgba(0, 0, 0, 0.3);
  --hs-button-shadow-nocolor: 0px 1px 5px 1px;
  --hs-button-focus: var(--hs-button-shadow-nocolor) --hs-primary--a50;
  --hs-button-secondary-focus: var(--hs-button-shadow-nocolor) --hs-gray-600;
  --hs-button-success-shadow: var(--hs-button-shadow-nocolor) rgba(darken(--hs-green--darker, 5%), 45%);
  --hs-button-info-shadow: var(--hs-button-shadow-nocolor) rgba(darken(--hs-blue--light-shadow, 5%), 45%);
  --hs-button-warning-shadow: var(--hs-button-shadow-nocolor) rgba(darken(--hs-orange, 5%), 45%);
  --hs-button-danger-shadow: var(--hs-button-shadow-nocolor) rgba(darken(--hs-red, 5%), 45%);
  --hs-bg-black-to-transparent: linear-gradient(0deg, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 1) 100%);
  --hs-card-width: 100%;
  --hs-card-height: 350px;
  --hs-card-title: 200%;
  --hs-card-subtitle: calc(var(--hs-card-title) - 10%);
  --hs-card-img-width: var(--hs-card-width);
  --hs-card-img-height: auto;
  --hs-card-width--sm: 265px;
  --hs-card-title--sm: 1.1rem;
  --hs-card-subtitle--sm: calc(var(--hs-card-title--sm) - 10%);
  --hs-card-img-width--sm: 100%;
  --hs-card-img-height--sm: auto;
  --hs-card-width--lg: 400px;
  --hs-card-title--lg: 2.3rem;
  --hs-card-subtitle--lg: calc(var(--hs-card-title--lg) - 10%);
  --hs-card-img-width--lg: var(--hs-card-width--lg);
  --hs-card-img-height--lg: auto;
  --hs-card-margin: 0.5rem;
  --hs-card-spacer-y: 0.75rem;
  --hs-card-spacer-x: 1.25rem;
  --hs-card-border-width: var(--hs-border-width);
  --hs-card-border-radius: var(--hs-border-radius);
  --hs-card-border-color: rgba(var(--hs-black), 0.125);
  --hs-card-inner-border-radius: var(--hs-border-radius-sm);
  --hs-card-cap-bg: rgba(var(--hs-black), 0.03);
  --hs-card-cap-color: null;
  --hs-card-color: null;
  --hs-card-bg: var(--hs-gray-100);
  --hs-card-bg--dark: var(--hs-blueGray-dark);
  --hs-card-header-bg: var(--hs-white);
  --hs-card-body-bg: var(--hs-gray-400);
  --hs-card-content-bg: var(--hs-white);
  --hs-card-footer-bg: var(--hs-white);
  --hs-card-img-overlay-padding: 1.25rem;
  --hs-card-group-margin: var(--hs-grid-gutter-width) / 2;
  --hs-card-deck-margin: var(--hs-card-group-margin);
  --hs-card-columns-count: 3;
  --hs-card-columns-gap: 1.25rem;
  --hs-card-columns-margin: var(--hs-card-spacer-y);
  --hs-zindex-dropdown: 1000;
  --hs-zindex-sticky: 1020;
  --hs-zindex-fixed: 1030;
  --hs-zindex-modal-backdrop: 1040;
  --hs-zindex-modal: 1050;
  --hs-zindex-popover: 1060;
  --hs-zindex-tooltip: 1070;
  --hs-circle: 50%;
  --hs-pill: 500%;
  --hs-ratio-16-9: 56.25%;
  --hs-ratio-4-3: 75%;
  --hs-ratio-3-2: 66.66%;
  --hs-ratio-1-1: 100%;
}
