:root{
  --hs-ns: "hs";
  --hs-black: #000;
  --hs-black--a15: rgba(0, 0, 0, 0.15);
  --hs-black--a25: rgba(0, 0, 0, 0.25);
  --hs-black--a45: rgba(0, 0, 0, 0.45);
  --hs-black--a50: rgba(0, 0, 0, 0.5);
  --hs-black--a75: rgba(0, 0, 0, 0.75);
  --hs-theme-darken-tint: 15%;
  --hs-theme-lighten-tint: 15%;
  --hs-lightnessMultiplier: 0.9;
  --hs-white: #fff;
  --hs-gray-50: #f2f2f2;
  --hs-gray-100: #f8f8f8;
  --hs-gray-200: #ebebeb;
  --hs-gray-300: #dee2e6;
  --hs-gray-400: #ced4da;
  --hs-gray-500: #adb5bd;
  --hs-gray-600: #6c757d;
  --hs-gray-700: #495057;
  --hs-gray-800: #343a40;
  --hs-gray-900: #212529;
  --hs-gray-950: #151515;
  --hs-black: #000;
  --hs-gray: var(--hs-gray-500);
  --hs-white--a08: rgba(255, 255, 255, 0.08);
  --hs-white--a10: rgba(255, 255, 255, 0.1);
  --hs-white--a30: rgba(255, 255, 255, 0.3);
  --hs-white--a60: rgba(255, 255, 255, 0.6);
  --yellow: #fed136;
  --primary: var(--yellow);
  --yiq-contrasted-threshold: 205;
  --hs-color-red: #e12036;
  --hs-color-pink: #e83e8c;
  --hs-color-red-orange: #f63a0f;
  --hs-color-orange: #f27011;
  --hs-color-yellow--light: #ffe659;
  --hs-color-yellow: #fed136;
  --hs-color-yellow--dark: #e2b900;
  --hs-color-yellow--darker: #f2b01e;
  --hs-color-lime--light: #e7ffcb;
  --hs-color-lime: #86e01e;
  --hs-color-green--light: #93ff7e;
  --hs-color-green: #28a745;
  --hs-color-green--dark: #468c1f;
  --hs-color-green--darker: #28610f;
  --hs-color-teal: #20c997;
  --hs-color-silver: #aaa;
  --hs-color-purple: #6f42c1;
  --hs-color-cyan: #17a2b8;
  --hs-color-turquoise: #5ac8fa;
  --hs-color-blue-semimuted: #4997cd;
  --hs-color-blue: #007bff;
  --hs-color-indigo: #6610f2;
  --hs-hsl-grey: hsl(207, 10%, 55%);
  --hs-hsl-grey-light: hsl(206, 13%, 79%);
  --hs-hsl-green: hsl(111, 51%, 60%);
  --hs-hsl-red: hsl(353, 76%, 50%);
  --hs-hsl-yellow: hsl(47, 85%, 61%);
  --hs-hsl-white: hsl(0, 0%, 100%);
  --hs-theme-primary: var(--hs-color-yellow);
  --hs-theme-primary--a50: rgba(254, 211, 54, 0.5);
  --hs-theme-secondary: var(--hs-gray-600);
  --hs-theme-success: var(--hs-color-green);
  --hs-theme-info: #17a2b8;
  --hs-theme-danger: #e74c3c;
  --hs-theme-warning: #007bff;
  --hs-theme-background-primary: var(--hs-gray-50);
  --hs-theme-background-secondary: var(--hs-gray-200);
  --hs-blueGray-medium: #507386;
  --hs-blueGray-medium-muted: #476e82;
  --hs-blueGray-medium-saturated: #136591;
  --hs-blueGray-dark: #1e2e3e;
  --hs-blueGray-very-dark: #181a1b;
  --hs-blueGray-darker: #0c0f11;
  --hs-blueGray-darker--alpha75: rgba(12, 15, 17, 0.75);
  --hs-blueGray-light: #2d373c;
  --hs-text-onDark: map-get(var(--hs-dark-mode-colors), text-onDark);
  --hs-green-light: #80cc94;
  --hs-blue-light: #0019d3;
  --hs-blue--lighter: #78bad8;
  --hs-blue--lightest: #a8dfff;
  --hs-blue--light-muted: #80b6cc;
  --hs-blue--lighter-muted: #8ec1d9;
  --hs-blue--lightest-muted: #9bcbe6;
  --hs-blue--light-shadow: #3ab1c3;
  --hs-blue--light-background: #117a8b;
  --hs-blue--dark: #1e364e;
  --hs-link--primary: var(--hs-theme-primary);
  --hs-clip-background: content-box;
  --hs-baige-light: #cac1ac;
  --hs-baige-medium: #a79e8b;
  --hs-theme-color-text: var(--hs-gray-700);
  --hs-theme-color-text-onDark: var(--hs-white);
  --hs-font-primary: "Roboto", sans-serif;
  --hs-font-secondary: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --hs-font-serif: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --hs-font-cursive-Caveat: "Caveat", cursive;
  --hs-font-cursive-NYCD: "Nothing You Could Do", cursive;
  --hs-font-cursive-Sedgwick: "Sedgwick Ave Display", cursive;
  --hs-font-size-base: 1rem;
  --hs-font-size-lg: var(--hs-font-size-base) * 1.25;
  --hs-font-size-sm: var(--hs-font-size-base) * 0.875;
  --hs-font-weight-lighter: lighter;
  --hs-font-weight-light: 300;
  --hs-font-weight-normal: 400;
  --hs-font-weight-bold: 700;
  --hs-font-weight-bolder: bolder;
  --hs-font-weight-base: var(--hs-font-weight-normal);
  --hs-line-height-base: 1.5;
  --hs-h1-font-size: var(--hs-font-size-base) * 2.5;
  --hs-h2-font-size: var(--hs-font-size-base) * 2;
  --hs-h3-font-size: var(--hs-font-size-base) * 1.75;
  --hs-h4-font-size: var(--hs-font-size-base) * 1.5;
  --hs-h5-font-size: var(--hs-font-size-base) * 1.25;
  --hs-h6-font-size: var(--hs-font-size-base);
  --hs-spacing--xs: 0.25em;
  --hs-spacing--sm: 0.5em;
  --hs-spacing--md: 1em;
  --hs-spacing--lg: 1.5em;
  --hs-headings-margin-bottom: var(--hs-spacing--md) / 2;
  --hs-headings-font-family: null;
  --hs-headings-font-weight: 500;
  --hs-headings-line-height: 1.2;
  --hs-headings-color: null;
  --hs-display1-size: 6rem;
  --hs-display2-size: 5.5rem;
  --hs-display3-size: 4.5rem;
  --hs-display4-size: 3.5rem;
  --hs-display1-weight: 300;
  --hs-display2-weight: 300;
  --hs-display3-weight: 300;
  --hs-display4-weight: 300;
  --hs-display-line-height: var(--hs-headings-line-height);
  --hs-lead-font-size: var(--hs-font-size-base) * 1.25;
  --hs-lead-font-weight: 300;
  --hs-small-font-size: 80%;
  --hs-text-muted: var(--hs-white--a60);
  --hs-text-shadow-light: 0px 0px 4px rgba(0, 0, 0, 0.95);
  --hs-text-shadow-light-spread: 0px 4px 13px rgba(0, 0, 0, 0.75);
  --hs-text-shadow-medium: 0px 0px 10px rgba(0, 0, 0, 0.85);
  --hs-canvas: var(--hs-gray-100);
  --hs-surface: var(--hs-white);
  --hs-grid-columns: 12;
  --hs-grid-gutter-width: 30px;
  --hs-grid-row-columns: 6;
  --hs-border-width: 1px;
  --hs-border-color: var(--hs-gray-300);
  --enable-rounded: true;
  --hs-border-radius: 0.25rem;
  --hs-border-radius-sm: 0.125rem;
  --hs-border-radius-lg: 0.5rem;
  --hs-border-radius-md: 0.25%;
  --hs-box-shadow-glow: 0px 4px 16px 2px rgba(255, 255, 255, 0.5);
  --hs-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --hs-shadow-md: 0px 3px 8px 2px rgba(0, 0, 0, 0.2);
  --hs-shadow-heavy: 2px 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
  --hs-shadow-xs: 2px 0.2rem 0.2rem rgba(0, 0, 0, 0.15);
  --hs-shadow-xs-reverse: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15);
  --hs-shadow-xs-center: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15);
  --hs-shadow-xs-center-xtra: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15), 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15);
  --hs-shadow-xs-center-reverse: -2px 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
  --hs-shadow-sm: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  --hs-shadow-lg: 0px 4px 8px 3px rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.4);
  --hs-shadow-inset-blue: inset 0 0 0 2px #5173ff;
  --hs-shadow-none: none;
  --hs-card-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.45), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --hs-card-shadow-2: 0 4px 6px 2px rgba(0, 0, 0, 0.3);
  --hs-button-shadow-nocolor: 0px 1px 5px 1px;
  --hs-button-focus: var(--hs-button-shadow-nocolor) --hs-theme-primary--a50;
  --hs-button-secondary-focus: var(--hs-button-shadow-nocolor) --hs-gray-600;
  --hs-button-success-shadow: var(--hs-button-shadow-nocolor) rgba(darken(--hs-color-green--darker, 5%), 45%);
  --hs-button-info-shadow: var(--hs-button-shadow-nocolor) rgba(darken(--hs-blue--light-shadow, 5%), 45%);
  --hs-button-warning-shadow: var(--hs-button-shadow-nocolor) rgba(darken(--hs-color-orange, 5%), 45%);
  --hs-button-danger-shadow: var(--hs-button-shadow-nocolor) rgba(darken(--hs-color-red, 5%), 45%);
  --hs-bg-black-to-transparent: linear-gradient(0deg, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 1) 100%);
  --hs-card-width: 100%;
  --hs-card-height: 350px;
  --hs-card-title: 200%;
  --hs-card-subtitle: calc(var(--hs-card-title) - 10%);
  --hs-card-img-width: var(--hs-card-width);
  --hs-card-img-height: auto;
  --hs-card-width--sm: 265px;
  --hs-card-title--sm: 1.1rem;
  --hs-card-subtitle--sm: calc(var(--hs-card-title--sm) - 10%);
  --hs-card-img-width--sm: 100%;
  --hs-card-img-height--sm: auto;
  --hs-card-width--lg: 400px;
  --hs-card-title--lg: 2.3rem;
  --hs-card-subtitle--lg: calc(var(--hs-card-title--lg) - 10%);
  --hs-card-img-width--lg: var(--hs-card-width--lg);
  --hs-card-img-height--lg: auto;
  --hs-card-margin: 0.5rem;
  --hs-card-spacer-y: 0.75rem;
  --hs-card-spacer-x: 1.25rem;
  --hs-card-border-width: var(--hs-border-width);
  --hs-card-border-radius: var(--hs-border-radius);
  --hs-card-border-color: rgba(var(--hs-black), 0.125);
  --hs-card-inner-border-radius: var(--hs-border-radius-sm);
  --hs-card-cap-bg: rgba(var(--hs-black), 0.03);
  --hs-card-cap-color: null;
  --hs-card-color: null;
  --hs-card-bg: var(--hs-gray-100);
  --hs-card-bg--dark: var(--hs-blueGray-dark);
  --hs-card-header-bg: var(--hs-white);
  --hs-card-body-bg: var(--hs-gray-400);
  --hs-card-content-bg: var(--hs-white);
  --hs-card-footer-bg: var(--hs-white);
  --hs-card-img-overlay-padding: 1.25rem;
  --hs-card-group-margin: var(--hs-grid-gutter-width) / 2;
  --hs-card-deck-margin: var(--hs-card-group-margin);
  --hs-card-columns-count: 3;
  --hs-card-columns-gap: 1.25rem;
  --hs-card-columns-margin: var(--hs-card-spacer-y);
  --hs-zindex-dropdown: 1000;
  --hs-zindex-sticky: 1020;
  --hs-zindex-fixed: 1030;
  --hs-zindex-modal-backdrop: 1040;
  --hs-zindex-modal: 1050;
  --hs-zindex-popover: 1060;
  --hs-zindex-tooltip: 1070;
  --hs-circle: 50%;
  --hs-pill: 500%;
  --hs-ratio-16-9: 56.25%;
  --hs-ratio-4-3: 75%;
  --hs-ratio-3-2: 66.66%;
  --hs-ratio-1-1: 100%;
}
