@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Montserrat:wght@400;600;700&family=Nothing+You+Could+Do&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: 'Digital-7';
  font-style: normal;
  font-weight: normal;
  src:
    url('/assets/webfonts/Digital-7.woff2') format('woff2'),
    url('/assets/webfonts/Digital-7.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Digital-7';
  font-style: italic;
  font-weight: normal;
  src:
    url('/assets/webfonts/Digital-7Italic.woff2') format('woff2'),
    url('/assets/webfonts/Digital-7Italic.woff') format('woff');
  font-display: swap;
}
