// --------------------------------

// Max-Width

// --------------------------------

:root {
  --max-width-xxxxs: 20rem;  // ~320px
  --max-width-xxxs: 26rem;  // ~416px
  --max-width-xxs: 32rem;  // ~512px
  --max-width-xs: 38rem;  // ~608px
  --max-width-sm: 48rem;  // ~768px
  --max-width-md: 64rem;  // ~1024px
  --max-width-lg: 80rem;  // ~1280px
  --max-width-xl: 90rem;  // ~1440px
  --max-width-xxl: 100rem; // ~1600px
  --max-width-xxxl: 120rem; // ~1920px
  --max-width-xxxxl: 150rem; // ~2400px
}

.max-width-xxxxs { max-width: var(--max-width-xxxxs); }
.max-width-xxxs  { max-width: var(--max-width-xxxs); }
.max-width-xxs   { max-width: var(--max-width-xxs); }
.max-width-xs    { max-width: var(--max-width-xs); }
.max-width-sm    { max-width: var(--max-width-sm); }
.max-width-md    { max-width: var(--max-width-md); }
.max-width-lg    { max-width: var(--max-width-lg); }
.max-width-xl    { max-width: var(--max-width-xl); }
.max-width-xxl   { max-width: var(--max-width-xxl); }
.max-width-xxxl  { max-width: var(--max-width-xxxl); }
.max-width-xxxxl { max-width: var(--max-width-xxxxl); }
.max-width-100\% { max-width: 100%; }

// alt approach - max-width is equal to current breakpoint
$breakpointsNr: length($breakpoints);
@each $breakpoint, $value in $breakpoints {
  $i: index($breakpoints, $breakpoint $value);
  @if $i == 1 {
    [class*="max-width-adaptive"] {
      max-width: map-get($map: $breakpoints, $key: #{$breakpoint});
    }
  } @else {
    $classList : '';
    @each $subBreakpoint, $subValue in $breakpoints {
      $j: index($breakpoints, $subBreakpoint $subValue);
      @if $j == $i {
        $classList: '.max-width-adaptive-#{$subBreakpoint}';
      } @else if $j > $i {
        $classList: $classList+', .max-width-adaptive-#{$subBreakpoint}';
      }
    }
    @if $i < $breakpointsNr {
      $classList: $classList+', .max-width-adaptive';
    }
    @include breakpoint(#{$breakpoint}) {
      #{$classList} {
        max-width: map-get($map: $breakpoints, $key: #{$breakpoint});
      }
    }
  }
}

// --------------------------------

// Max-Height

// --------------------------------

.max-height-100\% { max-height: 100%; }
.max-height-100vh { max-height: 100vh; }
